<h1>媒体商品相册列表</h1>

<table>
  <tr>
    <th><%= t('attributes.sku_image.name') %></th>
    <th><%= t('attributes.sku_image.image_description') %></th>
    <th><%= t('attributes.sku_image.is_main') %></th>
    <th><%= t('attributes.sku_image.sort') %></th>
    <th></th>
  </tr>

<% @sku_images.each do |sku_image| %>
  <tr>
    <td><%= sku_image.name %></td>
    <td><%= sku_image.image_description %></td>
    <td><%= sku_image.is_main %></td>
    <td><%= sku_image.sort %></td>
    <td><%= image_tag sku_image.image.url %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加图片', new_admin_sku_image_path %> |
<%= link_to '确定', admin_skus_path %>
