<thead>
  <tr>
    <th>#</th>
    <th>商品编号</th>
    <th>商品名称</th>
    <th>单位</th>
    <th>单价</th>
    <th>数量</th>
    <th>安装</th>
    <th>安装费用</th>
    <th>组装</th>
    <th>组装费用</th>
    <th>交货期</th>
    <th>合计</th>
    <th>最小可销售数量</th>
    <th>操作</th>
  </tr>
</thead>
<tbody id="order_details">
  <% @order.order_details.each_with_index do |detail,index| %>
    <tr class="<%= set_odd_even_class(index) %>">
      <td><%= index+1 %></td>
      <td><%= detail.sku.number %></td>
      <td><%= detail.sku.name %></td>
      <td><%= detail.sku.unit %></td>
      <td><%= detail.promotion_unit_price %></td>
      <td><%= text_field_tag :quantity, detail.quantity, :size => 3, :class=> "order_details_quantity", :'data-id' => "#{detail.id}" %></td>
      <td><%= format_is_need(detail.is_need_install) %></td>
      <td><%= detail.promotion_installation_cost %></td>
      <td><%= format_is_need(detail.is_need_assemble) %></td>
      <td><%= detail.promotion_assembling_fee %></td>
      <td><%= detail.sku.delivery_day %></td>
      <td><%= detail.promotion_subtotal %></td>
      <td><%= detail.sku.available_skus(@order.user.store_id) %></td>
      <td><%= link_to '删除', admin_order_detail_path(detail), :confirm => '确定删除?', :method => :delete, :remote => true %></td>
    </tr>
  <% end %>
</tbody>
<tfoot>
  <tr>
     <td colspan="14" id="order_price">
        <%= render "order/back_orders/price_info_edit" %>
     </td>
  </tr>
</tfoot>