<div class="well">
  <a href="<%= edit_admin_brand_path(@brand) %>" class="btn btn-primary" id="update_tag">
    <i class="icon-edit"></i>
    <%= t('admin.actions.edit.menu') %>
  </a>

  <a href="<%= admin_brand_path(@brand) %>" class="btn btn-danger" id="destroy_tag"
     data-method="delete" data-confirm="<%= t('admin.actions.delete.confirm') %>">
    <i class="icon-remove-sign"></i>
    <%= t('admin.actions.delete.menu') %>
  </a>

  <%= link_to "<i class='icon-arrow-left'></i> #{t('admin.misc.back')}".html_safe, admin_brands_path, 
              :class => "btn pull-right" %>
</div>

<%= flash_messages %>

<%= simple_form_for(@brand, :url => "#", :html => {:multipart=>true, :class => 'form-horizontal'})  do |f| %>
  <fieldset>
    <div class="control-group">
      <label class="control-label"><%= t 'activerecord.attributes.taurus/brand.image' %></label>
      <div class="controls">
        <%= image_tag @brand.image.url %>
      </div>
    </div> 
    <%= f.input :chinese_name, :disabled => true %>
    <%= f.input :english_name, :disabled => true %>
    <%= f.input :pinyin, :disabled => true %>
    <%= f.input :web_address, :disabled => true %>
    <%= f.input :company_name, :disabled => true %>
    <%= f.input :company_description, :input_html => { :rows => 5 }, :disabled => true %>
    <%= f.input :status, :disabled => true %>
  </fieldset>
<% end %>