<fieldset>
  <%= f.fields_for :order_delivery do |d_f| %>
    <%= d_f.input :attention %>
    <%= d_f.input :district_id, :as => :area %>
    <%= d_f.input :address %>
    <%= d_f.input :telephone %>
    <%= d_f.input :mobile %>

  <% end %>

  <%= f.fields_for :order_payment do |p_f| %>
     <%= p_f.association :payment_method, :include_blank => false %>
     <%= p_f.input :receipt_type, :collection => Taurus::OrderPayment::RECEIPT_TYPE, 
                   :value_method => :first, :label_method => :second,
                   :item_wrapper_class => 'inline', :as => :radio  %>

    <div id="receipt"></div>

    <script type="text/javascript">
      $("#order_order_payment_attributes_receipt_type_0").click(function(){
        $("#receipt").html("");
      });

      $("#order_order_payment_attributes_receipt_type_1").click(function(){
        $("#receipt").html("");
      });

      $("#order_order_payment_attributes_receipt_type_2").click(function(){
        $("#receipt").html('<%= p_f.input :receipt_title, :required => true %>');
      });

      $("#order_order_payment_attributes_receipt_type_3").click(function(){
        $("#receipt").html('<%= j(
          (p_f.input :receipt_title, :required => true)+
          (p_f.input :bank_name, :required => true)+
          (p_f.input :company_name, :required => true)+
          (p_f.input :bank_account, :required => true)+
          (p_f.input :vat_number, :required => true)+
          (p_f.input :registered_telephone, :required => true)+
          (p_f.input :registered_address, :required => true)
        ) %>');
      });

      $("#order_order_payment_attributes_receipt_type_<%= @order.order_payment.receipt_type %>").click();
    </script>
                  

  <% end %>

  

  <div class="form-actions">
    <%= link_to "返回购物车", index_cart_product_line_items_path, :class => "btn btn-primary" %>
    <%= f.button :submit, :value => "预览", :class => "btn btn-primary" %>
  </div>
</fieldset>