<%= simple_form_for([:admin,@purchase]) do |f| %>
  <%= f.error_notification %>
  <div class="attributes">
    <%= f.input :ordering_company_id, :collection => OrderingCompany.all, :include_blank => false, :as => :select %>
    <%= f.input :supplier_id, :collection => Supplier.all, :include_blank => false, :as => :select %>
    <%= f.input :note, :input_html => {:cols => 105, :rows => 5} %>
  </div>


  <div class="actions">
    <%= f.button :submit, :value => '更新采购单' %>
  </div>
<% end %>
