<h1>待入库采购单列表</h1>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>编号</th>
      <th>订货公司</th>
      <th>供应商</th>
      <th>创建时间</th>
      <th></th>
    </tr>
  </thead>
<% @purchases.each_with_index do |purchase,index| %>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td><%= index+1 %></td>
    <td><%= purchase.number %></td>
    <td><%= purchase.ordering_company.name %></td>
    <td><%= purchase.supplier.name %></td>
    <td><%= purchase.created_at %></td>
    <td><%= link_to '入库', new_admin_store_entry_path(:purchase_id => purchase) %></td>
  </tr>
<% end %>
</table>







