<h1>采购单列表</h1>

<div class="grid_button">
  <%= link_to '新建采购单', new_admin_purchase_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>编号</th>
      <th>订货公司</th>
      <th>供应商</th>
      <th>状态</th>
      <th>创建时间</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @purchases.each_with_index do |purchase,index| %>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td><%= purchase.number %></td>
    <td><%= purchase.ordering_company.name %></td>
    <td><%= purchase.supplier.name %></td>
    <td><%= format_purchase_status purchase.status %></td>
    <td><%= purchase.created_at %></td>
    <td><%= next_purchase_status(purchase) %></td>
    <td><%= link_to '商品', admin_product_purchaseships_path(:purchase_id=>purchase) %></td>
    <td><%= link_to '修改', edit_admin_purchase_path(purchase) %></td>
  </tr>
<% end %>
</table>
