<div class="well">
  <%= search_form_for [:admin,@search], :class => "form-inline" do |f| %>
    <%= f.text_field :number_cont, :class => "trk-non-inline-margin span2", 
                     :placeholder => t('activerecord.attributes.taurus/replenishment_record.number') %>
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary trk-btn-inline" %>
  <% end %>
  <hr />
  <a href="<%= new_admin_replenishment_record_path %>" class="btn btn-primary" id="create_tag">
    <i class="icon-plus-sign"></i>
    <%= t('admin.actions.new.title',:model => t('activerecord.models.taurus/replenishment_record')) %>
  </a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/replenishment_record.number') %></th>
      <th><%= t('activerecord.attributes.taurus/replenishment_record.supplier') %></th>
      <th><%= t('activerecord.attributes.taurus/replenishment_record.replenishment_type') %></th>
      <th><%= t('activerecord.attributes.taurus/replenishment_record.created_at') %></th>
    </tr>
  </thead>
  <tbody>
  <% @replenishment_records.each_with_index do |replenishment_record,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td>
        <%= link_to replenishment_record.number, admin_replenishment_record_path(replenishment_record) %>
      </td>
      <td><%= replenishment_record.supplier %></td>
      <td><%= format_replenishment_type replenishment_record.replenishment_type %></td>
      <td><%= replenishment_record.created_at %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan='5'><%= will_paginate @replenishment_records, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>