<%= simple_form_for([:admin, @replenishment_record], :html => {:class => 'form-horizontal'} )  do |f| %>
  <%= f.error_notification %>
  
  <fieldset>
    <%= f.input :supplier_name, :url => autocomplete_supplier_name_admin_replenishment_records_path, 
                :input_html => { :id_element => '#replenishment_record_supplier_id' }, 
                :as => :autocomplete %>
    <%= f.input :supplier_id, :as => :hidden %>

    <%= f.input :replenishment_type, :label_method => :second, :value_method => :first, 
                :collection => Taurus::ReplenishmentRecord::REPLENISHMENT_TYPE, 
                :include_blank => false, :as => :select %>

     <%= f.input :remarks %>            

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.taurus/sku.number') %></th>
          <th><%= t('activerecord.attributes.taurus/sku.name') %></th>
          <th>
            <%= t('activerecord.attributes.taurus/replenishment_record_sku_line_item.sku_amount') %>
          </th>
          <th><%= t('admin.misc.operation') %></th>
       </tr>
      </thead>
      <tbody id="line_items">
      </tbody>
    </table>            

    <%= f.input :sku_name, :url => autocomplete_sku_name_admin_replenishment_records_path,
                :input_html => { 
                  :update_elements => { 
                    :id => '#replenishment_record_sku_id', 
                    :number => '#replenishment_record_sku_number'
                  } 
                }, :as => :autocomplete %>
    <%= f.input :sku_id, :as => :hidden %>
    <%= f.input :sku_number, :as => :hidden %>
    <%= f.input :sku_amount, :input_html => { :value => 1 }, :as => :integer %>

    

    <div class="form-actions">
      <%= link_to "#{t('admin.actions.new.title', :model => t('activerecord.models.taurus/replenishment_record_sku_line_item'))}".html_safe, "#", :class => "btn btn-primary", :id => "add_replenishment_record_sku" %>
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
