<div class="well">
  <%= link_to "#{content_tag(:i, '', :class => "icon-arrow-left")} #{t('admin.misc.back')}".html_safe, admin_replenishment_records_path, :class => "btn pull-right" %>
</div>

<%= simple_form_for([:admin, @replenishment_record], :html => {:class => 'form-horizontal'} )  do |f| %>
  <%= f.error_notification %>
  
  <fieldset>
    <%= f.input :supplier %>

    <%= f.input :replenishment_type, :label_method => :second, :value_method => :first, 
                :collection => Taurus::ReplenishmentRecord::REPLENISHMENT_TYPE, 
                :include_blank => false, :as => :select %>

   <%= f.input :remarks %>     

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#"><%= t('activerecord.models.taurus/replenishment_record_product_line_item') %></a>
      </li>
    </ul>        

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.taurus/product.number') %></th>
          <th><%= t('activerecord.attributes.taurus/product.name') %></th>
          <th>
            <%= t('activerecord.attributes.taurus/replenishment_record_product_line_item.product_amount') %>
          </th>
          <th><%= t('admin.misc.operation') %></th>
       </tr>
      </thead>
      <tbody id="line_items">
      </tbody>
    </table>            

    <%= f.input :product_name, :url => autocomplete_product_name_admin_replenishment_records_path,
                :input_html => { 
                  :update_elements => { 
                    :id => '#replenishment_record_product_id', 
                    :number => '#replenishment_record_product_number'
                  } 
                }, :as => :autocomplete %>
    <%= f.input :product_id, :as => :hidden %>
    <%= f.input :product_number, :as => :hidden %>
    <%= f.input :product_amount, :input_html => { :value => 1 }, :as => :integer %>

    

    <div class="form-actions">
      <%= link_to "#{t('admin.actions.new.title', :model => t('activerecord.models.taurus/replenishment_record_product_line_item'))}".html_safe, "#", :class => "btn btn-primary", :id => "add_replenishment_record_product" %>
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
