<%= simple_form_for([:admin,@administrator], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <%= f.input :login_no %>
    <% if @administrator.id.nil? %>
      <%= f.input :password %>
    <% end %>
    <%= f.input :status do %>
      <%= f.collection_radio :status, [[1, '激活'] ,[0, '锁定']], :first, :last, :checked => 1 %>
    <% end %>
    <%= f.input :email %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :fax %>
    <%= f.input :mobile %>
    <%= f.input :zip %>

    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>




