<h1>管理员列表</h1>

<div class="grid_button">
  <%= link_to '新建管理员', new_admin_administrator_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('attributes.administrator.name') %></th>
      <th><%= t('attributes.administrator.login_no') %></th>
      <th><%= t('attributes.administrator.mobile') %></th>
      <th><%= t('attributes.administrator.email') %></th>
      <th><%= t('attributes.administrator.last_sign_in_at') %></th>
      <th><%= t('attributes.administrator.status') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @administrators.each_with_index do |admin,index| %>
      <tr class="<%= set_odd_even_class(index) %>" group="<%= index %>">
        <td><%= index+1 %></td>
        <td><%= admin.name %></td>
        <td><%= admin.login_no %></td>
        <td><%= admin.mobile %></td>
        <td><%= admin.email %></td>
        <td><%= admin.last_sign_in_at %></td>
        <td><%= format_user_status(admin.status) %></td>
        <td></td>
        <td><%= link_to '修改', edit_admin_administrator_path(admin)  %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>


<p>
<div class="label">省份</div>
<select class="required" title="请选择省份"
        onchange="jQuery.ajax({ type: 'get', //提交的类型
                                url: '/admin/cities/ajax',//提交地址
                                data: 'province_no='+this.value,//参数
                                success: function(msg){ //回调方法
                                  $('#cities').html(msg);
                                  $('#districts').html('<option value=>-请选择-</option>');
                                }});">
  <option value="">-请选择-</option>
  <% for province in Province.all %>
    <option value="<%= province.number %>"><%= province.name %></option>
  <% end %>
</select>
</p>


<p>
<div class="label">城市</div>
<select id="cities" name="district[city_no]" class="required" title="请选择城市"
        onchange="jQuery.ajax({ type: 'get', //提交的类型
                                url: '/admin/districts/ajax',//提交地址
                                data: 'city_no='+this.value,//参数
                                success: function(msg){ //回调方法
                                  $('#districts').html(msg);
                                }});">
  <option value="">-请选择-</option>
</select>
</p>
<p>
<div class="label">所属区县</div>
<select id="districts" name="school[city_id]" class="required" title="请选择区县">
<option value="">-请选择-</option>
</select>
</p>

