<div class="form-actions">
  <%= link_to "<i class='icon-plus-sign'></i> 新建管理员".html_safe, new_admin_administrator_path, :target => "_blank", :class => "btn btn-primary" if can? :create, Administrator %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('attributes.administrator.name') %></th>
      <th><%= t('attributes.administrator.login_no') %></th>
      <th><%= t('attributes.administrator.last_sign_in_at') %></th>
      <th><%= t('attributes.administrator.status') %></th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @administrators.each_with_index do |admin,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to admin.name, admin_administrator_path(admin) %></td>
        <td><%= admin.login_no %></td>
        <td><%= admin.last_sign_in_at %></td>
        <td><%= format_user_status(admin.status) %></td>
        <td>
          <%= link_to '修改', edit_admin_administrator_path(admin), :class => "btn btn-primary trk-btn-short"  %>
          <%= link_to '设置组', new_admin_administrator_groupship_path(:id => admin.id), :class => "btn btn-primary trk-btn-short" if can? :manage, AdministratorGroupship %>
          <%= link_to '重置密码', new_admin_administrator_groupship_path(:id => admin.id), :class => "btn btn-danger trk-btn-short" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @administrators, :renderer => BootstrapPagination::Rails %>

