<%= form_for([:admin,@sku_category]) do |f| %>
  <% if @sku_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', :count => @sku_category.errors.size, :model => t('models.sku_category')) %></h2>

      <ul>
      <% @sku_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :root_id %><span class="red">*</span><br />
    <%= f.text_field :root_id %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><span class="red">*</span><br />
    <%= f.text_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :number %><span class="red">*</span><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><span class="red">*</span><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :is_show_in_navigation %><br />
    <%= f.check_box :is_show_in_navigation %>
  </div>
  <div class="field">
    <%= f.label :is_show_in_column %><br />
    <%= f.check_box :is_show_in_column %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
