<h1>媒体商品分类列表</h1>

<div class="attributes">
  <%= search_form_for [:admin, @search] do |f| %>
    <%= t 'activerecord.attributes.sku_category.number' %>
    <%= f.text_field :number_start %>
    <%= t 'activerecord.attributes.sku_category.name' %>
    <%= f.text_field :name_cont %>
    <%= f.submit t 'admin.misc.search' %>
  <% end %>
</div>
<div class="grid_button">
  <%= link_to t('admin.actions.new.menu'), new_admin_sku_category_path if can? :create, SkuCategory %>
</div>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.sku_category.number') %></th>
      <th><%= t('activerecord.attributes.sku_category.name') %></th>
      <th><%= t('activerecord.attributes.sku_category.is_show_in_navigation') %></th>
      <th><%= t('activerecord.attributes.sku_category.is_show_in_column') %></th>
      <th><%= t('activerecord.attributes.sku_category.description') %></th>
      <th><%= t('activerecord.attributes.sku_category.updated_at') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @sku_categories.each_with_index do |sku_category,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to sku_category.number, admin_sku_category_path(sku_category), :target => "_blank" %></td>
      <td><%= sku_category.name %></td>
      <td><%= sku_category.is_show_in_navigation %></td>
      <td><%= sku_category.is_show_in_column %></td>
      <td><%= sku_category.description %></td>
      <td><%= sku_category.updated_at %></td>
      <td><%= link_to t('admin.actions.edit.menu'), edit_admin_sku_category_path(sku_category) if can? :update, SkuCategory  %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9"><%= will_paginate @sku_categories %></td>
    </tr>
  </tfoot>
</table>


