<h1>可出库订单列表</h1>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.order.number' %></th>
      <th><%= t 'activerecord.attributes.order.user' %></th>
      <th><%= t 'activerecord.attributes.order.instance' %></th>
      <th><%= t 'activerecord.attributes.order.station' %></th>
      <th><%= t 'activerecord.attributes.order.make_by' %></th>
      <th><%= t 'activerecord.attributes.order.sku_type' %></th>
      <th><%= t :created_at %></th>
      <th></th>
    </tr>
  </thead>

<% @orders.each_with_index do |order,index| %>
  <tr class="<%= set_odd_even_class(index) %>" group="<%= index %>">
    <td><%= index+1 %></td>
    <td><%= order.number %></td>
    <td><%= get_user_name(order.user) %></td>
    <td><%= order.instance.procedure.name %></td>
    <td><%= order.instance.station.name %></td>
    <td><%= fetch_make_by order %></td>
    <td><%= format_sku_type(order.order_details[0].sku.sku_type) %></td>
    <td><%= order.created_at %></td>
    <td><%= link_to '出库', new_store_sales_order_delivery_path(:order_id => order.id) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @orders %>

