<%= form_for @delivery_order, :url => store_sales_order_deliveries_path do |f| %>
  <%= f.hidden_field :order_id %>
  <div id="show_info">
    <h1>订单出库</h1>
    <h2><%= notice %></h2>
    <%= error_messages @delivery_order %>
    <ul>
      <li>
        <%= symbol_label "出库记录编号" %>
        <span>（系统自动生成）</span>
      </li>
      <li>
        <%= symbol_label "出库时间" %>
        <span><%= Time.now %></span>
      </li>
      <li>
        <%= symbol_label "操作人" %>
        <span><%= current_administrator.name %></span>
        <hr />
      </li>
      <li>
        <%= symbol_label "订单编号" %>
        <span><%= @delivery_order.order.number %></span>
      </li>
      <li>
        <%= symbol_label "订单日期" %>
        <span><%= @delivery_order.order.created_at %></span>
      </li>
      <li>
        <%= symbol_label "制单人" %>
        <span><%= @delivery_order.order.make_administrator.name %></span>
        <hr />
      </li>
      <li>
        <%= symbol_label "出库仓库" %>
        <span><%= @delivery_order.order.user.store.name %></span>
      </li>
      <li id="line_type_li">
        <label><abbr title='required'>*</abbr>出库方式</label>
        <%= f.collection_select :line_type, DeliveryOrder::LINE_TYPE, :first, :second %>
      </li>
      <li>
        <label><abbr title="required">*</abbr>送货人</label>
        <%= f.text_field :name %>
      </li>
      <li>
        <label><abbr title="required">*</abbr>送货日期</label>
        <%= f.date_select :delivery_date %>
      </li>
    </ul>

    <hr />

    <table class="grid">
      <thead>
        <tr>
          <th>#</th>
          <th>商品编码</th>
          <th>商品名称</th>
          <th>规格</th>
          <th>型号</th>
          <th>单位</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody id="product_carts">
        <% @delivery_order_carts.each_with_index do |cart,index| %>
          <tr class="<%= set_odd_even_class(index) %>">
            <td><%= index+1 %></td>
            <td><%= cart.product.product_id %></td>
            <td align="left"><%= cart.product.name %></td>
            <td><%= cart.product.specification %></td>
            <td><%= cart.product.model %></td>
            <td><%= cart.product.unit %></td>
            <td><%= cart.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr />
    <%= f.submit "确认出库" %>
    <input type="button" value="关闭页面" onclick="return window.close()" />
  </div>

  <% content_for :ready do %>
    jQuery('#delivery_order_line_type').change(function(){
      jQuery('#line_type_li ~ li').remove();
      var value = jQuery(this).val();
      if(value == 1){
       jQuery('#line_type_li').after('<li><label><abbr title="required">*</abbr>送货人</label>'+
                                      '<%= f.text_field :name %></li><li><label><abbr title="required">*</abbr>送货日期</label>'+
                                      '<%= j(f.date_select :delivery_date) %></li>');
      }else if(value == 2){
        jQuery('#line_type_li').after('<li><label><abbr title="required">*</abbr>快递公司名称</label>'+
                                       '<%= f.text_field :name %></li>'+
                                       '<li><label><abbr title="required">*</abbr>运单号</label>'+
                                       '<%= f.text_field :waybill_number %></li>'+
                                       '<li><label><abbr title="required">*</abbr>送货日期</label>'+
                                       '<%= j(f.date_select :delivery_date) %></li>');
      }else if(value == 3){
        jQuery('#line_type_li').after('<li><label><abbr title="required">*</abbr>自提人姓名</label>'+
                                       '<%= f.text_field :name %></li>'+
                                       '<li><label><abbr title="required">*</abbr>联系电话</label>'+
                                       '<%= f.text_field :phone %></li>'+
                                       '<li><label><abbr title="required">*</abbr>提货日期</label>'+
                                       '<%= j(f.date_select :delivery_date) %></li>');
      }
    });
  <% end %>

<% end %>