<div class="attributes">
  <div class="split_content_left">
    <p>
      <%= label_tag '订单编号：' %>
      <%= @delivery_order.order.number %>
    </p>
    <p>
      <%= label_tag '出库方式：' %>
      <%= { 1 => "自配", 2 => "快递", 3 => "客户自提" }[@delivery_order.line_type] %>
    </p>
    <p>
      <%= label_tag({ 1 => "送货人：", 2 => "快递公司名称：", 3 => "自提人姓名：" }[@delivery_order.line_type]) %>
      <%= @delivery_order.name %>
    </p>
    <% if @delivery_order.line_type == 2 %>
      <p>
        <%= label_tag '运单号：' %>
        <%= @delivery_order.waybill_number %>
      </p>
    <% elsif @delivery_order.line_type == 3 %>
      <p>
        <%= label_tag '联系电话：' %>
        <%= @delivery_order.phone %>
      </p>
    <% end %>
  </div>
  <div class="split_content_right">
    <p>
      <%= label_tag '仓库：' %>
      <%= @delivery_order.store.name %>
    </p>
    <p>
      <%= label_tag @delivery_order.line_type == 3 ? "提货日期：" : '送货日期：' %>
      <%= @delivery_order.delivery_date %>
    </p>
  </div>
  <div class="clear"></div>
</div>

<hr />

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>商品编码</th>
      <th>商品名称</th>
      <th>规格</th>
      <th>型号</th>
      <th>单位</th>
      <th>数量</th>
    </tr>
  </thead>
  <tbody id="product_carts">
    <% @delivery_order.prod_del_ordships.each_with_index do |ship,index| %>
      <tr class="<%= cycle("odd","even") %>">
        <td><%= index+1 %></td>
        <td><%= ship.product.product_id %></td>
        <td align="left"><%= ship.product.name %></td>
        <td><%= ship.product.specification %></td>
        <td><%= ship.product.model %></td>
        <td><%= ship.product.unit %></td>
        <td><%= ship.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

