<%= form_for([:admin,@person_extend]) do |f| %>
  <% if @person_extend.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', :count => @person_extend.errors.size,
                                                       :model => t('models.person_extend'))  %></h2>

      <ul>
      <% @person_extend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="attributes">
    <div class="split_content_left">
      <p>
        <%= label_tag t :login_no %>
        <%= text_field :user, :login_no %><span class="red">*</span>
      </p>
      <p>
        <%= label_tag t :password %>
        <%= text_field :user, :password %><span class="red">*</span>
      </p>
      <p>
        <%= label_tag t :email %>
        <%= f.email_field :email %><span class="red">*</span>
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
