<h1>个人会员列表</h1>

<div class="grid_button">
  <%= link_to '新增个人会员', new_admin_person_extend_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'attributes.person_extend.person_no' %></th>
      <th><%= t 'attributes.user.login_no' %></th>
      <th><%= t 'attributes.person_extend.name' %></th>
      <th><%= t 'attributes.user.created_at' %></th>
      <th><%= t 'attributes.person_extend.role_no' %></th>
      <th><%= t 'attributes.user.status' %></th>
      <th><%= t 'attributes.user.history_status' %></th>
    </tr>
  </thead>
<% @person_extends.each_with_index do |person,index| %>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td><%= index+1 %></td>
    <td><%= person.person_no %></td>
    <td><%= person.user.login_no %></td>
    <td><%= person.name %></td>
    <td><%= person.created_at %></td>
    <td><%= person.role.name %></td>
    <td><%= format_user_status(person.user.status) %></td>
    <td></td>
  </tr>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td colspan="8" align="right">
      重置随机密码   重置密码   收货地址(1条)   修改
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @person_extends %>

