<h1>个人会员列表</h1>

<div class="attributes">
  <%= search_form_for [:admin,@search] do |f| %>
    <div class="split_content_left">
      <p>
        <%= f.label '编号' %>
        <%= f.text_field :person_no_cont %>
      </p>
      <p>
        <%= f.label '姓名' %>
        <%= f.text_field :name_cont %>
      </p>
    </div>
    <div class="split_content_right">
      <p>
        <%= f.label '帐号' %>
        <%= f.text_field :user_login_no_cont %>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= f.submit '查询'%>
      </p>
    </div>
    <div class="clear"></div>
  <% end %>
</div>

<div class="grid_button">
  <%= link_to '新增个人会员', new_admin_person_extend_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'attributes.person_extend.person_no' %></th>
      <th><%= t 'activerecord.attributes.user.login_no' %></th>
      <th><%= t 'attributes.person_extend.name' %></th>
      <th><%= t 'activerecord.attributes.user.created_at' %></th>
      <th><%= t 'activerecord.attributes.user.role' %></th>
      <th><%= t 'activerecord.attributes.user.status' %></th>
      <th><%= t 'activerecord.attributes.user.history_status' %></th>
    </tr>
  </thead>
<% @person_extends.each_with_index do |person,index| %>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td><%= index+1 %></td>
    <td><%= link_to person.person_no, admin_person_extend_path(person) %></td>
    <td><%= person.user.login_no %></td>
    <td><%= person.name %></td>
    <td><%= person.created_at %></td>
    <td><%= person.user.role.name %></td>
    <td><%= format_user_status(person.user.status) %></td>
    <td></td>
  </tr>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td colspan="8" align="right">
      重置随机密码   重置密码   收货地址(1条)   修改
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @person_extends %>

