<%= simple_form_for(@person_extend, :as => resource_name, :url => user_registration_path, 
                    :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <%= f.simple_fields_for resource do |u_f| %>
    <fieldset>
      <%= render :partial => "form", :locals => {:u_f => u_f} %>
      <%= f.input :name %>
      <%= f.input :sex, :collection => Taurus::PersonExtend::SEX, :label_method => :second, 
                  :value_method => :first, :item_wrapper_class => 'inline', :checked => 1, 
                  :as => :radio_buttons %>
      <%= f.input :birth, :as => :date %>   
      <%= f.input :district_id, :as => :area %>   
      <%= f.input :address %>     
      <%= f.input :phone %> 
      <%= f.input :zip_code %>
      <div class="form-actions">
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    </fieldset>
  <% end %>  
<% end %>




