<%= form_for(@product_storeship) do |f| %>
  <% if @product_storeship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_storeship.errors.count, "error") %> prohibited this product_storeship from being saved:</h2>

      <ul>
      <% @product_storeship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.text_field :store_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :stockout %><br />
    <%= f.text_field :stockout %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
