<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pick_up.name %>
</p>

<p>
  <b>Href:</b>
  <%= @pick_up.href %>
</p>


<%= link_to 'Edit', edit_pick_up_path(@pick_up) %> |
<%= link_to 'Back', pick_ups_path %>
