<p id="notice"><%= notice %></p>

<p>
  <b>名称:</b>
  <%= @pick_up.name %>
</p>

<p>
  <b>链接:</b>
  <%= @pick_up.href %>
</p>

<p>
  <b>图片:</b>
  <%= image_tag @pick_up.image.url %>
</p>


<%= link_to 'Edit', edit_admin_pick_up_path(@pick_up) %> |
<%= link_to 'Back', admin_pick_ups_path %>
