<div class="width_220 cs">
  <h2 class="help_h2">客服中心</h2>
  <p>工作时间： 周一至周六8:30-17:00</p>
  <p>客服热线： 400－630－5006</p>
  <p>电子邮件： <a href="#">CS@emehome.cn</a></p>
</div>

<div class="width_220 help_center">
  <h2 class="help_h2">帮助中心</h2>
  <dl>
    <dt><a href="#">公司介绍</a></dt>
      <dd><%= link_to "我们是谁", who_am_i_home_index_path %></dd>
      <dd><%= link_to "集团伙伴", group_partner_home_index_path %></dd>
      <dd><%= link_to "媒体报道", media_report_home_index_path %></dd>
      <dd><%= link_to "加入我们", join_us_home_index_path %></dd>
      <!--<dd><a href="#">申请成为供应商</a></dd>-->
    <dt><a href="#">我的订单</a></dt>
      <dd><%= link_to "注册会员", registration_help_home_index_path %></dd>
      <dd><%= link_to "如何下单", how_to_buy_home_index_path %></dd>
      <dd><%= link_to "查询订单", how_to_query_order_home_index_path %></dd>
    <dt><a href="#">关于配送</a></dt>
      <dd><%= link_to "配送范围", deliver_area_help_home_index_path %></dd>
      <dd><%= link_to "收费标准", deliver_fee_help_home_index_path %></dd>
      <dd><%= link_to "配送时间", deliver_time_help_home_index_path %></dd>
    <dt><a href="#">关于支付</a></dt>
      <dd><%= link_to "支付方式", payment_method_help_home_index_path %></dd>
      <dd><%= link_to "月结用户", monthly_check_help_home_index_path %></dd>
      <dd><%= link_to "购物券说明", coupon_help_home_index_path %></dd>
    <dt><a href="#">服务说明</a></dt>
      <dd><%= link_to "退换货原则", refund_principle_home_index_path %></dd>
      <dd><%= link_to "投诉与建议", complaints_suggestion_help_home_index_path %></dd>
      <dd><%= link_to "客户使用条款", users_terms_home_index_path %></dd>
    <dt><a href="#">帮助中心</a></dt>
      <dd><%= link_to "忘记密码", forget_password_home_index_path %></dd>
      <dd><%= link_to "常见问题", faq_home_index_path %></dd>
      <dd><%= link_to "联系客服", contact_sd_home_index_path %></dd>
  </dl>
</div>