<div id="show_info">
  <%= search_form_for @search, :url => search_skus_promotion_online_promotions_path do |f| %>
    <ul>
      <li>
        <%= f.label :number %>
        <%= f.text_field :number_eq %>
      </li>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name_cont %>
        <%= f.submit t('admin.misc.search') %>
      </li>
    </ul>
  <% end %>
</div>


<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.sku.number') %></th>
      <th><%= t('activerecord.attributes.sku.name') %></th>
      <th><%= t('activerecord.attributes.sku.unit') %></th>
      <th><%= t('activerecord.attributes.sku.cost_aft_tax') %></th>
      <th></th>
    </tr>
  </thead>
  <% @skus.each_with_index do |sku,index| %>
    <tr class="<%= cycle "odd","even" %>">
      <td><%= index+1 %></td>
      <td><%= sku.number %></td>
      <td><%= sku.name %></td>
      <td><%= sku.unit %></td>
      <td><%= cny sku.cost_aft_tax %></td>
      <td><%= link_to "选择", "#", :class => "chose_sku", :'data-id' => sku.id, :'data-name' => sku.name %></td>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <td colspan="6"><%= will_paginate @skus %></td>
    </tr>
  </tfoot>
</table>



