<div id="login_wrapper">
  <h2 class="bar_background_1_30">用户登陆</h2>

  <div id="login_window_left_up">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="notification_area_not_yet_login"><%= alert %></div>
    <p class="p_label row_1">
      <%= f.label t 'activerecord.attributes.user.login_no' %>：
    </p>
    <p class="p_input row_1">
      <%= f.text_field :login_no %>
      <span id="user_login_no_error"></span>
    </p>

    <p class="p_label row_2">
      <%= f.label t 'activerecord.attributes.user.password' %>：
    </p>
    <p class="p_input row_2">
      <%= f.password_field :password %>
      <span id="user_password_error"></span>
    </p>

    <p class="p_label row_3">
      验证码：
    </p>
    <p class="p_input row_3">
      <%= text_field_tag :code, "", :maxlength => 4, :size => 4, :style => "width: 40px;" %>
      <%= image_tag codes_path, :width => "60px", :height => "20px", :id => "ver_code"%>
      <a href="#" id="change_ver_code">换验证码</a>
      <span id="code_error"></span>
    </p>

    <p class="p_button row_4"><input type="button" value="登录" id="login"/></p>
    <a href="#" class="row_5">忘记密码？</a>
  <% end %>
  </div>
  <div id="login_window_right">
    <p>使用壹美壹家网上商店请先注册，祝您购物愉快！<br />
    如果注册中有任何问题请致电<br /><br />
    <strong>400-630-5006</strong></p>
    <button type="button" class="person" id="person_sign_up">个人用户注册</button>
    <button type="button" class="enterprise" id="enterprise_sign_up">企业用户注册</button>
  </div>
  <!-- 暂不需要其他网站账户登陆。2012-02-24
  <div id="login_window_left_down">
    <strong>确认需要放那些东西？</strong>
  </div>
  -->
</div>