<h1>slider_bar</h1>

<table>
  <tr>
    <th>名称</th>
    <th>链接</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slider_bars.each do |bar| %>
  <tr>
    <td><%= bar.name %></td>
    <td><%= bar.href %></td>
    <td><%= link_to 'Show', admin_slider_bar_path(bar) %></td>
    <td><%= link_to 'Edit', edit_admin_slider_bar_path(bar) %></td>
    <td><%= link_to 'Destroy', admin_slider_bar_path(bar), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加', new_admin_slider_bar_path %>
