<h2 class="bar_image_1000 bar_indent_8">确认订单</h2>
<div id="cart_proc" class="cart_proc_background_2">
  <ul class="h_ul">
    <li class="h_li">我的购物车</li>
    <li class="h_li white">确认订单</li>
    <li class="h_li">订单完成</li>
  </ul>
</div>
<table class="margin_top_65 order_sku_details">
  <caption>所购商品清单</caption>
  <thead>
    <tr>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装</th>
      <th>安装费用</th>
      <th>组装</th>
      <th>组装费用</th>
      <th>其他费用</th>
      <th>小计</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_skuships.each_with_index do |cart_sku,index| %>
      <tr class="<%= set_odd_even_class index+1 %>">
        <td><%= cart_sku.sku.number %></td>
        <td><%= cart_sku.sku.name %></td>
        <td><%= number_to_currency cart_sku.sku.cost_aft_tax, :unit => "￥" %></td>
        <td><%= cart_sku.quantity %></td>
        <td><%= format_boolean cart_sku.is_need_install %></td>
        <td><%= number_to_currency cart_sku.sku.installation_cost_aft_tax, :unit => "￥" %></td>
        <td><%= format_boolean cart_sku.is_need_assemble %></td>
        <td><%= number_to_currency cart_sku.sku.assembling_fee_aft_tax, :unit => "￥" %></td>
        <td>非法字段</td>
        <td><%= cart_sku.total_amount %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="11">
        商品总价：
        <i id="total_sku_amount">
          <%= number_to_currency @cart.total_sku_amount, :unit => "￥" %>
        </i>
        元 + 安装费：
        <i id="total_installation_amount">
          <%= number_to_currency @cart.total_installation_amount, :unit => "￥" %>
        </i>
        元 + 组装费：
        <i id="total_assembling_amount">
          <%= number_to_currency @cart.total_assembling_amount, :unit => "￥" %>
        </i>
        元 + 其他费用：
        <i>非法字段</i>元
      </td>
    </tr>
    <tr>
      <td colspan="11">
        <strong>选购商品价格总计</strong>
        （不包含运费）：
        <strong><i id="total_amount"><%= number_to_currency @cart.total_amount, :unit => "￥" %></i></strong>
        元
      </td>
    </tr>
  </tfoot>
</table>
<div id="order_info">
    <fieldset>
      <legend>请输入订单信息</legend>
      <% if @consignee_info.nil? %>
        <h2>收货人信息<a id="consignee_modify" class="close">[关闭]</a></h2>
        <form id="consignee_form">
          <%= render "user/user_addresses/user_addresses" %>
          <p>
            <label for="receiver"><em class="remark">*</em>收件人姓名：</label>
            <input name="consignee_info[name]" id="receiver" type="text"/>
            <span id="receiver_error"></span>
          </p>
          <p>
            <label for="location_province"><em class="remark">*</em>所属区域：</label>
            <%= raw address(nil,"consignee_info") %>
            <span id="consignee_info_district_no_error"></span>
          </p>
          <p>
            <label for="address"><em class="remark">*</em>送货地址：</label>
            <input name="consignee_info[address]" id="address" type="text" class="input_width_220" />
            <span id="address_error"></span>
          </p>
          <p>
            <label for="area_num"><em class="remark">*</em>固定电话：</label>
            <input name="consignee_info[phone]" id="phone" type="text" />
            <em class="remark">如：010-12345678，固话与手机至少填写一项</em>
            <span id="phone_error"></span>
          </p>
          <p>
            <label for="cellphone"><em class="remark">*</em>移动电话：</label>
            <input name="consignee_info[mobile]" id="cellphone" type="text" />
            <em class="remark">填写手机号便于接收发货通知短信及送货前确认</em>
            <span id="cellphone_error"></span>
          </p>
          <p>
            <label for="email">电子邮件：</label>
            <input name="consignee_info[email]" id="email" type="text" />
            <em class="remark">用来接收订单提醒邮件，便于您及时了解订单状态</em>
          </p>
          <p>
            <label for="post">邮政编码：</label>
            <input name="consignee_info[zip]" id="post" type="text" />
            <em class="remark">有助于快速确定送货地址</em>
          </p>
          <a id="add_user_address">[添加到常用地址簿]</a>
          <br />
          <br />
          <button type="button" id="save_consignee">保存收货人信息</button>
        </form>
      <% else %>
        <h2>收货人信息<a id="consignee_modify" class="modify">[修改]</a></h2>
        <form id="consignee_form">
          <p>
            <label for="receiver">收件人姓名：</label>
            <%= @consignee_info.name %>
          </p>
          <p>
            <label for="location_province">所属区域：</label>
            <%= @consignee_info.district.address %>
          </p>
          <p>
            <label for="address">送货地址：</label>
            <%= @consignee_info.address %>
          </p>
          <p>
            <label for="area_num">固定电话：</label>
            <%= @consignee_info.phone %><br />
          </p>
          <p>
            <label for="cellphone">移动电话：</label>
            <%= @consignee_info.mobile %><br />
          </p>
          <p>
            <label for="email">电子邮件：</label>
            <%= @consignee_info.email %><br />
          </p>
          <p>
            <label for="post">邮政编码：</label>
            <%= @consignee_info.zip %><br />
          </p>
        </form>
      <% end %>

      <form action="/order/front_orders/review" method="post" id="preview_form">
      <h2>支付方式</h2>
      <p>
        <label for="payment_method"><em class="remark">*</em>支付方式：</label>
        <%= select(:temp_payment, :procedure_id,
                   options_from_collection_for_select(@procedures, "id", "display_name"),
                   {},:required => "required") %>
      </p>
      <h2>发票信息</h2>
      <p>
        <label for="invoice-type"><em class="remark">*</em>发票类型：</label>
        <input name="temp_payment[invoice_type]" type="radio" value="2" class="input_width_35 radio" checked="checked"/>不需要发票
        <input name="temp_payment[invoice_type]" type="radio" value="0" class="input_width_35 radio" />普通发票
        <input name="temp_payment[invoice_type]" type="radio" value="1" class="input_width_35 radio" />增值税发票
      </p>
      <p id="invoice_head"></p>
      <p id="title_company_name"></p>
      <div id="type_invoice"></div>
      <h2>订单备注<em class="remark">（如果您对订单配送或者支付有任何要求，请务必注；使用壹美壹家抵用券客户请提前注明。）</em></h2>
      <p>
        <textarea name="order_remark" id="order_remark" rows="3"></textarea>
      </p>
      <button class="order_buttun" type="button" id="preview_order">预览订单</button><span id="preview_order_error"></span>
       </form>
    </fieldset>
</div>
