<h2 class="bar_image_1000 bar_indent_8">确认订单</h2>
<div id="cart_proc" class="cart_proc_background_2">
  <ul class="h_ul">
    <li class="h_li">我的购物车</li>
    <li class="h_li white">确认订单</li>
    <li class="h_li">订单完成</li>
  </ul>
</div>
<table class="margin_top_65">
  <caption>所购商品清单预览</caption>
  <thead>
    <tr>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装</th>
      <th>安装费用</th>
      <th>组装</th>
      <th>组装费用</th>
      <th>其他费用</th>
      <th>小计</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.cart_skuships.each_with_index do |cart_sku,index| %>
      <tr class="<%= set_odd_even_class index+1 %>">
        <td><%= cart_sku.sku.number %></td>
        <td><%= cart_sku.sku.name %></td>
        <td><%= number_to_currency cart_sku.sku.cost_aft_tax, :unit => "￥" %></td>
        <td><%= cart_sku.quantity %></td>
        <td></td>
        <td><%= number_to_currency cart_sku.sku.installation_cost_aft_tax, :unit => "￥" %></td>
        <td></td>
        <td><%= number_to_currency cart_sku.sku.assembling_fee_aft_tax, :unit => "￥" %></td>
        <td>&yen;0.00</td>
        <td><%= cart_sku.total_amount %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="11">商品总价：<i>9999999.99</i>元 + 安装费：<i>9999.99</i>元 + 组装费：<i>999.99</i>元 + 其他费用：<i>999.99</i>元</td>
    </tr>
    <tr>
      <td colspan="11"><strong>总计</strong>（不包含运费）：<strong><i>99999999.99</i></strong>元</td>
    </tr>
  </tfoot>
</table>
<div id="order_info_review">
  <h2>订单信息预览</h2>
  <p>收件人姓名:<%= @temp_address.name %></p>
  <p>所属区域: <%= @temp_address.district.city.province.name %>&nbsp;
              <%= @temp_address.district.city.name %>&nbsp;
              <%= @temp_address.district.name %>
  </p>
  <p>送货地址: <%= @temp_address.address %></p>
  <p>固定电话: <%= @temp_address.phone %></p>
  <p>移动电话: <%= @temp_address.mobile %></p>
  <p>电子邮件: <%= @temp_address.email %></p>
  <p>邮政编码: <%= @temp_address.zip %></p>
  <hr />
  <p>支付方式: <%= @temp_payment.procedure.display_name %></p>
  <hr />
  <p>发票类型:
    <% if @temp_payment.invoice_type == 0 %>
      普通
    <% elsif @temp_payment.invoice_type == 1 %>
      增值税发票
    <% else %>
      不需要
    <% end %>
  </p>
  <p>开票抬头:</p>
  <hr />
  <p>订单备注:</p>
  <div id="delivery_fee">
    <p>根据您订单金额和所属区域，本次购物的运费为：<strong><%= number_to_currency @carriage_cost, :unit => "￥" %></strong></p>
  </div>
  <form action="/order/front_orders" method="post">
    <button type="submit" class="order_buttun">提交订单</button>
  </form>
</div>
