<h2 class="bar_image_1000 bar_indent_8">预览订单</h2>
<div id="cart_proc" class="cart_proc_background_2">
  <ul class="h_ul">
    <li class="h_li">我的购物车</li>
    <li class="h_li white">确认订单</li>
    <li class="h_li">订单完成</li>
  </ul>
</div>

<% if @direct_sendings.any? %>
  <% i = 1 %>
  <table class="margin_top_65 order_split_details">
    <caption>所购商品清单预览</caption>
    <thead>
      <tr>
        <th>拆分订单号</th>
        <th>收货人</th>
        <th>支付方式</th>
        <th>订单金额</th>
        <th>运费金额</th>
      </tr>
    </thead>
    <tbody>
      <% if @not_direct_sendings.any? %>
        <tr>
          <td>子订单-<%= i %></td>
          <td><%= @consignee_info.name %></td>
          <td><%= @temp_payment.procedure.display_name %></td>
          <td><%= number_to_currency @cart.total_amount, :unit => "￥" %></td>
          <td><%= number_to_currency @carriage_cost, :unit => "￥" %></td>
        </tr>
        <tr>
          <td colspan="5">
            <table class="order_sku_details">
              <thead>
                <tr>
                  <th>商品编号</th>
                  <th>商品名称</th>
                  <th>单价</th>
                  <th>数量</th>
                  <th>安装</th>
                  <th>安装费用</th>
                  <th>组装</th>
                  <th>组装费用</th>
                  <th>其他费用</th>
                  <th>小计</th>
                </tr>
              </thead>
              <tbody>
                <% @not_direct_sendings.each_with_index do |nds,index| %>
                <tr class="<%= set_odd_even_class index+1 %>">
                  <td><%= nds.sku.number %></td>
                  <td><%= nds.sku.name %></td>
                  <td><%= number_to_currency nds.sku.cost_aft_tax, :unit => "￥" %></td>
                  <td><%= nds.quantity %></td>
                  <td><%= format_boolean nds.is_need_install %></td>
                  <td><%= number_to_currency nds.sku.installation_cost_aft_tax, :unit => "￥" %></td>
                  <td><%= format_boolean nds.is_need_assemble %></td>
                  <td><%= number_to_currency nds.sku.assembling_fee_aft_tax, :unit => "￥" %></td>
                  <td>非法字段</td>
                  <td><%= number_to_currency nds.total_amount, :unit => "￥" %></td>
                </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="11">
                    商品总价：
                    <i>
                      <%= number_to_currency @cart.total_sku_amount, :unit => "￥" %>
                    </i>
                    元 + 安装费：
                    <i>
                      <%= number_to_currency @cart.total_installation_amount, :unit => "￥" %>
                    </i>
                    元 + 组装费：
                    <i>
                      <%= number_to_currency @cart.total_assembling_amount, :unit => "￥" %>
                    </i>
                    元 + 其他费用：
                    <i>非法字段</i>元
                  </td>
                </tr>
                <tr>
                  <td colspan="11">
                    <strong>选购商品价格总计</strong>
                    （不包含运费）：
                    <strong><i><%= number_to_currency @cart.total_amount, :unit => "￥" %></i></strong>
                    元
                  </td>
                </tr>
              </tfoot>
            </table>
          </td>
        </tr>
        <% i += 1 %>
      <% end %>
      <% @direct_sendings.each do |ds| %>
        <tr>
          <td>子订单-<%= i %></td>
          <td><%= @consignee_info.name %></td>
          <td><%= @temp_payment.procedure.display_name %></td>
          <td><%= number_to_currency ds.total_amount, :unit => "￥" %></td>
          <td><%= number_to_currency ds.ds_carriage_cost(@consignee_info.district_no), :unit => "￥" %></td>
        </tr>
        <tr>
          <td colspan="5">
            <table class="order_sku_details">
              <thead>
                <tr>
                  <th>商品编号</th>
                  <th>商品名称</th>
                  <th>单价</th>
                  <th>数量</th>
                  <th>安装</th>
                  <th>安装费用</th>
                  <th>组装</th>
                  <th>组装费用</th>
                  <th>其他费用</th>
                  <th>小计</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td><%= ds.sku.number %></td>
                  <td><%= ds.sku.name %></td>
                  <td><%= number_to_currency ds.sku.cost_aft_tax, :unit => "￥" %></td>
                  <td><%= ds.quantity %></td>
                  <td><%= format_boolean ds.is_need_install %></td>
                  <td><%= number_to_currency ds.sku.installation_cost_aft_tax, :unit => "￥" %></td>
                  <td><%= format_boolean ds.is_need_assemble %></td>
                  <td><%= number_to_currency ds.sku.assembling_fee_aft_tax, :unit => "￥" %></td>
                  <td>非法字段</td>
                  <td><%= number_to_currency ds.total_amount, :unit => "￥" %></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% i += 1 %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table class="margin_top_65 order_sku_details">
    <caption>所购商品清单预览</caption>
    <thead>
      <tr>
        <th>商品编号</th>
        <th>商品名称</th>
        <th>单价</th>
        <th>数量</th>
        <th>安装</th>
        <th>安装费用</th>
        <th>组装</th>
        <th>组装费用</th>
        <th>小计</th>
      </tr>
    </thead>
    <tbody>
      <% @not_direct_sendings.each_with_index do |nds,index| %>
      <tr class="<%= set_odd_even_class index+1 %>">
        <td><%= nds.sku.number %></td>
        <td><%= nds.sku.name %></td>
        <td><%= number_to_currency nds.sku.cost_aft_tax, :unit => "￥" %></td>
        <td><%= nds.quantity %></td>
        <td><%= format_boolean nds.is_need_install %></td>
        <td><%= number_to_currency nds.sku.installation_cost_aft_tax, :unit => "￥" %></td>
        <td><%= format_boolean nds.is_need_assemble %></td>
        <td><%= number_to_currency nds.sku.assembling_fee_aft_tax, :unit => "￥" %></td>
        <td><%= number_to_currency nds.total_amount, :unit => "￥" %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="11">
          商品总价：
          <i>
            <%= number_to_currency @cart.total_sku_amount, :unit => "￥" %>
          </i>
          元 + 安装费：
          <i>
            <%= number_to_currency @cart.total_installation_amount, :unit => "￥" %>
          </i>
          元 + 组装费：
          <i>
            <%= number_to_currency @cart.total_assembling_amount, :unit => "￥" %>
          </i>
          元
        </td>
      </tr>
      <tr>
        <td colspan="11">
          <strong>选购商品价格总计</strong>
          （不包含运费）：
          <strong><i><%= number_to_currency @cart.total_amount, :unit => "￥" %></i></strong>
          元
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>

<div id="order_info_review">
  <h2>订单信息预览</h2>
  <p>收件人姓名:<%= @consignee_info.name %></p>
  <p>所属区域: <%= @consignee_info.district.city.province.name %>&nbsp;
              <%= @consignee_info.district.city.name %>&nbsp;
              <%= @consignee_info.district.name %>
  </p>
  <p>送货地址: <%= @consignee_info.address %></p>
  <p>固定电话: <%= @consignee_info.phone %></p>
  <p>移动电话: <%= @consignee_info.mobile %></p>
  <p>电子邮件: <%= @consignee_info.email %></p>
  <p>邮政编码: <%= @consignee_info.zip %></p>
  <hr />
  <p>支付方式: <%= @temp_payment.procedure.display_name %></p>
  <hr />
  <% if @temp_payment.invoice_type == 0 %>
    <p>发票类型:普通</p>
    <hr />
    <% if @temp_payment.is_invoice_head == 0 %>
      <p>开票抬头:个人</p>
    <% else %>
      <p>开票抬头:单位</p>
      <p>单位名称:<%= @temp_payment.company_name %></p>
    <% end %>

  <% elsif @temp_payment.invoice_type == 1 %>
    <p>发票类型:增值税发票</p>
    <hr />
    <% if @temp_payment.is_invoice_head == 0 %>
      <p>开票抬头:个人</p>
    <% else %>
      <p>开票抬头:单位</p>
      <p>单位名称:<%= @temp_payment.company_name %></p>
    <% end %>
    <hr />
    <p>开户银行:<%= @temp_payment.account_bank %></p>
    <p>开户名称:<%= @temp_payment.account_person_name %></p>
    <p>注册电话:<%= @temp_payment.account_phone %></p>
    <p>银行帐号:<%= @temp_payment.account_no %></p>
    <p>增值税登记号:<%= @temp_payment.added_value_tax_no %></p>
    <p>注册地址:<%= @temp_payment.account_reg_add %></p>
  <% else %>
    <p>发票类型:不需要</p>
  <% end %>
  <hr />
  <p>
    订单备注:<%= @order_remark %>
  </p>

  <div id="delivery_fee">
    <p>根据您订单金额和所属区域，本次购物的运费为：<strong><%= number_to_currency @carriage_cost, :unit => "￥" %></strong></p>
  </div>
  <form action="/order/front_orders" method="post">
    <button type="button" class="order_buttun">返回上页</button>
    <%= hidden_field_tag :customer_note, @order_remark %>
    <button type="submit" class="order_buttun">提交订单</button>
  </form>
</div>
