<h2 class="bar_image_1000 bar_indent_8">确认订单</h2>
<div id="cart_proc" class="cart_proc_background_3">
  <ul class="h_ul">
    <li class="h_li">我的购物车</li>
    <li class="h_li">确认订单</li>
    <li class="h_li white">订单完成</li>
  </ul>
</div>
<table class="margin_top_65 order_sku_details">
  <caption>订单明细</caption>
  <thead>
    <tr>
      <th>订单编号</th>
      <th>下单时间</th>
      <th>收货人</th>
      <th>支付方式</th>
      <th>订单金额</th>
      <th>订单状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.number %></td>
        <td><%= order.created_at %></td>
        <td><%= order.name %></td>
        <td><%= order.instance.procedure.display_name %></td>
        <td><%= number_to_currency order.total_amount, :unit => "￥" %></td>
        <td><%= order.instance.station.display_name %></td>
        <td>
          <strong><a href="#">立即付款</a></strong>
          <a href="#">修改</a>
          <a href="#">取消</a>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="11">商品总价：<i><%=  %></i>元 + 安装费：<i>9999.99</i>元 + 组装费：<i>999.99</i>元 + 其他费用：<i>999.99</i>元</td>
    </tr>
    <tr>
      <td colspan="11">+ 运费：<i>99.99</i>元</td>
    </tr>
    <tr>
      <td colspan="11"><strong>应支付金额：</strong><strong><i>99999999.99</i></strong>元</td>
    </tr>
  </tfoot>
</table>
<div id="order_complete_note">
  <h2 style="text-align:center"><img src="/assets/order/yesok.gif" />您的订单已经成功提交!</h2>
  <br />
  <ul>
    <li>如果您有订单正在处理中，请稍后通过“我的账户”查询最新的订单状态，或者请致电<strong class="remark">400-630-5006</strong>咨询。</li>
    <li>如果您选择在线支付或银行转账，在订单得到系统确认后请立即支付，否则订单有可能会被取消，敬请谅解。</li>
  </ul>
  <p style="padding: 0 0 0 24px; font-size: 14px;"><strong>现在您可以：</strong><a href="#" class="special_blue">查看订单状态</a> <a href="#"  class="special_blue">继续购物</a> <a href="#"  class="special_blue">查看在线支付帮助</a></p>
</div>
<div id="payment_note">
  <h2>请根据您选择的支付方式付款</h2>
  <ul>
    <li>在线支付， 请使用<a href="#">支付宝</a>
      <img src="/assets/order/alipay_logo.gif" />
      <form>
        <button type="submit" class="order_buttun">立即支付</button>
      </form>
    </li>
    <li>银行汇款，请将付款汇往：<br />
      <i>银行：<strong>光大银行宁波高新区支行</strong></i><br />
      <i>帐号：<strong>7688 0188 0000 54949</strong></i><br />
      <i>公司名称：<strong>宁波壹美壹家贸易有限公司</strong></i><br />
    </li>
    <li>货到付款，请在签收货物时，支付现金</li>
  </ul>
  <p class="notification_area">感谢您的理解，如有问题请<strong class="remark">400-630-5006</strong>咨询。</p>
</div>