<div id="main">
  <div id="main_menu_wrapper">
    <%= render "home/category" %>
  </div>

  <div id="slider_bar">
    <%= render "content/slider_bars/slider_bar" %>
  </div>

  <div id="level_2_banner_wrapper">
    <div id="level_2_banner">
    <!-- Insert the Banner for level 2 pages here -->
      <%= image_tag "l2/level2_bar_oapc.jpg" %>
    </div>

    <div id="banner_1">
      <%= image_tag "home/xszk_208_130.png" %>
    </div>
  </div>

  <div id="banner_2">
    <h2 class="bar_image_220 bar_center">您浏览过的商品</h2>  <!--2012/01/15 - Jimmy -->

    <ul class="recent_visited_ul">
      <% @sku_browsing_histories.each do |history| %>
        <li class="recent_visited_li">
          <%= link_to (image_tag history.sku.main_img, :width => "40px", :height => "40px;"), commodity_sku_detail_path(history.sku_id) %>
          <div>
            <i style="font-style:normal"><%= link_to history.sku.name, commodity_sku_detail_path(history.sku_id) %></i>
            <i style="font-style:normal"><%= number_to_currency history.sku.cost_aft_tax, :unit => "￥" %></i>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="banner_3">
    <h2 class="bar_image_550">新品推荐</h2>
    <ul class="h_ul sku_list_ul margin_0">
      <% @recommendation.each do |recommend| %>
        <li class="h_li sku_list_li height_auto">
          <%= link_to (image_tag recommend.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(recommend.id) %>
          <p class="sku_list_p overflow_text"><%= link_to recommend.name, commodity_sku_detail_path(recommend.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= recommend.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="banner_4">
    <%= image_tag "home/zmbj_208_130.png" %>
  </div>

  <div id="banner_5">
    <%= image_tag "category/bar1_1000_60.png" %>
  </div>

  <!-- 1st SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">酒类</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3610) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/1-1.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @alcohol_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>
      <div class="sku_list_sort_hot">
        <% @alcohol_hots.each_with_index do |hot,index| %>
           <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- 1st SKU List Ends -->

  <!-- 2nd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">饮料</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2838) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/2-2.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @beverages_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @beverages_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 2nd SKU List Ends -->

  <div id="banner_6">
    <%= image_tag "category/bar2_1000_60.png" %>
  </div>

  <!-- 3rd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">食品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2914) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/3-3.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @food_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @food_skus.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 3rd SKU List Ends -->

  <!-- 4th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">饮料用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2951) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/4-4.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @beverage_prod_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @beverage_prod_skus.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 4th SKU List Ends -->

  <div id="banner_7">
    <%= image_tag "category/bar3_1000_60.png" %>
  </div>

  <!-- 5th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">生活用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2998) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/5-5.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @daily_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>
      <div class="sku_list_sort_hot">
        <% @daily_skus.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 5th SKU List Ends -->

  <!-- 6th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">健康管理用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3094) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/6-6.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @heal_man_sup_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @heal_man_sup_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 6th SKU List Ends -->

  <!-- 7th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">个人护理</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3583) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/6-6.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @personal_care_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @personal_care_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 7th SKU List Ends -->

  <!-- 8th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">票务类</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3661) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/6-6.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @ticketing_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @ticketing_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 8th SKU List Ends -->

  <!-- 9th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">其他办公生活用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3112) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/6-6.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @other_office_daily_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @other_office_daily_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 9h SKU List Ends -->

  <!-- 10th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">生活家电</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3556) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_tag "category/6-6.jpg" %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @appliances_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @appliances_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 10th SKU List Ends -->

</div>
