<div id="main">
  <div id="main_menu_wrapper">
    <%= render "home/category" %>
  </div>

  <div id="slider_bar">
    <%= render "content/slider_bars/slider_bar" %>
  </div>

  <div id="level_2_banner_wrapper">
    <div id="level_2_banner">
    <!-- Insert the Banner for level 2 pages here -->
      <%= image_cms(0, :width => "202px", :height => "200px") %>
    </div>

    <div id="banner_1">
      <%= image_cms(1, :width => "202px", :height => "130px") %>
    </div>
  </div>

  <div id="banner_2">
    <%= render "home/browsing_histories" %>
  </div>

  <div id="banner_3">
    <%= render "home/recommendation" %>
  </div>

  <div id="banner_4">
    <%= image_cms(2, :width => "202px", :height => "130px") %>
  </div>

  <div id="banner_5">
    <%= image_cms(3, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 1st SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">OA耗材</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(1770) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(4, :width => "220px", :height => "369px") %>
    </div>

     <%= render "home/category_skus", :object => @oa_supplies_skus, :hot => @oa_supplies_hots %>
  </div>
  <!-- 1st SKU List Ends -->

  <!-- 2nd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">OA用纸</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(1856) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(5, :width => "220px", :height => "369px") %>
    </div>

     <%= render "home/category_skus", :object => @oa_paper_skus, :hot => @oa_paper_hots %>

  </div>
  <!-- 2nd SKU List Ends -->

  <div id="banner_6">
    <%= image_cms(6, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 3rd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">PC用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(1919) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(7, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @pc_articles_skus, :hot => @pc_articles_hots %>

  </div>
  <!-- 3rd SKU List Ends -->

  <!-- 4th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">商务电器</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2003) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(8, :width => "220px", :height => "369px") %>
    </div>

     <%= render "home/category_skus", :object => @oa_bus_app_skus, :hot => @oa_bus_app_hots %>

  </div>
  <!-- 4th SKU List Ends -->

  <div id="banner_7">
    <%= image_cms(9, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 5th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">多媒体用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2072) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(10, :width => "220px", :height => "369px") %>
    </div>

     <%= render "home/category_skus", :object => @oa_mul_skus, :hot => @oa_mul_hots %>

  </div>
  <!-- 5th SKU List Ends -->

  <!-- 6th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">电化消耗品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2131) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(11, :width => "220px", :height => "369px") %>
    </div>

     <%= render "home/category_skus", :object => @oa_ele_of_con_skus, :hot => @oa_ele_of_con_hots %>

  </div>
  <!-- 6th SKU List Ends -->

  <div id="banner_8">
    <%= image_cms(12, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 7th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">事物机器</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2195) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(13, :width => "220px", :height => "369px") %>
    </div>

     <%= render "home/category_skus", :object => @oa_machine_skus, :hot => @oa_machine_hots %>

  </div>
  <!-- 7th SKU List Ends -->

</div>
