<div id="main">
  <div id="main_menu_wrapper">
    <%= render "home/category" %>
  </div>

  <div id="slider_bar">
    <%= render "content/slider_bars/slider_bar" %>
  </div>

  <div id="level_2_banner_wrapper">
    <div id="level_2_banner">
    <!-- Insert the Banner for level 2 pages here -->
      <%= image_cms(0, :width => "202px", :height => "200px") %>
    </div>

    <div id="banner_1">
      <%= image_cms(1, :width => "202px", :height => "130px") %>
    </div>
  </div>

  <div id="banner_2">
    <%= render "home/browsing_histories" %>
  </div>

  <div id="banner_3">
    <h2 class="bar_image_550">新品推荐</h2>
    <ul class="h_ul sku_list_ul margin_0">
      <% @recommendation.each do |recommend| %>
        <li class="h_li sku_list_li height_auto">
          <%= link_to (image_tag recommend.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(recommend.id) %>
          <p class="sku_list_p overflow_text"><%= link_to recommend.name, commodity_sku_detail_path(recommend.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：<%= cny recommend.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="banner_4">
    <%= image_cms(2, :width => "202px", :height => "130px") %>
  </div>

  <div id="banner_5">
    <%= image_cms(3, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 1st SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">OA耗材</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(1770) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(4, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @oa_supplies_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：<%= cny sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>
      <div class="sku_list_sort_hot">
        <% @oa_supplies_hots.each_with_index do |hot,index| %>
           <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong><%= cny hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- 1st SKU List Ends -->

  <!-- 2nd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">OA用纸</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(1856) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(5, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @oa_paper_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：<%= cny sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @oa_paper_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong><%= cny hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 2nd SKU List Ends -->

  <div id="banner_6">
    <%= image_cms(6, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 3rd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">PC用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(1919) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(7, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @pc_articles_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：<%= cny sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @pc_articles_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong><%= cny hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 3rd SKU List Ends -->

  <!-- 4th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">商务电器</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2003) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(8, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @oa_bus_app_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：<%= cny sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @oa_bus_app_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong><%= cny hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 4th SKU List Ends -->

  <div id="banner_7">
    <%= image_cms(9, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 5th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">多媒体用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2072) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(10, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @oa_mul_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：<%= cny sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>
      <div class="sku_list_sort_hot">
        <% @oa_mul_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong><%= cny hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 5th SKU List Ends -->

  <!-- 6th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">电化消耗品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2131) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(11, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @oa_ele_of_con_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：<%= cny sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @oa_ele_of_con_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong><%= cny hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 6th SKU List Ends -->

  <div id="banner_8">
    <%= image_cms(12, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 7th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">事物机器</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2195) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(13, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @oa_machine_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：<%= cny sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @oa_machine_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong><%= cny hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 7th SKU List Ends -->

</div>
