<div id="main">
  <div id="main_menu_wrapper">
    <%= render "home/category" %>
  </div>

  <div id="slider_bar">
    <%= render "content/slider_bars/slider_bar" %>
  </div>

  <div id="level_2_banner_wrapper">
    <div id="level_2_banner">
    <!-- Insert the Banner for level 2 pages here -->
      <%= image_cms(0, :width => "208px", :height => "200px") %>
    </div>

    <div id="banner_1">
      <%= image_cms(1, :width => "208px", :height => "130px") %>
    </div>
  </div>

  <div id="banner_2">
    <h2 class="bar_image_220 bar_center">您浏览过的商品</h2>  <!--2012/01/15 - Jimmy -->

    <ul class="recent_visited_ul">
      <% @sku_browsing_histories.each do |history| %>
        <li class="recent_visited_li">
          <%= link_to (image_tag history.sku.main_img, :width => "40px", :height => "40px;"), commodity_sku_detail_path(history.sku_id), :target => "_blank" %>
          <div>
            <i style="font-style:normal"><%= link_to history.sku.name[0,28], commodity_sku_detail_path(history.sku_id), :target => "_blank" %></i>
            <i style="font-style:normal"><em class="cny"><%= number_to_currency history.sku.cost_aft_tax, :unit => "￥", :target => "_blank" %></em></i>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="banner_3">
    <h2 class="bar_image_550">新品推荐</h2>
    <ul class="h_ul sku_list_ul margin_0">
      <% @recommendation.each do |recommend| %>
        <li class="h_li sku_list_li height_auto">
          <%= link_to (image_tag recommend.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(recommend.id) %>
          <p class="sku_list_p overflow_text"><%= link_to recommend.name, commodity_sku_detail_path(recommend.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= recommend.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="banner_4">
    <%= image_cms(2, :width => "208px", :height => "130px") %>
  </div>

  <div id="banner_5">
    <%= image_cms(3, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 1st SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">文件夹</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2266) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(4, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @folder_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>
      <div class="sku_list_sort_hot">
        <% @folder_hots.each_with_index do |hot,index| %>
           <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- 1st SKU List Ends -->

  <!-- 2nd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">笔记本・纸制品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2384) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(5, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @notebook_paper_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @notebook_paper_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 2nd SKU List Ends -->

  <div id="banner_6">
    <%= image_cms(6, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 3rd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">办公用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2479) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(7, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @office_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @office_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 3rd SKU List Ends -->

  <!-- 4th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">笔类</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2646) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(8, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @pen_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @pen_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 4th SKU List Ends -->

  <div id="banner_7">
    <%= image_cms(9, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 5th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">办公作业用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2710) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(10, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @off_oper_sup_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>
      <div class="sku_list_sort_hot">
        <% @off_oper_sup_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 5th SKU List Ends -->

  <!-- 6th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">其他文具・办公用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2828) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(11, :width => "220px", :height => "369px") %>
    </div>

    <ul class="h_ul sku_list_ul">
      <% @other_skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id) %>
          <p class="sku_list_p overflow_text"><%= link_to sku.name, commodity_sku_detail_path(sku.id) %></p>
          <!--<p class="sku_list_p">市场价：&yen;99999.00</p>-->
          <strong>现价：&yen;<%= sku.cost_aft_tax %></strong>
        </li>
      <% end %>
    </ul>

    <div class="sku_list_sort">
      <h3 class="sku_list_bar_short">本类产品热销排行</h3>

      <div class="sku_list_sort_hot">
        <% @other_hots.each_with_index do |hot,index| %>
          <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
            <span><%= sub_str hot.name, 16  %></span>
            <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id) %>
            <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text" %>
            <a class="sku_list_sort_hot_bottom_line"><strong>&yen;<%= hot.cost_aft_tax %></strong></a>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <!-- 6th SKU List Ends -->

</div>
