<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%=I18n.t('activerecord.errors.template.header', :count => @admin.errors.size, :model => I18n.t('models.admin'))%></h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login_no %><br />
    <%= f.text_field :login_no %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.label :'激活' %>
    <%= f.radio_button :status,'1',:checked=>true%>
    <%= f.label :'锁定' %>
    <%= f.radio_button :status, '0'%>
  </div>
  <div class="field">
    <%= f.label :question%><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.label :'男'%>
    <%= f.radio_button :sex,'0',:checked=>true%>
    <%= f.label :'女'%>
    <%= f.radio_button :sex,'1'%>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :post %><br />
    <%= f.text_field :post %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
