<p id="notice"><%= notice %></p>

<p>
  <b>Login no:</b>
  <%= @admin.login_no %>
</p>

<p>
  <b>Password:</b>
  <%= @admin.password %>
</p>

<p>
  <b>Status:</b>
  <%= @admin.status %>
</p>

<p>
  <b>Question:</b>
  <%= @admin.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @admin.answer %>
</p>

<p>
  <b>Last login time:</b>
  <%= @admin.last_login_time %>
</p>

<p>
  <b>Email:</b>
  <%= @admin.email %>
</p>

<p>
  <b>Sex:</b>
  <%= @admin.sex %>
</p>

<p>
  <b>Name:</b>
  <%= @admin.name %>
</p>

<p>
  <b>Address:</b>
  <%= @admin.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @admin.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @admin.fax %>
</p>

<p>
  <b>Mobile:</b>
  <%= @admin.mobile %>
</p>

<p>
  <b>Post:</b>
  <%= @admin.post %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
