<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/group.name') %></th>
      <th><%= t('activerecord.attributes.taurus/group.description') %></th>
      <th><%= t('admin.misc.operation') %></th>
    </tr>
  </thead>
  <% @groups.each_with_index do |group,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= group.name %></td>
      <td><%= group.description %></td>
      <td>
        <%= link_to t('admin.actions.edit.title', :model => t('activerecord.models.taurus/fun_permission')), 
                    edit_admin_permission_path(group), :class => "btn btn-primary trk-btn-short" %>
      </td>
    </tr>
  <% end %>
  <tfoot>
    <tr><td colspan="4"><%= will_paginate @groups, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>

