<%= form_tag(admin_permissions_path) do %>
  <%= hidden_field_tag 'group_id',  @group.id %>
  <h1><%= @group.name %></h1>

  <% @systems.each do |sys| %>
    <div class="permission">
      <%= sys.name %>
      <div>
        <% sys.components.each do |com| %>
          <%= com.name %>
          <div>
            <% com.functions.each do |fun| %>
              <div>
                <fieldset>
                  <legend><%= fun.name %></legend>
                  <% fun.operatings.each do |oper| %>
                    <label class="floating">
                      <% flag = false %>
                      <% @permissions.each do |per| %>
                        <% if per.operating_id == oper.id %>
                          <% flag = true %>
                        <% end %>
                      <% end %>
                      <% if flag == true %>
                        <input checked="checked"  name="permission[]" type="checkbox" value="<%= oper.id %>" />
                      <% else %>
                        <input name="permission[]" type="checkbox" value="<%= oper.id %>" />
                      <% end %>
                      <%= oper.name %>
                    </label>
                  <% end %>
                </fieldset>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= submit_tag '保存' %>
<% end %>