<div class="alert alert-info">
  <button class="close rule_close" data-dismiss="alert" data-id="<%= object.id %>">×</button>

  <table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= t('activerecord.attributes.taurus/role.name') %></th>
	      <th><%= t('activerecord.attributes.taurus/role.description') %></th>
	    </tr>
	  </thead>
	  <tbody id="role_list">
      <% object.promotion_rule_roles.each do |promotion_rule_role| %>
        <tr>
		      <td>
		      	<%= promotion_rule_role.role.name %>
		      	<%= hidden_field_tag :'role_id[]', promotion_rule_role.role_id %>
		      </td>
		      <td><%= promotion_rule_role.role.description %></td>
		    </tr>
      <% end %>
	  </tbody>
	</table>

  <div class="control-group string required">
  	<label class="string required control-label">
  		<%= object.rule_type_name %>
  	</label>
		<div class="controls">
			<%= autocomplete_field_tag 'name', '', autocomplete_role_name_admin_promotions_path, :id => "role_name" %>
		</div>
	</div>
</div>