<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/order.number') %></th>
      <th><%= t('activerecord.attributes.taurus/order.customer_name') %></th>
      <th><%= t('activerecord.attributes.taurus/order.total_payment') %></th>
      <th><%= t('activerecord.attributes.taurus/order.state') %></th>
      <th><%= t('activerecord.attributes.taurus/order.created_at') %></th>
      <th><%= t('admin.misc.operation') %></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each_with_index do |order,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to order.number, admin_order_path(order) %></td>
      <td><%= order.customer_name %></td>
      <td><%= format_price order.total_payment %></td>
      <td><%= format_order_state order.state %></td>
      <td><%= order.created_at %></td>
      <td><%= order_operations(order, "trk-btn-short") %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan='7'>
        <%= will_paginate @orders, :renderer => BootstrapPagination::Rails %>
      </td>
    </tr>
  </tfoot>
</table>