<div class="well">
  <%= search_form_for [:admin,@search] do |f| %>
    <%= f.text_field :number_cont, 
                     :placeholder => t('activerecord.attributes.taurus/order.number'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.text_field :customer_name_cont, 
                     :placeholder => t('activerecord.attributes.taurus/order.customer_name'),
                     :class => "trk-non-inline-margin span2" %>
    <%= f.collection_select :state_eq,  @states, :first, :second,
                            {:include_blank => "全部"}, {:class => "span2" }  %>  

    <br />
    <%= f.date_select :created_at_gt, { :include_blank => true }, {:class => "span1" } %>
    ~
    <%= f.date_select :created_at_lt, { :include_blank => true }, {:class => "span1" } %>                                       
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary trk-btn-inline" %>
  <% end %>
 
<!--  
  <a href="<%= new_admin_order_path %>" class="btn btn-primary" id="create_tag">
    <i class="icon-plus-sign"></i>
    <%= t('admin.actions.new.title',:model => t('activerecord.models.taurus/order')) %>
  </a>
-->
</div>

<%= flash_messages %>

<%= render "line_items" %>