<div class="well">
  <%= search_form_for [:admin,@search] do |f| %>
    <%= f.text_field :number_cont, :placeholder => t('activerecord.attributes.taurus/order.number'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary trk-btn-inline" %>
  <% end %>
</div>

<%= flash_messages %>

<%= render "line_items" %>