<div class="well">
  <%= link_to "#{content_tag(:i, '', :class => "icon-arrow-left")} #{t('admin.misc.back')}".html_safe, admin_orders_path, :class => "btn pull-right" %>
</div>

<%= simple_form_for [:admin, @order], :html => { :class => "form-horizontal" } do |f| %>
   <%= f.error_notification %>
   <fieldset>
     <%= f.input :customer_name, :url => autocomplete_user_name_admin_orders_path, 
                 :input_html => { :id_element => '#order_user_id' }, :as => :autocomplete %>
     <%= f.input :user_id, :as => :hidden %>
   </fieldset>
<% end %>