<div id="show_info">
  <h1>出库单列表</h1>

  <%= search_form_for [:store,@search] do |f| %>
    <ul>
      <li>
        <%= f.label '出库单编号' %>
        <%= f.text_field :number_start %>
      </li>
      <li>
        <%= f.label '订单编号' %>
        <%= f.text_field :order_number_start %>
      </li>
      <li>
        <%= f.label '出库类型' %>
        <%= f.collection_select :delivery_type_eq, DeliveryOrder::DELIVERY_TYPE ,
                                :first, :second, :include_blank => true %>
      </li>
      <li>
        <%= f.label '仓库' %>
        <%= f.collection_select :store_id_eq, Store.all ,
                                :id, :name, :include_blank => true %>
      </li>
      <li>
        <%= f.label '出库日期' %>
        <%= f.text_field :created_at_gt %>
        ~
        <%= f.text_field :created_at_lt %>
        <%= f.submit '搜索'%>
      </li>
    </ul>
  <% end %>
</div>

<% if can? :create, DeliveryOrder %>
  <div class="grid_button">
    <%= link_to '销售订单出库', store_sales_order_deliveries_path %>
    <%= link_to '新增出库单', new_store_delivery_order_path %>
  </div>
<% end %>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>出库记录编号</th>
      <th>订单编号</th>
      <th>出货仓库</th>
      <th>操作人</th>
      <th>出库类型</th>
      <th>出库时间</th>
    </tr>
  </thead>

<% @delivery_orders.each_with_index do |delivery_order,index| %>
  <tr class="<%= set_odd_even_class index %>">
    <td><%= index+1 %></td>
    <td><%= link_to delivery_order.number, store_delivery_order_path(delivery_order) %></td>
    <td><%= delivery_order.order.number if delivery_order.order %></td>
    <td><%= delivery_order.store.name %></td>
    <td><%= delivery_order.administrator.name %></td>
    <td><%= DeliveryOrder::DELIVERY_TYPE[delivery_order.delivery_type] %></td>
    <td><%= delivery_order.created_at %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @delivery_orders %>