<%= form_for([:store,@delivery_order]) do |f| %>
  <h1>新增出库记录</h1>
  <h2><%= notice %></h2>
  <%= error_messages @delivery_order %>
  <div id="show_info">
    <ul>
      <li>
        <%= symbol_label "出库记录编号" %>
        <span>（系统自动生成）</span>
      </li>
      <li>
        <%= symbol_label "出库时间" %>
        <span><%= Time.now %></span>
      </li>
      <li>
        <%= symbol_label "操作人" %>
        <span><%= current_administrator.name %></span>
        <hr />
      </li>
      <li>
        <label><abbr title='required'>*</abbr>发货仓库</label>
        <%= f.collection_select :store_id, Store.all, :id, :name %>
      </li>
      <li>
        <label><abbr title='required'>*</abbr>提货人</label>
        <%= f.text_field :name %>
      </li>
      <li>
        <label><abbr title='required'>*</abbr>联系方式</label>
        <%= f.text_field :phone %>
      </li>
      <li>
        <label><abbr title='required'>*</abbr>出库类型</label>
        <%= f.collection_select :delivery_type, DeliveryOrder::DELIVERY_TYPE.find_all { |key,value| [key,value] if key != 1}, :first, :second %>
      </li>
    </ul>

    <hr />

    <table class="grid">
      <thead>
        <tr>
          <th>#</th>
          <th>商品编码</th>
          <th>商品名称</th>
          <th>规格</th>
          <th>型号</th>
          <th>单位</th>
          <th>数量</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="product_carts">
        <% @store_entry_product_carts.each_with_index do |product,index| %>
          <tr class="<%= set_odd_even_class(index) %>">
            <td><%= index+1 %></td>
            <td><%= product.product.product_id %></td>
            <td><%= product.product.name %></td>
            <td><%= product.product.specification %></td>
            <td><%= product.product.model %></td>
            <td><%= product.product.unit %></td>
            <td><input type="text" size="3"  value="<%= product.quantity %>" onchange="update_cart('<%= product.id %>',this.value,1)"/></td>
            <td><a href="#" class="link" onclick="destroy_cart('<%= product.id %>','<%= product.cart_type %>')">删除</a></td>
          </tr>
        <% end %>

        <script type="text/javascript">

          function update_cart(id,value,type){
            jQuery.ajax({ type: 'put', //提交的类型
                          url: '/admin/store_entry_product_carts/'+id,//提交地址
                          data: 'value='+value+'&type='+type,//参数  type:{1:数量,2:日期,3:单价,4:总计}
                          success: function(msg){ //回调方法
                          }});
          }

          function destroy_cart(id,cart_type){
            jQuery.ajax({ type: 'delete', //提交的类型
                          url: '/admin/store_entry_product_carts/'+id,//提交地址
                          data: 'cart_type='+cart_type,//参数
                          success: function(msg){ //回调方法
                            $('#product_carts').html(msg);
                          }});
          }
        </script>
      </tbody>
    </table>


    <div class="attributes margin_top_20">
      商品编号:<%= text_field_tag 'q[product_id_eq]' %>
      商品名称:<%= text_field_tag 'q[name_cont]' %>
      <input type="button" value="查询" id="product_search_btn" />
    </div>

    <table class="grid">
      <thead>
        <tr>
          <th>#</th>
          <th>商品编码</th>
          <th>商品名称</th>
          <th>规格</th>
          <th>型号</th>
          <th>单位</th>
          <th>添加</th>
        </tr>
      </thead>
      <tbody id="search_product"></tbody>
    </table>
    <p>
       <%= f.label "备注" %>
      <%= f.text_field :de_remarks, :style => "width:80%" %>
    </p>
    <hr />
    <%= f.submit "确认出库" %>
    <input type="button" value="关闭页面" onclick="return window.close()" />
  </div>
<% end %>


<script type="text/javascript">
  jQuery("#product_search_btn").click(function(){
    jQuery.ajax({ type: 'get', //提交的类型
                  url: '/admin/products/search',
                  data: {"cart_type":2,"q[product_id_eq]":jQuery("#q_product_id_eq").val(),"q[name_cont]":jQuery("#q_name_cont").val()},
                  dataType:'script'
    });
  });
</script>

