<%= form_for(@cart_skuship) do |f| %>
  <% if @cart_skuship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart_skuship.errors.count, "error") %> prohibited this cart_skuship from being saved:</h2>

      <ul>
      <% @cart_skuship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sku_id %><br />
    <%= f.text_field :sku_id %>
  </div>
  <div class="field">
    <%= f.label :cart_id %><br />
    <%= f.text_field :cart_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
