<h2 class="bar_image_1000 bar_indent_8">已挑选商品</h2>
<div id="cart_proc" class="cart_proc_background_1">
  <ul class="h_ul">
    <li class="h_li white">我的购物车</li>
    <li class="h_li">确认订单</li>
    <li class="h_li">订单完成</li>
  </ul>
</div>
<table class="margin_top_65">
  <caption>我的购物车<a href="#" style="float:right">[清空购物车]</a></caption>
  <thead>
    <tr>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装</th>
      <th>安装费用</th>
      <th>组装</th>
      <th>组装费用</th>
      <th>其他费用</th>
      <th>小计</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.cart_skuships.each_with_index do |cart_sku,index| %>
      <tr class="<%= set_odd_even_class index+1 %>">
        <td><%= cart_sku.sku.number %></td>
        <td><%= cart_sku.sku.name %></td>
        <td><%= number_to_currency cart_sku.sku.cost_aft_tax, :unit => "￥" %></td>
        <td><%= text_field_tag :quantity, cart_sku.quantity %></td>
        <td><input type="checkbox" class="check"/></td>
        <td><%= number_to_currency cart_sku.sku.insatllation_cost_aft_tax, :unit => "￥" %></td>
        <td><input type="checkbox" class="check"/></td>
        <td><%= number_to_currency cart_sku.sku.assembling_fee_aft_tax, :unit => "￥" %></td>
        <td>&yen;0.00</td>
        <td><%= cart_sku.total_amount %></td>
        <td>
          <a href="#">删除</a>
          <a href="#">收藏</a>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="11">商品总价：<i>9999999.99</i>元 + 安装费：<i>9999.99</i>元 + 组装费：<i>999.99</i>元 + 其他费用：<i>999.99</i>元</td>
    </tr>
    <tr>
      <td colspan="11"><strong>选购商品价格总计</strong>（不包含运费）：<strong><i>99999999.99</i></strong>元</td>
    </tr>
  </tfoot>
</table>
<br class="clear" />
<div style="text-align:center">
  <button class="order_buttun" id="continue_shopping">继续购物</button>
  <button class="order_buttun" id="go_settlement">前往结算</button>
</div>


