<h2 class="bar_image_1000 bar_indent_8">已挑选商品</h2>
<div id="cart_proc" class="cart_proc_background_1">
  <ul class="h_ul">
    <li class="h_li white">我的购物车</li>
    <li class="h_li">确认订单</li>
    <li class="h_li">订单完成</li>
  </ul>
</div>
<table class="margin_top_65 order_sku_details">
  <caption>
    我的购物车
    <%= link_to "[清空购物车]", empty_cart_cart_skuships_path, :style => "float:right",
                :confirm => "确认清空购物车？", :method => :delete %>
  </caption>
  <thead>
    <tr>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装</th>
      <th>安装费用</th>
      <th>组装</th>
      <th>组装费用</th>
      <th>其他费用</th>
      <th>小计</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_skuships.each_with_index do |cart_sku,index| %>
      <tr class="<%= set_odd_even_class (index+1) %>" id="<%= cart_sku.id %>">
        <td><%= cart_sku.sku.number %></td>
        <td><%= cart_sku.sku.name %></td>
        <td><%= number_to_currency cart_sku.sku.cost_aft_tax, :unit => "￥" %></td>
        <td><%= text_field_tag :quantity, cart_sku.quantity, :class => "cart_sku_quantity" %></td>
        <td><%= check_box_tag :is_need_install, 1, cart_sku.is_need_install, :class => "cart_sku_is_need_install check" %></td>
        <td><%= number_to_currency cart_sku.sku.installation_cost_aft_tax, :unit => "￥" %></td>
        <td><%= check_box_tag :is_need_assemble, 1, cart_sku.is_need_assemble, :class => "cart_sku_is_need_assemble check" %></td>
        <td><%= number_to_currency cart_sku.sku.assembling_fee_aft_tax, :unit => "￥" %></td>
        <td>非法字段</td>
        <td id="subtotal<%= cart_sku.id %>"><%= number_to_currency cart_sku.total_amount, :unit => "￥" %></td>
        <td>
          <%= link_to t('admin.actions.delete.menu'), cart_cart_skuship_path(cart_sku), :confirm => t('admin.actions.delete.confirm'), :method => :delete %>
          <a href="#">收藏</a>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="11" class="short_height_td">
        <%= will_paginate @cart_skuships %>
      </td>
    </tr>
    <tr>
      <td colspan="11">
        商品总价：
        <i id="total_sku_amount">
          <%= number_to_currency @cart.total_sku_amount, :unit => "￥" %>
        </i>
        元 + 安装费：
        <i id="total_installation_amount">
          <%= number_to_currency @cart.total_installation_amount, :unit => "￥" %>
        </i>
        元 + 组装费：
        <i id="total_assembling_amount">
          <%= number_to_currency @cart.total_assembling_amount, :unit => "￥" %>
        </i>
        元 + 其他费用：
        <i>非法字段</i>元
      </td>
    </tr>
    <tr>
      <td colspan="11">
        <strong>选购商品价格总计</strong>
        （不包含运费）：
        <strong><i id="total_amount"><%= number_to_currency @cart.total_amount, :unit => "￥" %></i></strong>
        元
      </td>
    </tr>
  </tfoot>
</table>
<br class="clear" />
<div style="text-align:center">
  <button class="order_buttun" id="continue_shopping">继续购物</button>
  <button class="order_buttun" id="go_settlement">前往结算</button>
</div>

<% if !alert.nil?
    content_for :ready do %>
      alert('<%= alert %>');
 <% end
  end %>


