<%= form_for(@order_detail) do |f| %>
  <% if @order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>

      <ul>
      <% @order_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :sku_id %><br />
    <%= f.text_field :sku_id %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :is_need_install %><br />
    <%= f.text_field :is_need_install %>
  </div>
  <div class="field">
    <%= f.label :install_cost %><br />
    <%= f.text_field :install_cost %>
  </div>
  <div class="field">
    <%= f.label :is_need_assemble %><br />
    <%= f.text_field :is_need_assemble %>
  </div>
  <div class="field">
    <%= f.label :assemble_cost %><br />
    <%= f.text_field :assemble_cost %>
  </div>
  <div class="field">
    <%= f.label :other_cost %><br />
    <%= f.text_field :other_cost %>
  </div>
  <div class="field">
    <%= f.label :created_admin_id %><br />
    <%= f.text_field :created_admin_id %>
  </div>
  <div class="field">
    <%= f.label :updated_admin_id %><br />
    <%= f.text_field :updated_admin_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
