<% @products.each_with_index do |product,index| %>
  <tr class="<%= cycle("odd","even") %>">
    <td><%= index+1 %></td>
    <td><%= product.product_id %></td>
    <td><%= product.name %></td>
    <td><%= product.specification %></td>
    <td><%= product.unit %></td>
    <td><%= cny product.cost_aft_tax %></td>
    <td><%= format_product_inventory product.nb_inventory? %></td>
    <td>
      <%= link_to t('admin.misc.add_new'), purchase_po_product_temp_lists_path(:product_id => product.id), :method => :post, :remote => true %>
    </td>
  </tr>
<% end %>