<%= simple_form_for [:purchase, @purchase_order] do |f| %>

  <%= error_messages @purchase_order %>

  <ul id="purchase_review_info">
    <li>
      <%= f.label :po_id %>
      <span><%= @purchase_order.po_id %></span>
    </li>
    <li>
      <%= f.label :created_at %>
      <span><%= Time.now.strftime('%Y-%m-%d') %></span>
    </li>
    <li>
      <%= f.label :administrator_id %>
      <span><%= current_administrator.name %></span>
    </li>
    <li>
      <%= f.label :ordering_company_id %>
      <span><%= @purchase_order.ordering_company.name %></span>
    </li>
    <%= f.input :ordering_company_id, :as => :hidden %>
    <li>
      <label><%= t 'activerecord.attributes.ordering_company.address' %></label>
      <span><%= @purchase_order.ordering_company.address %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.ordering_company.phone' %></label>
      <span><%= @purchase_order.ordering_company.phone %></span>
    </li>
    <li>
      <%= label_tag t 'activerecord.attributes.supplier.supplier_id' %>
      <span><%= @purchase_order.supplier.supplier_id %></span>
    </li>

    <%= f.input :supplier_id, :as => :hidden %>
    <li>
      <label><%= t 'activerecord.attributes.supplier.name' %></label>
      <span><%= @purchase_order.supplier.name %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.supplier.contact_way' %></label>
      <span><%= @purchase_order.supplier.contact_way %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.supplier.fax' %></label>
      <span><%= @purchase_order.supplier.fax %></span>
    </li>
  </ul>

  <table id="po_products">
    <%= render "purchase/po_product_lists/po_products" %>
  </table>

  <div id="search_control_panel">
    <%= hidden_field_tag :purchase_order_id, @purchase_order.id %>
    <label><%= t 'activerecord.attributes.product.product_id' %></label>
    <%= text_field :q, :product_id_start, :class => "float_l" %>
    <label><%= t 'activerecord.attributes.product.name' %></label>
    <%= text_field :q, :name_cont, :class => "float_l" %>
    <button type="button" id="edit_product_search_button"><%= t 'admin.misc.search' %></button>
  </div>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t 'activerecord.attributes.product.product_id' %></th>
        <th><%= t 'activerecord.attributes.product.name' %></th>
        <th><%= t 'activerecord.attributes.product.specification' %></th>
        <th><%= t 'activerecord.attributes.product.unit' %></th>
        <th><%= t 'activerecord.attributes.product.cost_aft_tax' %></th>
        <th><%= t 'activerecord.attributes.product.inventory' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="search_products">
      <%= render "products_edit" %>
    </tbody>
  </table>

  <div id="purchase_delivery_date_control_panel">
    <%= f.input :po_time_of_delivery, :as => :date %>
    <%= f.input :po_remarks, :input_html => { :cols => 120, :rows => 5, :style => "float: left"} %>
    <%= f.submit t('admin.misc.save'), :id => "purchase_order_submit", :style => "float: left; clear: both;" %>
  </div>
<% end %>