<%= link_to t('admin.actions.new.title', :model => t('activerecord.models.purchase_order')), new_purchase_purchase_order_path, :target => "_blank" %>

<%= search_form_for @search, :url => purchase_purchase_orders_path do |f| %>
  <%= f.label :po_id %>
  <%= f.text_field :po_id_eq %>
  <%= f.label :po_status %>
  <%= f.collection_select :po_status_eq, PurchaseOrder.po_status_enum, :first, :last, :include_blank => true %>
  <%= t 'activerecord.attributes.supplier.supplier_id' %>
  <%= f.text_field :supplier_supplier_id_eq %>
  <%= f.label :administrator_id %>
  <%= f.text_field :administrator_name_cont %>
  <%= t 'admin.misc.start_date' %>
  <%= f.date_select :created_at_gt,{:include_blank=>true} %>
  <%= t 'admin.misc.end_date' %>
  <%= f.date_select :created_at_lt,{:include_blank=>true} %>
  <%= f.submit t('admin.misc.search') %>
<% end %>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.purchase_order.po_id' %></th>
      <th><%= t 'activerecord.attributes.purchase_order.supplier_id' %></th>
      <th><%= t 'activerecord.attributes.purchase_order.created_at' %></th>
      <th><%= t 'activerecord.attributes.purchase_order.price' %></th>
      <th><%= t 'activerecord.attributes.purchase_order.po_status' %></th>
      <th><%= t 'activerecord.attributes.purchase_order.po_store_status' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @purchase_orders.each_with_index do |purchase_order,index| %>
    <tr class="<%= cycle("odd","even") %>">
      <td><%= index+1 %></td>
      <td><%= link_to purchase_order.po_id, purchase_purchase_order_path(purchase_order), :target => "_blank" %></td>
      <td><%= purchase_order.supplier.name %></td>
      <td><%= purchase_order.created_at %></td>
      <td><%= cny purchase_order.price %></td>
      <td><%= format_po_status purchase_order.po_status %></td>
      <td><%= format_po_store_status purchase_order.po_store_status %></td>
      <td><%= purchase_order_operating purchase_order %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8"><%= will_paginate @purchase_orders %></td>
    </tr>
  </tfoot>
</table>


