<%= simple_form_for [:purchase, @purchase_order] do |f| %>

  <ul id="purchase_review_info">
    <li>
      <%= f.label :po_id %>
      <span>(系统自动生成)</span>
    </li>
    <li>
      <%= f.label :created_at %>
      <span><%= Time.now.strftime('%Y-%m-%d') %></span>
    </li>
    <li>
      <%= f.label :administrator_id %>
      <span><%= current_administrator.name %></span>
    </li>
    <li>
    <%= f.label :ordering_company_id %>
    <span><%= @purchase_order.ordering_company.name %></span>
    </li>
    <%= f.input :ordering_company_id, :as => :hidden %>
    <li>
      <label><%= t 'activerecord.attributes.ordering_company.address' %></label>
      <span><%= @purchase_order.ordering_company.address %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.ordering_company.phone' %></label>
      <span><%= @purchase_order.ordering_company.phone %></span>
    </li>
    <li>
      <%= label_tag t 'activerecord.attributes.supplier.supplier_id' %>
      <span><%= @purchase_order.supplier.supplier_id %></span>
    </li>

    <%= f.input :supplier_id, :as => :hidden %>
    <li>
      <label><%= t 'activerecord.attributes.supplier.name' %></label>
      <span><%= @purchase_order.supplier.name %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.supplier.contact_way' %></label>
      <span><%= @purchase_order.supplier.contact_way %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.supplier.fax' %></label>
      <span><%= @purchase_order.supplier.fax %></span>
    </li>
  </ul>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t 'activerecord.attributes.product.product_id' %></th>
        <th><%= t 'activerecord.attributes.product.name' %></th>
        <th><%= t 'activerecord.attributes.product.specification' %></th>
        <th><%= t 'activerecord.attributes.product.unit' %></th>
        <th><%= t 'activerecord.attributes.product.cost_aft_tax' %></th>
        <th><%= t 'activerecord.attributes.po_product_list.product_purchase_amount' %></th>
        <th><%= t 'activerecord.attributes.po_product_list.subtotal' %></th>
        <th><%= t 'activerecord.attributes.product.inventory' %></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.po_product_temp_lists.each_with_index do |po_product,index| %>
        <tr class="<%= cycle("odd","even") %>">
          <td><%= index+1 %></td>
          <td><%= po_product.product.product_id %></td>
          <td><%= po_product.product.name %></td>
          <td><%= po_product.product.specification %></td>
          <td><%= po_product.product.unit %></td>
          <td><%= po_product.product.cost_aft_tax %></td>
          <td><%= po_product.product_purchase_amount %></td>
          <td><%= po_product.subtotal %></td>
          <td><%= format_product_inventory po_product.product.nb_inventory? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.label :po_time_of_delivery %>
  <span><%= @purchase_order.po_time_of_delivery %></span>

  <%= f.input :po_time_of_delivery, :as => :hidden %>

  <%= f.label :po_remarks, :style => "clear: both; width: 120px;" %>
  <span><%= @purchase_order.po_remarks %></span>

  <%= f.input :po_remarks, :as => :hidden%>
  <button type="button" onclick="window.location.href='<%= new_purchase_purchase_order_path %>'"
          style="clear: both; float: left;">返回修改</button>
  <%= f.submit (t 'admin.misc.submit'), :style => "float: left;" %>
<% end %>