<%= simple_form_for @purchase_order, :url => released_update_purchase_purchase_order_path(@purchase_order) do |f| %>
  <%= t 'activerecord.attributes.purchase_order.po_id' %>
  <%= @purchase_order.po_id %>

  <%= t 'activerecord.attributes.purchase_order.created_at' %>
  <%= @purchase_order.created_at %>

  <%= t 'activerecord.attributes.purchase_order.administrator_id' %>
  <%= @purchase_order.administrator.name %>

  <%= t 'activerecord.attributes.purchase_order.po_status' %>
  <%= format_po_status @purchase_order.po_status %>

  <%= t 'activerecord.attributes.purchase_order.po_store_status' %>
  <%= format_po_store_status @purchase_order.po_store_status %>

  <%= t 'activerecord.attributes.purchase_order.po_released_at' %>
  <%= @purchase_order.po_released_at %>

  <%= t 'activerecord.attributes.purchase_order.ordering_company_id' %>
  <%= @purchase_order.ordering_company.name %>

  <%= t 'activerecord.attributes.ordering_company.address' %>
  <%= @purchase_order.ordering_company.address %>

  <%= t 'activerecord.attributes.ordering_company.phone' %>
  <%= @purchase_order.ordering_company.phone %>

  <%= t 'activerecord.attributes.supplier.supplier_id' %>
  <%= @purchase_order.supplier.supplier_id %>

  <%= t 'activerecord.attributes.supplier.name' %>
  <%= @purchase_order.supplier.name %>

  <%= t 'activerecord.attributes.supplier.contact_way' %>
  <%= @purchase_order.supplier.contact_way %>

  <%= t 'activerecord.attributes.supplier.fax' %>
  <%= @purchase_order.supplier.fax %>

  <table id="po_products">
    <%= render "purchase/po_product_lists/released_products" %>
  </table>

  <%= t 'activerecord.attributes.purchase_order.po_time_of_delivery' %>
  <%= @purchase_order.po_time_of_delivery %>

  <%= t 'activerecord.attributes.purchase_order.po_remarks' %>
  <%= @purchase_order.po_remarks %>

  相关入库单：
  <table>
    <% @purchase_order.store_entries.each_with_index do |store_entry,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= store_entry.number %></td>
        <td><%= store_entry.created_at %></td>
      </tr>
    <% end %>
  </table>


  <%= f.submit t('admin.misc.save') %>
<% end %>