<%= simple_form_for @purchase_order, :url => released_update_purchase_purchase_order_path(@purchase_order) do |f| %>

  <%= error_messages @purchase_order %>

  <ul id="purchase_review_info">
    <li>
      <%= f.label :po_id %>
      <span><%= @purchase_order.po_id %></span>
    </li>
    <li>
      <%= f.label :created_at %>
      <span><%= Time.now.strftime('%Y-%m-%d') %></span>
    </li>
    <li>
      <%= f.label :administrator_id %>
      <span><%= current_administrator.name %></span>
    </li>
    <hr />
    <li>
      <%= f.label :ordering_company_id %>
      <span><%= @purchase_order.ordering_company.name %></span>
    </li>
    <%= f.input :ordering_company_id, :as => :hidden %>
    <li>
      <label><%= t 'activerecord.attributes.ordering_company.address' %></label>
      <span><%= @purchase_order.ordering_company.address %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.ordering_company.phone' %></label>
      <span><%= @purchase_order.ordering_company.phone %></span>
    </li>
    <hr />
    <li>
      <%= label_tag t 'activerecord.attributes.supplier.supplier_id' %>
      <span><%= @purchase_order.supplier.supplier_id %></span>
    </li>

    <%= f.input :supplier_id, :as => :hidden %>
    <li>
      <label><%= t 'activerecord.attributes.supplier.name' %></label>
      <span><%= @purchase_order.supplier.name %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.supplier.contact_way' %></label>
      <span><%= @purchase_order.supplier.contact_way %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.supplier.fax' %></label>
      <span><%= @purchase_order.supplier.fax %></span>
    </li>
  </ul>

  <table id="po_products">
    <%= render "purchase/po_product_lists/released_products" %>
  </table>
  <hr />

  <label class="clear_both"><%= t 'activerecord.attributes.purchase_order.po_time_of_delivery' %></label>
  <span><%= @purchase_order.po_time_of_delivery %></span>

  <label class="clear_both"><%= t 'activerecord.attributes.purchase_order.po_remarks' %></label>
  <input type="text" style="float: left;"/>
  <span><%= @purchase_order.po_remarks %></span>
  <hr />

  <h4 style="clear: both;">相关入库单：</h4>
  <table id="related_store_entry">
    <% @purchase_order.store_entries.each_with_index do |store_entry,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= store_entry.number %></td>
        <td><%= store_entry.created_at %></td>
      </tr>
    <% end %>
  </table>


  <%= f.submit t('admin.misc.save') %>
<% end %>