<div class="control_panel">
  <label><%= t 'activerecord.attributes.purchase_order.po_id' %></label>
  <p class="purchase_order_info standard"><%= @purchase_order.po_id %></p>

  <label><%= t 'activerecord.attributes.purchase_order.po_status' %></label>
  <p class="purchase_order_info standard"><%= format_po_status @purchase_order.po_status %></p>

  <label><%= t 'activerecord.attributes.purchase_order.po_released_at' %></label>
  <p class="purchase_order_info short"><%= @purchase_order.po_released_at %></p>
  
  <label class="clear_both"><%= t 'activerecord.attributes.purchase_order.created_at' %></label>
  <p class="purchase_order_info standard"><%= @purchase_order.created_at %></p>
  
  <label><%= t 'activerecord.attributes.purchase_order.po_store_status' %></label>
  <p class="purchase_order_info standard"><%= format_po_store_status @purchase_order.po_store_status %></p>
  
  <label><%= t 'activerecord.attributes.purchase_order.po_closed_at' %></label>
  <p class="purchase_order_info short"><%= @purchase_order.po_closed_at %></p>

  <label class="clear_both"><%= t 'activerecord.attributes.purchase_order.administrator_id' %></label>
  <p class="purchase_order_info standard"><%= @purchase_order.administrator.name %></p>
</div>

<div class="control_panel">
  <label><%= t 'activerecord.attributes.purchase_order.ordering_company_id' %></label>
  <p class="purchase_order_info long"><%= @purchase_order.ordering_company.name %></p>

  <label><%= t 'activerecord.attributes.supplier.supplier_id' %></label>
  <p class="purchase_order_info long"><%= @purchase_order.supplier.supplier_id %></p>

  <label class="clear_both"><%= t 'activerecord.attributes.ordering_company.address' %></label>
  <p class="purchase_order_info long"><%= @purchase_order.ordering_company.address %></p>

  <label><%= t 'activerecord.attributes.supplier.name' %></label>
  <p class="purchase_order_info long"><%= @purchase_order.supplier.name %></p>

  <label class="clear_both"><%= t 'activerecord.attributes.ordering_company.phone' %></label>
  <p class="purchase_order_info long"><%= @purchase_order.ordering_company.phone %></p>

  <label><%= t 'activerecord.attributes.supplier.contact_way' %></label>
  <p class="purchase_order_info"><%= @purchase_order.supplier.contact_way %></p>

  <label class="clear_both margin_l_475"><%= t 'activerecord.attributes.supplier.fax' %></label>
  <p class="purchase_order_info"><%= @purchase_order.supplier.fax %></p>
</div>
<div class="clear_both">
  <label><%= t 'admin.actions.index.title', :model => t('activerecord.models.po_product_list') %></label>
  <p class="right button">
    <% if @purchase_order.po_status == 0 %>
      <%= link_to t('admin.actions.edit.title', :model => t('activerecord.models.purchase_order')),
                  edit_purchase_purchase_order_path(@purchase_order.id) %>
    <% elsif @purchase_order.po_status == 1 %>
      <%= link_to t('admin.actions.edit.title', :model => t('activerecord.models.purchase_order')) %>
    <% end %>
  </p>
</div>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.product.product_id' %></th>
      <th><%= t 'activerecord.attributes.product.name' %></th>
      <th><%= t 'activerecord.attributes.product.specification' %></th>
      <th><%= t 'activerecord.attributes.product.unit' %></th>
      <th><%= t 'activerecord.attributes.product.cost_aft_tax' %></th>
      <th><%= t 'activerecord.attributes.po_product_list.product_purchase_amount' %></th>
      <th><%= t 'activerecord.attributes.po_product_list.subtotal' %></th>
      <th><%= t 'activerecord.attributes.po_product_list.product_store_amount' %></th>
      <th><%= t 'activerecord.attributes.po_product_list.product_store_price' %></th>
      <th><%= t 'activerecord.attributes.product.inventory' %></th>
    </tr>
  </thead>
  <tbody id="po_products">
    <% @purchase_order.po_product_lists.each_with_index do |po_product,index| %>
      <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
        <td><%= index+1 %></td>
        <td><%= po_product.product.product_id %></td>
        <td><%= po_product.product.name %></td>
        <td><%= po_product.product.specification %></td>
        <td><%= po_product.product.unit %></td>
        <td><%= cny po_product.product.cost_aft_tax %></td>
        <td><%= po_product.product_purchase_amount %></td>
        <td><%= cny po_product.subtotal %></td>
        <td><%= po_product.store_amount %></td>
        <td><%= cny po_product.store_price %></td>
        <td><%= format_product_inventory po_product.product.nb_inventory? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="purchase_amount">
  <p>
    <%= t 'activerecord.attributes.purchase_order.price'%>：
  </p>
  <%= cny @purchase_order.price %>
  <br />
  <p>
    已入库商品合计金额：
  </p>
  <em class="cny">&yen;9999.99</em>
</div>

<div id="expected_arrival_date">
  <p>
    <%= t 'activerecord.attributes.purchase_order.po_time_of_delivery' %>：
    <%= @purchase_order.po_time_of_delivery %>
  </p>
  <p class="clear_both">
    <%= t 'activerecord.attributes.purchase_order.po_remarks' %>：
    <%= @purchase_order.po_remarks %>
  </p>
</div>


<h4 class="clear_both">相关入库单：</h4>
<table id="store_entries">
  <% @purchase_order.store_entries.each_with_index do |store_entry,index| %>
    <tr class="<%= set_odd_even_class index %>">
      <td><%= index+1 %></td>
      <td><%= store_entry.number %></td>
      <td><%= store_entry.created_at %></td>
    </tr>
  <% end %>
</table>

<div id="button_panel">
  <% if @purchase_order.po_status == 0 || @purchase_order.po_status == 1  %>
    <%= link_to "关闭采购单", purchase_purchase_order_path(@purchase_order), :confirm => "确定关闭采购单么？",
                :method => :delete, :class => "green"  %>
  <% end %>
  <% if @purchase_order.po_status == 0 %>
    <%= link_to "发布", release_purchase_purchase_order_path(@purchase_order), :confirm => "确定发布采购单么？",
                :method => :put, :class => "orange" %>
  <% else %>
    <%= link_to "打印", :class => "orange" %>
  <% end %>
  <%= link_to "关闭页面", "#", :onclick => "window.close()", :class => "grey" %>
</div>