<%= form_for([:admin,@brand],:html => {:multipart=>true})  do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chinese_name %><br />
    <%= f.text_field :chinese_name %>
  </div>
  <div class="field">
    <%= f.label :english_name %><br />
    <%= f.text_field :english_name %>
  </div>
  <div class="field">
    <%= f.label :pinyin %><br />
    <%= f.text_field :pinyin %>
  </div>
  <div class="field">
    <%= f.label :web_address %><br />
    <%= f.text_field :web_address %>
  </div>
  <div class="field">
    <%= f.label :company_introduction %><br />
    <%= f.text_area :company_introduction %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= file_field_tag :image_url %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.text_field :active %>
  </div>
  <div class="field">
    <%= f.label :update_by %><br />
    <%= f.text_field :update_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
