<h1>品牌列表</h1>

<div class="attributes">
  <%= search_form_for [:admin,@search] do |f| %>
    <div class="split_content_left">
      <p>
        <%= f.label '品牌中文名称' %>
        <%= f.text_field :chinese_name_cont %>
      </p>
    </div>
    <div class="split_content_right">
      <p>
        <label>&nbsp;</label>
        <%= f.submit '查询'%>
      </p>
    </div>
    <div class="clear"></div>
  <% end %>
</div>

<div class="grid_button">
  <%= link_to '新建品牌', new_admin_brand_path, :target => "_blank" %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('attributes.brand.chinese_name') %></th>
      <th><%= t('attributes.brand.english_name') %></th>
      <th><%= t('attributes.brand.company_name') %></th>
      <th><%= t('attributes.brand.updated_at') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @brands.each_with_index do |brand,index| %>
  <tr class="<%= set_odd_even_class(index) %>">
    <td><%= index+1 %></td>
    <td><%= brand.chinese_name %></td>
    <td><%= brand.english_name %></td>
    <td><%= brand.company_name %></td>
    <td><%= brand.updated_at %></td>
    <td><%= link_to 'Show', admin_brand_path(brand) %></td>
    <td><%= link_to 'Edit', edit_admin_brand_path(brand) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @brands %>



