<h1>品牌列表</h1>

<table>
  <tr>
    <th><%= t('attributes.brand.chinese_name') %></th>
    <th><%= t('attributes.brand.english_name') %></th>
    <th><%= t('attributes.brand.company_name') %></th>
    <th><%= t('attributes.brand.updated_at') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
    <td><%= brand.chinese_name %></td>
    <td><%= brand.english_name %></td>
    <td><%= brand.company_name %></td>
    <td><%= brand.updated_at %></td>
    <td><%= link_to 'Show', admin_brand_path(brand) %></td>
    <td><%= link_to 'Edit', edit_admin_brand_path(brand) %></td>
    <td><%= link_to 'Destroy', admin_brand_path(brand), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建品牌', new_admin_brand_path %>
