<div id="show_info">
  <h1>品牌信息</h1>
  <ul>
    <li>
      <label>中文名称：</label>
      <span><%= @brand.chinese_name %></span>
    </li>
    <li>
      <label>英文名称：</label>
      <span><%= @brand.english_name %></span>
    </li>
    <li>
      <label>拼音：</label>
      <span><%= @brand.pinyin %></span>
    </li>
    <li>
      <label>网址：</label>
      <span><%= @brand.web_address %></span>
    </li>
    <li>
      <label>公司名称：</label>
      <span><%= @brand.company_name %></span>
    </li>
    <li>
      <label>公司简介：</label>
      <span><%= @brand.company_introduction %></span>
    </li>
    <li>
      <label>图片：</label>
      <%= image_tag @brand.image.url %>
    <li>
      <label>更新者：</label>
      <span><%= @brand.update_by %></span>
    </li>
    <li>
      <label>状态：</label>
      <span><%= Brand::ACTIVE[@brand.active] %></span>
      <br />
    </li>
    <li>
      <%= link_to "返回", admin_brands_path, :class => "left20" %>
      <%= link_to "修改", edit_admin_brand_path(@brand) if can? :update, Brand %>
    </li>
  </ul>
</div>