<div class="well">
  <%= search_form_for [:admin,@search], :class => "form-inline" do |f| %>
    <%= f.text_field :number_cont, :placeholder => t('activerecord.attributes.taurus/company_extend.number'), :class => "trk-non-inline-margin" %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.taurus/company_extend.name'), :class => "trk-non-inline-margin" %>
    <%= f.text_field :user_email_cont, :placeholder => t('activerecord.attributes.taurus/user.email'), :class => "trk-non-inline-margin" %>
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary" %>
  <% end %>
  <hr />
  <%= link_to "<i class='icon-plus-sign'></i> #{t('admin.actions.new.title', :model => t('activerecord.models.taurus/company_extend'))}".html_safe, new_admin_company_extend_path, :class => "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/company_extend.number') %></th>
      <th><%= t('activerecord.attributes.taurus/user.email') %></th>
      <th><%= t('activerecord.attributes.taurus/company_extend.name') %></th>
      <th><%= t('activerecord.attributes.taurus/user.created_at') %></th>
      <th><%= t('activerecord.attributes.taurus/user.role') %></th>
      <th><%= t('admin.misc.operation') %></th>
    </tr>
  </thead>
  <% @company_extends.each_with_index do |company_extend,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to company_extend.number, admin_company_extend_path(company_extend) %></td>
      <td><%= company_extend.user.email %></td>
      <td><%= company_extend.name %></td>
      <td><%= company_extend.created_at %></td>
      <td><%= company_extend.user.role.name %></td>
      <td><%= link_to t('admin.actions.edit.menu'), edit_admin_company_extend_path(company_extend), :class => "btn btn-primary trk-btn-short" %></td>
    </tr>
  <% end %>
  <tfoot>
    <tr><td colspan='9'><%= will_paginate @company_extends, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>



