<%= form_for([:admin,@station]) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', :count => @station.errors.size, :model => t('models.station')) %></h2>

      <ul>
      <% @station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><span class="red">*</span><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :display_name %><span class="red">*</span><br />
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :condition_function %><br />
    <%= f.text_field :condition_function %>
  </div>
  <div class="field">
    <%= f.label :business_function %><br />
    <%= f.text_field :business_function %>
  </div>
  <div class="field">
    <%= f.label :station_type %><br />
    <%= f.radio_button :station_type, '0' %>
    <%= label_tag '开始站' %>
    <%= f.radio_button :station_type, '1' %>
    <%= label_tag '结束站' %>
    <%= f.radio_button :station_type, '2' %>
    <%= label_tag '异常终止站' %>
    <%= f.radio_button :station_type, '3' %>
    <%= label_tag '自动站' %>
    <% if @station.station_type == nil %>
    <%= f.radio_button :station_type, '4', :checked => true %>
    <% else %>
    <%= f.radio_button :station_type, '4' %>
    <% end %>
    <%= label_tag '普通站' %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br />
    <%= f.text_field :sequence %>
  </div>
  <div class="field">
    <%= f.label :safe_quantity %><br />
    <%= f.text_field :safe_quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
