<%= simple_form_for([:admin,@supplier], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= f.input :number %>
    <%= f.input :name %>
    <%= f.input :contact_name %>
    <%= f.input :contact_phone %>
    <%= f.input :email %>
    <%= f.input :remarks %>
    <%= f.input :status, :as => :boolean %>
    
    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
