<div class="well">
  <%= search_form_for [:admin,@search], :class => "form-inline" do |f| %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.taurus/supplier.name'), :class => "trk-non-inline-margin" %>
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary" %>
  <% end %>
  <hr />
  <%= link_to "#{content_tag(:i, '', :class => 'icon-plus-sign')} #{t('admin.actions.new.title', :model => t('activerecord.models.taurus/supplier'))}".html_safe, new_admin_supplier_path, :class => "btn btn-primary" if can? :create, Taurus::Supplier %>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/supplier.number') %></th>
      <th><%= t('activerecord.attributes.taurus/supplier.name') %></th>
      <th><%= t('activerecord.attributes.taurus/supplier.updated_at') %></th>
      <th><%= t('admin.misc.operation') %></th>
   </tr>
  </thead>
  <% @suppliers.each_with_index do |supplier,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to supplier.number, admin_supplier_path(supplier) %></td>
      <td><%= supplier.name %></td>
      <td><%= supplier.updated_at %></td>
      <td>
        <%= link_to t('admin.actions.edit.menu'), edit_admin_supplier_path(supplier), 
            :class => "btn btn-primary trk-btn-short" if can? :update, supplier %>
      </td>
    </tr>
  <% end %>
  <tfoot>
    <tr><td colspan='5'><%= will_paginate @suppliers, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>