<div class="well">
  <%= search_form_for [:admin,@search], :class => "form-inline" do |f| %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.taurus/supplier.name'), :class => "trk-non-inline-margin" %>
    <%= f.collection_select :status_eq, Taurus::Supplier::STATUS, :first, :second,
                            :include_blank => "全部", :class => "trk-non-inline-margin" %>
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary" %>
  <% end %>
  <hr />
  <a href="<%= new_admin_supplier_path %>" class="btn btn-primary" id="create_tag">
    <i class="icon-plus-sign"></i>
    <%= t('admin.actions.new.title',:model => t('activerecord.models.taurus/supplier')) %>
  </a>
</div>

<%= flash_messages %>


<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/supplier.number') %></th>
      <th><%= t('activerecord.attributes.taurus/supplier.name') %></th>
      <th><%= t('activerecord.attributes.taurus/supplier.updated_at') %></th>
      <th><%= t('admin.misc.operation') %></th>
   </tr>
  </thead>
  <% @suppliers.each_with_index do |supplier,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to supplier.number, admin_supplier_path(supplier) %></td>
      <td><%= supplier.name %></td>
      <td><%= supplier.updated_at %></td>
      <td>
        <a href="<%= edit_admin_supplier_path(supplier) %>" class="btn btn-primary trk-btn-short update_tag">
          <%= t('admin.actions.edit.menu') %>
        </a>
        <a href="<%= admin_supplier_path(supplier) %>" class="btn btn-danger trk-btn-short destroy_tag"
           data-method="delete" data-confirm="<%= t('admin.actions.delete.confirm') %>">
          <%= t('admin.actions.delete.menu') %>
        </a>  
      </td>
    </tr>
  <% end %>
  <tfoot>
    <tr><td colspan='5'><%= will_paginate @suppliers, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>