<div class="well">
  <a href="<%= edit_admin_supplier_path(@supplier) %>" class="btn btn-primary" id="update_tag">
    <i class="icon-edit"></i>
    <%= t('admin.actions.edit.menu') %>
  </a>

  <%= link_to "<i class='icon-arrow-left'></i> #{t('admin.misc.back')}".html_safe, admin_suppliers_path, :class => "btn pull-right" %>
</div>

<%= flash_messages %>

<%= simple_form_for(@supplier, :url => "#", :html => {:class => 'form-horizontal'}) do |f| %>
  <fieldset>
    <%= f.input :number, :disabled => true %>
    <%= f.input :name, :disabled => true %>
    <%= f.input :contact_name, :disabled => true %>
    <%= f.input :contact_phone, :disabled => true %>
    <%= f.input :remarks, :disabled => true %>
    <%= f.input :status, :as => :boolean, :disabled => true %>
  </fieldset>
<% end %>
