<p class="nav">全部结果 >> “<%= @keywords %>”</p>

<div id="index_left">
  <h2>分类筛选</h2>
  <h3><a href="#">全部搜索类目</a></h3>
  <%=raw sku_search_categories @categories, @keywords %>
</div>

<div id="index_right">
  <div id="index_controller">
    <p class="index_overall_result">“<%= @keywords %>”的搜索结果<strong>（<%= @skus.total_entries %>）</strong></p>
    <div id="index_conditions_up">
      <p class="float_left height_20 bottom_border">排序：</p>
      <ul class="h_ul float_left bottom_border">
        <li class="h_li height_20">
          <a href="#">销量</a>
        </li>
        <li class="h_li height_20 current_tab" >
          <a href="#">价格</a><span>&uarr;</span>
        </li>
        <li class="h_li height_20">
          <a href="#">评论数</a>
        </li>
        <li class="h_li height_20">
          <a href="#">上架时间</a>
        </li>
      </ul>
      <%= will_paginate @skus %>
    </div>
    <div id="index_conditions_down">
      <p class="clear_both float_left height_25_margin_right_40 margin_top_10">
        <input type="checkbox" class="w_20"/>只显示有货商品
      </p>
      <p class="float_left margin_top_10">
        价格：
        <input type="text" class="w_40" />
        -
        <input type="text" class="w_40" />
        <button type="submit" >确定</button>
      </p>
    </div>
  </div>
  <div id="index_result">
    <ul  class="h_ul sku_list_ul">
      <% @skus.each do |sku| %>
        <li class="h_li sku_list_li">
          <%= image_tag sku.main_img, :width => "120px", :height => "120px" %>
          <p class="sku_list_p overflow_text"><a href="/commodity/sku_details/2956">乐美 中性笔 0.5mm 3031A  蓝 实惠装1盒（10支）</a></p>
          <p class="sku_list_p">原价：¥99999.00</p>
          <strong>现价：¥17.0</strong>
          <br />
          <button>加入购物车</button>
          <button>加关注</button>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @skus %>
  </div>
</div>



