<h2 class="bar_background_1_30">企业用户注册</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <p>
    <label for="user_login_no">登陆账号：</label>
    <%= f.text_field :login_no %>
    <span class="red">*</span>
  </p>

  <p>
    <label for="password">输入密码：</label>
    <%= f.password_field :password %>
    <span class="red">*</span>
  </p>

  <p>
    <label for="confirm_pwd">确认密码：</label>
    <%= f.password_field :password_confirmation %>
    <span class="red">*</span>
  </p>

  <%= f.fields_for :company_extend do |company_extend| %>
    <p>
      <label for="company_extend_company_name">公司名称：</label>
      <%= company_extend.text_field :company_name %>
      <span class="red">*</span>
    </p>

    <p>
      <label for="company_extend_industry_id">行业类别：</label>
      <%= company_extend.select :industry_id, Industry.all.collect{ |p| [p.name, p.id]} %>
      <span class="red">*</span>
    </p>

    <p>
      <label for="company_extend_company_type_id">公司性质：</label>
      <%= company_extend.select :company_type_id, CompanyType.all.collect{ |p| [p.name, p.id]} %>
      <span class="red">*</span>
    </p>

    <p>
     <label for="company_extend_company_scale_id">公司规模：</label>
     <%= company_extend.select :company_scale_id, CompanyScale.all.collect{ |p| [p.name, p.id]},{:include_blank => "-请选择-"} %>
    </p>

    <p>
      <label for="____">所属地区：</label>
      <%=raw address nil, "user[company_extend_attributes]" %>
      <span class="red">*</span>
    </p>

    <hr />

    <p>
      <label for="company_extend_name">联系人姓名：</label>
      <%= company_extend.text_field :name %>
      <span class="red">*</span>
    </p>

    <p>
      <label for="__">称呼：</label>
      <%= company_extend.radio_button :sex, 0, :class => "check" %>女士
      <%= company_extend.radio_button :sex, 1, :checked => true, :class => "check" %>先生
    </p>

    <p>
      <label for="company_extend_contact_dept">联系人部门：</label>
      <%= company_extend.text_field :contact_dept %>
    </p>

    <p>
      <label for="company_extend_contact_post">联系人职位：</label>
      <%= company_extend.text_field :contact_post %>
    </p>

    <p>
      <label for="company_extend_address">详细地址：</label>
      <%= company_extend.text_field :address, :class => "address" %>
      <span class="red">*</span>
    </p>

    <p>
      <label for="company_extend_zip">邮政编码：</label>
      <%= company_extend.text_field :zip %>
    </p>

    <p>
      <label for="company_extend_email">电子邮箱：</label>
      <%= company_extend.text_field :email %>
      <span class="red">*</span>
      <span class="red">用来接收订单提醒邮件，便于您及时了解订单状态</span>
    </p>
    <p>
      <label for="company_extend_web_address">公司网址：</label>
      <%= company_extend.text_field :web_address %>
    </p>

    <p>
      <label for="company_extend_phone">固定电话：</label>
      <%= company_extend.text_field :phone %>
      <span class="red">*</span>
      <span class="red">如：010-12345678-110，固话与手机至少填写一项</span>
    </p>

    <p>
      <label for="company_extend_mobile">移动电话：</label>
      <%= company_extend.text_field :mobile %>
      <span class="red">*</span>
      <span class="red">填写手机号便于接收发货通知短信及送货前确认</span>
    </p>

    <p>
      <label for="company_extend_fax">传真号码：</label>
      <%= company_extend.text_field :fax %>
    </p>

  <% end %>
  <p><%= f.submit "现在注册", :class => "button"%></p>
<% end %>
