<h2 class="bar_background_1_30">个人用户注册</h2>

<%= form_for(resource, :as => resource_name, :url => users_personal_sign_up_path) do |f| %>
  <%= devise_error_messages! %>
  <p>
    <label for="user_login_no">登陆账号：</label>
    <%= f.text_field :login_no %>
    <span class="red">*</span>
  </p>

  <p>
    <label for="password">输入密码：</label>
    <%= f.password_field :password %>
    <span class="red">*</span>
  </p>

  <p>
    <label for="confirm_pwd">确认密码：</label>
    <%= f.password_field :password_confirmation %>
    <span class="red">*</span>
  </p>

  <hr />

  <%= f.fields_for :person_extend do |person_extend| %>
    <p>
      <label for="person_extend_name">真实姓名：</label>
      <%= person_extend.text_field :name %>
      <span class="red">*</span>
      <span class="red">请使用真实姓名以确保及时收到所购商品</span>
    </p>

    <p>
      <label for="person_extend_birth_1i">出生日期:</label>
      <%= person_extend.date_select :birth, :start_year => 1930, :include_blank => true %>
    </p>

    <p>
      <label for="____">所属地区：</label>
      <%=raw address nil, "user[person_extend_attributes]" %>
      <span class="red">*</span>
    </p>

    <p>
      <label for="person_extend_address">详细地址：</label>
      <%= person_extend.text_field :address, :class => "address" %>
      <span class="red">*</span>
    </p>

    <p>
      <label for="person_extend_zip">邮政编码：</label>
      <%= person_extend.text_field :post %>
    </p>

    <p>
      <label for="person_extend_phone">联系电话：</label>
      <%= person_extend.text_field :phone %>
      <span class="red">*</span>
    </p>

    <p>
      <label for="person_extend_email">电子邮箱：</label>
      <%= person_extend.text_field :email %>
      <span class="red">*</span>
      <span class="red">用来接收订单提醒邮件，便于您及时了解订单状态</span>
    </p>
  <% end %>

  <p><%= f.submit "现在注册", :class => "button"%></p>
<% end %>