<h1>Listing cart_skuships</h1>

<table>
  <tr>
    <th>Sku</th>
    <th>Cart</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>

<% @cart_skuships.each do |cart_skuship| %>
  <tr>
    <td><%= cart_skuship.sku.name %></td>
    <td><%= cart_skuship.cart_id %></td>
    <td><%= cart_skuship.quantity %></td>
    <td><%= number_to_currency(cart_skuship.sku.cost_aft_tax) %></td>
    <td><%= link_to 'Show', cart_skuship %></td>
    <td><%= link_to 'Destroy', cart_skuship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= button_to '下单', new_admin_order_path, :method=>:get %>
