<div class="attributes">
  <div class="split_content_left_long">
    <p>
      <%= label_tag "收货人姓名" %><sapn class="red">*</sapn>
      <%= text_field :inner_order_address, :name, :required => "required" %>
    </p>
    <p>
      <%= label_tag "所属地区" %><sapn class="red">*</sapn>
      <%=raw address  nil, "inner_order_address" %>
    </p>
    <p>
      <%= label_tag "地址" %><sapn class="red">*</sapn>
      <%= text_field :inner_order_address, :address, :required => "required" %>
      请详细到路名、小区、门牌号码
    </p>
    <p>
      <%= label_tag "固定电话" %><sapn>&nbsp;</sapn>
      <%= text_field :inner_order_address, :phone %>
    </p>
    <p>
      <%= label_tag "手机" %><sapn class="red">*</sapn>
      <%= text_field :inner_order_address, :mobile, :required => "required" %>
    </p>
    <p>
      <%= label_tag "电子邮箱" %><sapn>&nbsp;</sapn>
      <%= text_field :inner_order_address, :email %>
    </p>
    <p>
      <%= label_tag "邮编" %><sapn>&nbsp;</sapn>
      <%= text_field :inner_order_address, :zip %>
    </p>
  </div>
  <div class="clear"></div>
</div>