<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @procedure.name %>
</p>

<p>
  <b>Display name:</b>
  <%= @procedure.display_name %>
</p>

<p>
  <b>Active:</b>
  <%= @procedure.active %>
</p>

<p>
  <b>Sequence:</b>
  <%= @procedure.sequence %>
</p>


<%= link_to 'Edit', edit_admin_procedure_path(@procedure) %> |
<%= link_to 'Back', admin_procedures_path %>
