<%= form_for([:admin,@store_entry]) do |f| %>
  <% if @store_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_entry.errors.count, "error") %> prohibited this store_entry from being saved:</h2>

      <ul>
      <% @store_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purchase_id %><br />
    <%= f.text_field :purchase_id %>
  </div>
  <div class="field">
    <%= f.label :ordering_company_id %><br />
    <%= f.text_field :ordering_company_id %>
  </div>
  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= f.text_field :supplier_id %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.text_field :store_id %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
