<div id="show_info">
  <h1>入库单列表</h1>

  <%= search_form_for [:admin,@search] do |f| %>
    <ul>
      <li>
        <%= f.label '入库单编号' %>
        <%= f.text_field :number_start %>
      </li>
      <li>
        <%= f.label '采购单编号' %>
        <%= f.text_field :purchase_order_po_id_start %>
      </li>
      <li>
        <%= f.label '入库类型' %>
        <%= f.collection_select :store_in_type_eq, StoreEntry::STORE_IN_TYPE ,
                                :first, :second, :include_blank => true %>
      </li>
      <li>
        <%= f.label '入库日期' %>
        <%= f.text_field :created_at_gt %>
        ~
        <%= f.text_field :created_at_lt %>
        <%= f.submit '搜索'%>
      </li>
    </ul>
  <% end %>
</div>

<div class="grid_button">
  <%= link_to '新增入库单', new_admin_store_entry_path %>
  <%= link_to "采购单入库", purchase_orders_admin_store_entries_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>入库单编号</th>
      <th>采购单编号</th>
      <th>入库仓库</th>
      <th>操作人</th>
      <th>入库类型</th>
      <th>创建时间</th>
    </tr>
  </thead>
  <tbody>
  <% @store_entries.each_with_index do |store_entry,index| %>
    <tr class="<%= set_odd_even_class index %>">
      <td><%= index+1 %></td>
      <td><%= link_to store_entry.number, admin_store_entry_path(store_entry), :target => "_blank" %></td>
      <td><%= store_entry.purchase_order.po_id if store_entry.purchase_order %></td>
      <td><%= store_entry.store.name %></td>
      <td><%= store_entry.administrator.name %></td>
      <td><%= StoreEntry::STORE_IN_TYPE[store_entry.store_in_type] %></td>
      <td><%= store_entry.created_at %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7"><%= will_paginate @store_entries %></td>
    </tr>
  </tfoot>
</table>

