<h1>入库单列表</h1>

<div class="grid_button">
   <%= link_to '采购单入库', be_store_admin_purchases_path %>
   <%= link_to '新增入库单', new_admin_store_entry_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>编号</th>
      <th>采购单编号</th>
      <th>订货公司</th>
      <th>供应商</th>
      <th>仓库</th>
      <th>创建时间</th>
    </tr>
  </thead>
  <tbody>
  <% @store_entries.each_with_index do |store_entry,index| %>
    <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
      <td><%= index+1 %></td>
      <td><%= store_entry.number %></td>
      <td><%= store_entry.purchase.number if !store_entry.purchase.nil? %></td>
      <td><%= store_entry.ordering_company.name %></td>
      <td><%= store_entry.supplier.name %></td>
      <td><%= store_entry.store.name %></td>
      <td><%= store_entry.created_at %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        <%= will_paginate @store_entries %>
      </td>
    </tr>
  </tfoot>
</table>

