<%= render :partial => "taurus/admin/shared/order_tabs", 
           :locals => { :current => "address", :type => "edit" } %>


<%= simple_form_for @order_delivery, :url => admin_order_order_delivery_path(@order, @order_delivery), 
                    :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
    <%= f.input :attention, :input_html => {:class => "span2"} %>
    <%= f.input :district_id, :as => :area, :input_html => {:class => "span2"} %>
    <%= f.input :address, :input_html => {:class => "span3"} %>
    <%= f.input :telephone, :input_html => {:class => "span2"} %>
    <%= f.input :mobile, :input_html => {:class => "span2"} %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>