<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @bank.number %>
</p>

<p>
  <b>Account no:</b>
  <%= @bank.account_no %>
</p>

<p>
  <b>Name:</b>
  <%= @bank.name %>
</p>


<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
