<%= simple_form_for([:admin, @product_category, @custom_property],:html => {:class => 'form-horizontal'})  do |f| %>
  <%= f.error_notification %>
  
  <fieldset>
    <%= f.input :name %>
    <%= f.input :property_type, :collection => Taurus::CustomProperty::PROPERTY_TYPE, :label_method => :second, 
                :value_method => :first, :include_blank => false, :as => :select %>
    <%= f.input :remarks %>
    <%= f.input :status %>

    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
