<%= render :partial => "taurus/admin/shared/product_category_tabs", 
           :locals => { :current => "custom_property", :type => "show" } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/custom_property.name') %></th>
      <th><%= t('activerecord.attributes.taurus/custom_property.property_type') %></th>
      <th><%= t('activerecord.attributes.taurus/custom_property.status') %></th>
    </tr>
  </thead>
  <tbody>
  <% @custom_properties.each_with_index do |custom_property,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td>
        <%= link_to custom_property.name, 
                    admin_product_category_custom_property_path(custom_property.product_category_id,
                                                                custom_property), :target => "_blank" %>
      </td>
      <td><%= format_property_type custom_property.property_type %></td>
      <td><%= format_boolean custom_property.status %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan='6'><%= will_paginate @custom_properties, :renderer => BootstrapPagination::Rails %></td>
    </tr>
  </tfoot>
</table>
 