<%= simple_form_for([:admin,@product_category],:html => {:class => 'form-horizontal'})  do |f| %>
  <%= f.error_notification %>
  
  <fieldset>
    <%= f.input :parent_name, :url => autocomplete_product_category_name_admin_product_categories_path, 
                :input_html => { :id_element => '#product_category_parent_id' }, :as => :autocomplete %>
    <%= f.input :parent_id, :as => :hidden %>
    <%= f.input :number %>
    <%= f.input :name %>
    <%= f.input :description, :input_html => { :rows => 5 } %>
    <%= f.input :sequence %>
    <%= f.input :status %>

    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
