<div class="well">
  <%= search_form_for [:admin,@search], :class => "form-inline" do |f| %>
    <%= f.text_field :number_cont, :placeholder => t('activerecord.attributes.taurus/product_category.number'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.taurus/product_category.name'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.collection_select :status_eq, Taurus::ProductCategory::STATUS, :first, :second,
                            { :include_blank => "全部" }, { :class => "span1" } %>
    <%= f.collection_select :category_type_eq, Taurus::ProductCategory::CATEGORY_TYPE, :first, :second, 
                            {}, { :class => "span2" } %>                        
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary trk-btn-inline" %>
  <% end %>
  <hr />
  <a href="<%= new_admin_product_category_path(:parent_id => @second_category_id ? 
                                                             @second_category_id : @product_category) %>" 
     class="btn btn-primary create_tag">
    <i class="icon-tag"></i>
    <%= t('admin.actions.new.title',:model => t('admin.misc.product_category.single')) %>
  </a>

  <a href="<%= combined_new_admin_product_categories_path(:parent_id => @second_category_id ? 
                                                          @second_category_id : @product_category) %>" 
     class="btn btn-success create_tag" rel="popover" 
     data-original-title="<%= t('admin.misc.product_category.combined_new_btn_popover_title') %>" 
     data-content="<%= t('admin.misc.product_category.combined_new_btn_popover_content') %>" >
    <i class="icon-tags"></i>
    <%= t('admin.actions.new.title',:model => t('admin.misc.product_category.combined')) %>
  </a>   

  <hr />
</div>

<div class="well">
  <%=raw top_single_categories %>
  <hr />
  <%=raw top_combined_categories %>
</div>

<%= flash_messages %>

<div class="row">
  <%=raw second_product_categories %>

  <div class="<%= @product_category ? "span8" : "span10" %>">
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= t('admin.misc.product_category.instruction') %>
    </div>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th><%= t('activerecord.attributes.taurus/product_category.number') %></th>
          <th><%= t('activerecord.attributes.taurus/product_category.name') %></th>
          <th><%= t('activerecord.attributes.taurus/product_category.status') %></th>
          <th><%= t('activerecord.attributes.taurus/product_category.custom_property') %></th>
          <th><%= t('admin.misc.operation') %></th>
        </tr>
      </thead>
      <tbody>
      <% @product_categories.each_with_index do |product_category,index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= link_to product_category.number, admin_product_category_path(product_category) %></td>
          <td><%= product_category.name %></td>
          <td><%= format_boolean product_category.status %></td>
          <td><%= format_boolean product_category.custom_property? %></td>
          <td>
            <a href="<%= edit_admin_product_category_path(product_category) %>" 
               class="btn btn-primary trk-btn-short update_tag">
              <%= t('admin.actions.edit.menu') %>
            </a> 

            <a href="<%= admin_product_category_custom_properties_path(product_category) %>" 
               class="btn btn-primary trk-btn-short custom_tag">
              <%= t('activerecord.attributes.taurus/product_category.custom_property') %>
            </a>    

            <a href="<%= admin_product_category_path(product_category) %>" data-method="delete"
              data-confirm="<%= t('admin.actions.delete.confirm') %>" 
               class="btn btn-danger trk-btn-short destroy_tag">
              <%= t('admin.actions.delete.menu') %>
            </a>        
          </td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr><td colspan='6'><%= will_paginate @product_categories, :renderer => BootstrapPagination::Rails %></td></tr>
      </tfoot>
    </table>
  </div>
</div>
