<h1>素材商品分类列表</h1>

<div class="grid_button">
  <%= link_to '新增素材商品分类', new_admin_product_category_path if can? :create, ProductCategory %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('attributes.product_category.number') %></th>
      <th><%= t('attributes.product_category.name') %></th>
      <th><%= t('attributes.product_category.description') %></th>
      <th><%= t('attributes.product_category.updated_at') %></th>
      <th></th>
    </tr>
  </thead>

<% @product_categories.each_with_index do |product_category,index| %>
  <tr class="<%= set_odd_even_class index %>">
    <td><%= index+1 %></td>
    <td><%= link_to product_category.number, admin_product_category_path(product_category) %></td>
    <td><%= product_category.name %></td>
    <td><%= product_category.description %></td>
    <td><%= product_category.updated_at %></td>
    <td><%= link_to t('admin.actions.edit.menu'), edit_admin_product_category_path(product_category) if can? :update, ProductCategory %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @product_categories %>

