<ul class="list_info">
  <li>
    <%= symbol_label t('activerecord.attributes.order.number') %>
    <span class="red"><%= @order.number %></span>
  </li>
  <li>
    <%= symbol_label t('activerecord.attributes.order.batch') %>
    <span class="red"><%= @order.batch %></span>
  </li>
  <li>
    <%= symbol_label t('activerecord.attributes.order.order_type') %>
    <span><%= order_type @order %></span>
  </li>
  <li>
    <%= symbol_label t('activerecord.attributes.order.station') %>
    <span><%= @order.instance.station.name %></span>
  </li>
  <li>
    <%= symbol_label t('activerecord.attributes.order.user') %>
    <span><%= @order.user.name %></span>
  </li>
  <li>
    <%= symbol_label t('activerecord.attributes.user.store_id') %>
    <span><%= @order.user.store.name %></span>
  </li>
  <li>
    <%= symbol_label t('activerecord.attributes.order.make_by') %>
    <span><%= @order.make_administrator ? @order.make_administrator.name : "客户" %></span>
  </li>
  <li>
    <%= symbol_label t('activerecord.attributes.order.take_over') %>
    <span><%= @order.administrator.name if @order.administrator %></span>
  </li>
</ul>
