<%= render "base_info" %>

<div class="right_button">
  <% @order.next_action.each do |action| %>
    <%=raw condition_action(action,@order) %>
  <% end %>
  <%= link_to "关闭页面", "#", :onclick => "return window.close()"  %>
</div>
<hr />
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单位</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装</th>
      <th>安装费用</th>
      <th>组装</th>
      <th>组装费用</th>
      <th>交货期</th>
      <th>合计</th>
      <th>最小可销售数量</th>
    </tr>
  </thead>
  <% @order.order_details.each_with_index do |detail,index| %>
    <tr class="<%= set_odd_even_class index %>">
      <td><%= index+1 %></td>
      <td><%= link_to detail.sku.number, commodity_admin_sku_path(detail.sku_id) %></td>
      <td><%= detail.sku.name %></td>
      <td><%= detail.sku.unit %></td>
      <td><%= detail.promotion_unit_price %></td>
      <td><%= detail.quantity %></td>
      <td><%= format_is_need(detail.is_need_install) %></td>
      <td><%= detail.promotion_installation_cost %></td>
      <td><%= format_is_need(detail.is_need_assemble) %></td>
      <td><%= detail.promotion_assembling_fee %></td>
      <td><%= detail.sku.delivery_day %></td>
      <td><%= detail.promotion_subtotal %></td>
      <td><%= detail.sku.available_skus(@order.user.store_id) %></td>
    </tr>
  <% end %>
</table>
<ul class="order_price_info">
  <li>
    <%= symbol_label '商品总价' %>
    <%= cny @order.promotion_sku_price %>
  </li>
  <li>
    <%= symbol_label '安装费' %>
    <%= cny @order.promotion_installation_cost %>
  </li>
  <li>
    <%= symbol_label '组装费' %>
    <%= cny @order.promotion_assembling_fee %>
  </li>
  <li>
    <%= symbol_label '其他费用' %>
    <%= cny @order.other_cost %>
  </li>
  <li id="left_li" class="border_bottom">
    <%= symbol_label '标准运费' %>
    <%= cny @order.promotion_carriage_cost %>
  </li>
  <li class="border_bottom">
    <%= symbol_label '调整后运费' %>
    <%= cny @order.promotion_carriage_adjustment %>
  </li>
  <li class="red">
    <%= symbol_label '合计', :class => "red" %>
    <%= cny @order.promotion_price %>
  </li>
</ul>


<h1 class="consignee_info_title">收货人信息</h1>
<ul class="list_info">
  <li>
    <%= symbol_label "收货人姓名" %>
    <span><%= @order.name %></span>
  </li>
  <li>
    <%= symbol_label "收货人姓名" %>
    <span><%= @order.name %></span>
  </li>
  <li>
    <%= symbol_label "所属地区" %>
    <span><%= @order.district.address %></span>
  </li>
  <li>
    <%= symbol_label "收货地址" %>
    <span><%= @order.address %></span>
  </li>
  <li>
    <%= symbol_label "固定电话" %>
    <span><%= @order.phone %></span>
  </li>
  <li>
    <%= symbol_label "手机" %>
    <span><%= @order.mobile %></span>
  </li>
  <li>
    <%= symbol_label "电子邮箱" %>
    <span><%= @order.email %></span>
  </li>
  <li>
    <%= symbol_label "邮编" %>
    <span><%= @order.zip %></span>
  </li>
  <li class="second">
    <%= symbol_label "出库状态", :class => "orange" %>
    <%= format_delivery_status @order %>
  </li>
  <li>
    <%= symbol_label "相关出库单", :class => "orange" %>
    <%= link_to @order.delivery_order.number, store_delivery_order_path(@order.delivery_order.id) if @order.delivery_order %>
  </li>
</ul>

<h1>支付及发票信息</h1>
<ul class="list_info">
  <li>
    <%= symbol_label "支付方式" %>
    <span><%= @order.instance.procedure.display_name %></span>
  </li>
  <li>
    <%= symbol_label "发票类型" %>
    <span><%= format_invoice_type(@order.invoice_type) %></span>
  </li>
  <% unless @order.invoice_type == 2 %>
    <% if @order.invoice_type == 1 %>
      <li>
        <%= symbol_label "开户银行" %>
        <span><%= @order.account_bank %></span>
      </li>
      <li>
        <%= symbol_label "开户名称" %>
        <span><%= @order.account_person_name %></span>
      </li>
      <li>
        <%= symbol_label "注册电话" %>
        <span><%= @order.account_phone %></span>
      </li>
      <li>
        <%= symbol_label "银行帐号" %>
        <span><%= @order.account_no %></span>
      </li>
      <li>
        <%= symbol_label "增值税登记号" %>
        <span><%= @order.added_value_tax_no %></span>
      </li>
      <li>
        <%= symbol_label "注册地址" %>
        <span><%= @order.account_reg_add %></span>
      </li>
    <% end %>
    <li>
      <%= symbol_label "发票抬头" %>
      <span><%= format_is_invoice_head @order.is_invoice_head %></span>
    </li>
    <% if @order.is_invoice_head == 1 %>
      <li>
        <%= symbol_label "单位名称" %>
        <span><%= @order.company_name %></span>
      </li>
    <% end %>
  <% end %>
</ul>

<h1>备注信息</h1>
<ul class="list_info">
  <li>
    <%= symbol_label "客户备注" %>
    <span><%= @order.customer_note %></span>
  </li>
  <li class="second">
    <%= symbol_label "内部备注" %>
    <span><%= @order.inner_note %></span>
  </li>
</ul>

<h1>相关记录</h1>
<ul class="list_info">
  <% if can? :print, @order %>
    <li>
      <%= symbol_label "打印次数" %>
      <span><%= link_to "#{@order.order_print_sum(0)}次", order_order_prints_path(:order_id => @order, :line_type => "0") %></span>
    </li>
  <% end %>
  <% if can? :order_tracks, Order %>
    <li>
      <%= symbol_label "订单追踪" %>
      <%= link_to "点击查看", order_tracks_admin_order_path(@order), :target => "_blank" %>
    </li>
  <% end %>
  <% if can? :take_over_logs, Order %>
    <li>
      <%= symbol_label "接管记录" %>
      <%= link_to "点击查看", take_over_logs_admin_order_path(@order), :target => "_blank" %>
    </li>
  <% end %>
</ul>


<div class="right_button">
  <%= link_to '订单打印', order_order_print_path(@order),{:target => "blank"} if can? :print, @order %>
  <% @order.next_action.each do |action| %>
    <%=raw condition_action(action,@order) %>
  <% end %>
  <%= link_to "关闭页面", "#", :onclick => "return window.close()"  %>
</div>
