<table>
    <tr>
      <td>#</td>
      <td>商品编号</td>
      <td>商品名称</td>
      <td>单位</td>
      <td>单价</td>
      <td>数量</td>
      <td>安装</td>
      <td>安装费用</td>
      <td>组装</td>
      <td>组装费用</td>
      <td>交货期</td>
      <td>合计</td>
    </tr>
    <% @order.order_details.each_with_index do |detail,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= detail.sku.number %></td>
        <td><%= detail.sku.name %></td>
        <td><%= detail.sku.unit %></td>
        <td><%= detail.unit_price %></td>
        <td><%= detail.quantity %></td>
        <td><%= format_is_need(detail.is_need_install) %></td>
        <td><%= detail.install_cost %></td>
        <td><%= format_is_need(detail.is_need_assemble) %></td>
        <td><%= detail.assemble_cost %></td>
        <td><%= detail.sku.delivery_day %></td>
        <td><%= detail.unit_price*detail.quantity %></td>
      </tr>
    <% end %>
</table>
<hr />

<%= form_for([:admin,@order]) do |f| %>
<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
   </div>
<% end %>

<table class="info_table">
  <tr>
    <td class="info_table_title"><%= f.label :instance_id %>:</td>
    <td><%= f.label @order.instance.procedure.name %></td>
    <td class="info_table_title"><%= f.label :station_id %>:</td>
    <td><%= f.label @order.instance.station.name %></td>
  </tr>
  <tr>
    <td class="info_table_title"><%= f.label :number %>:</td>
    <td><%= f.label @order.number %></td>
    <td class="info_table_title"><%= f.label :batch %>:</td>
    <td><%= f.label @order.batch %></td>
  </tr>
  <tr>
    <td class="info_table_title"><%= f.label :total_price %>:</td>
    <td><%= f.label @order.total_price %></td>
    <td class="info_table_title"> <%= f.label :user_id %>:</td>
    <td><%= get_user_name @order.user %></td>
  </tr>
  <tr>
    <td class="info_table_title"><%= f.label t :user_number %>:</td>
    <td> <%= get_user_number @order.user %></td>
    <td class="info_table_title"> <%= f.label :user_login_no %>:</td>
    <td> <%= f.label @order.user.login_no %></td>
  </tr>
  <tr>
    <td class="info_table_title"><%= f.label :created_at %>:</td>
    <td><%= f.label @order.created_at %></td>
    <td class="info_table_title"><%= f.label :make_by %>:</td>
    <td><%= get_make_by @order %></td>
  </tr>
  <tr>
    <td class="info_table_title"><%= f.label :contact_name %></td>
    <td><%= f.label @order.name %></td>
    <td class="info_table_title"><%= f.label :phone %>:</td>
    <td><%= is_blank(@order.phone) %></td>
  </tr>
  <tr>
    <td class="info_table_title"><%= f.label :mobile %></td>
    <td><%= is_blank(@order.mobile) %></td>
    <td class="info_table_title"><%= f.label :email %>:</td>
    <td> <%= is_blank(@order.email) %></td>
  </tr>
  <tr>
    <td class="info_table_title"><%= f.label :zip %></td>
    <td><%= is_blank(@order.zip) %></td>
    <td class="info_table_title"><%= f.label :address %>:</td>
    <td colspan="3"> <%= f.label @order.address %></td>
  </tr>
  <tr>
    <td class="info_table_title"><%= f.label :inner_note %></td>
    <td colspan="3"><%= f.text_area :inner_note, :cols=>50, :rows=>5 %></td>
  </tr>
</table>

  <div class="actions">
    <%= f.submit '保存'%>
  </div>
<% end %>