<table>
  <tr>
    <td>订单号码:</td><td class="red"><%= @order.number %></td>
    <td>订单批次:</td><td class="red"><%= @order.batch %></td>
    <td>订单类型:</td><td class="red"><%= get_sku_type(@order) %></td>
    <td>订单状态:</td><td class="red"><%= @order.instance.station.name %></td>
    <td>客户:</td><td class="red"><%= get_user_name(@order.user)  %></td>
  </tr>
</table>
<hr />
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单位</th>
      <th>素材成本（单价）</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装</th>
      <th>安装费用</th>
      <th>组装</th>
      <th>组装费用</th>
      <th>交货期</th>
      <th>合计</th>
      <th>宁波仓库</th>
      <th>象山仓库</th>
    </tr>
  </thead>
  <% @order.order_details.each_with_index do |detail,index| %>
    <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
      <td><%= index+1 %></td>
      <td><%= detail.sku.number %></td>
      <td><%= detail.sku.name %></td>
      <td><%= detail.sku.unit %></td>
      <td><%= detail.sku_cost == 0 ? "--" : detail.sku_cost %></td>
      <td><%= detail.unit_price %></td>
      <td><%= detail.quantity %></td>
      <td><%= format_is_need(detail.is_need_install) %></td>
      <td><%= detail.install_cost %></td>
      <td><%= format_is_need(detail.is_need_assemble) %></td>
      <td><%= detail.assemble_cost %></td>
      <td><%= detail.sku.delivery_day %></td>
      <td><%= detail.unit_price*detail.quantity %></td>
      <td><%= detail.is_have_nb_store %></td>
      <td><%= detail.is_have_xs_store %></td>
    </tr>
  <% end %>
</table>
<hr />

<div class="attributes">
  <div class="split_content_left">
    <h2>收货人信息</h2>
    <p>
      <%= label_tag '收货人姓名：' %>
      <%= @order.name %>
    </p>
    <p>
      <%= label_tag '所属地区：' %>
      <% if !@order.district.nil? %>
        <%= @order.district.city.province.name %>&nbsp;
        <%= @order.district.city.name %>&nbsp;
        <%= @order.district.name %>
      <% end %>
    </p><br />
    <p>
      <%= label_tag '收货地址：' %>
      <%= @order.address %>
    </p>
    <p>
      <%= label_tag '固定电话：' %>
      <%= @order.phone %><br />
    </p>
    <p>
      <%= label_tag '手机：' %>
      <%= @order.mobile %><br />
    </p>
     <p>
      <%= label_tag '电子邮箱：' %>
      <%= @order.email %><br />
    </p>
    <p>
      <%= label_tag '邮   编：' %>
      <%= @order.zip %>
    </p>
  </div>
  <div class="split_content_right">
    <p>
      <%= label_tag '商品总价：' %>
      <%= @order.total_sku_amount %> 元
    </p>
    <p>
      <%= label_tag '安装费：' %>
      <%= @order.total_install_cost %> 元
    </p>
    <p>
      <%= label_tag '组装费：' %>
      <%= @order.total_assemble_cost %> 元
    </p>
    <p>
      <%= label_tag '其他费用：' %>
      <%= @order.other_cost %> 元
    </p>
    <p>
      <%= label_tag '标准运费：' %>
      <%= @order.carriage_cost %> 元
    </p>
    <p>
      <%= label_tag '调整后运费：' %>
      <%= @order.carriage_adjustment %> 元
    </p>
    <p>
      <%= label_tag '合计：' %>
      <%= @order.total_amount %> 元
    </p>
    <p id="print_link">
      <%= link_to '订单打印', order_order_print_path(@order),{:target => "blank"} %>
      【<%= link_to "已打印#{@order.order_print_sum(0)}次", order_order_prints_path(:order_id => @order, :line_type => "0") %>】
    </p>
  </div>
  <div class="clear"></div>
</div>


<h2>支付及发票信息</h2>
<div class="attributes">
  <div class="split_content_left">
    <p>
      <%= label_tag '支付方式：' %>
      <%= @order.instance.procedure.display_name %>
    </p>
    <p>
      <%= label_tag '发票类型：' %>
      <%= format_invoice_type(@order.invoice_type) %>
    </p>
    <p>
       <%= label_tag '发票抬头：' %>
      <%= format_is_invoice_head(@order.is_invoice_head) %>
    </p>
  </div>
  <div class="clear"></div>
</div>

<h2>订单追踪</h2>
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>当前站</th>
      <th>操作(条件)</th>
      <th>下一站</th>
      <th>操作者</th>
      <th>操作时间</th>
    </tr>
  </thead>
  <% @order.instance.tracks.each_with_index do |track,index| %>
    <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
      <td><%= index+1 %></td>
      <td><%= track.station.name %></td>
      <td><%= track.condition.name %></td>
      <td><%= track.next_station.name %></td>
      <td><%= track.created_by %></td>
      <td><%= track.created_at %></td>
    </tr>
  <% end %>
</table>

<h2>接管记录</h2>
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>操作者</th>
      <th>操作类型</th>
      <th>操作时间</th>
    </tr>
  </thead>
  <% @order.order_take_logs.each_with_index do |log,index| %>
    <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
      <td><%= index+1 %></td>
      <td><%= log.created_by %></td>
      <td><%= format_order_take_log_type log.oper_type %></td>
      <td><%= log.created_at %></td>
    </tr>
  <% end %>
</table>
