<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('activerecord.errors.template.header', :count => @order.errors.size, :model => "取消订单")  %></h2>

    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= render 'condition' %>

<%= form_tag(condition_admin_orders_path) do%>
  <%= hidden_field_tag 'order[condition_type]', '3' %>
  <div class="attributes">
    <%= label_tag '备注：' %>
    <%= text_area_tag 'order[inner_note]', nil, :cols=>105, :rows=>5 %>
  </div>
  <%= submit_tag '确定取消订单' %>
<% end %>

