<%= render "base_info" %>

<div class="right_button">
  <%= link_to "关闭页面", "#", :onclick => "return window.close()"  %>
</div>

<hr />

<table class="grid" id="order_sku_list">
  <%= render "admin/order_details/line_items" %>
</table>

<hr />

<div>
  <%= search_form_for @search, :url => search_commodity_admin_skus_path, :remote => true, :html => {:method => :get} do |f| %>
    <%= hidden_field_tag 'order_id', @order.id %>
    商品编号:<%= f.text_field :number_eq %>
    商品名称:<%= f.text_field :name_cont %>
    <%= submit_tag '查询', :class => "margin_bottom_5" %>
  <% end %>
</div>
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单位</th>
      <th>单价</th>
      <th>交货期</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="search_skus"></tbody>
</table>
<hr />

<%= simple_form_for @order, :url => condition_admin_orders_path  do |f| %>
  <h1>收货人信息</h1>
  <table id="user_addresses">
    <%= render "order/back_orders/user_addresses" %>
  </table>
  <ul class="list_info" id="consignee_info">
    <li>
      <%= f.input :name %>
    </li>
    <li id="area_li">
      <%= f.input :district_no do
        render "order/back_orders/area"
      end%>
    </li>
    <li>
      <%= f.input :address %>
    </li>
    <li>
      <%= f.input :phone %>
    </li>
    <li>
      <%= f.input :mobile %>
    </li>
    <li>
      <%= f.input :email %>
    </li>
    <li>
      <%= f.input :zip %>
    </li>
  </ul>

  <%= link_to "添加到常用地址", "#", :id => "add_to_user_addresses" %>

  <h1>支付与发票信息</h1>
  <ul class="list_info">
    <li id="invoice_type_li">
      <%= f.input :invoice_type, :collection => [[2, '不需要'], [0, '普通'], [1, '增值税发票']],
                  :label_method => :last, :value_method => :first, :as => :radio, :class => "radio" %>
    </li>
    <% unless @order.invoice_type == 2 %>
      <li class="invoice_head">
        <%= f.input :is_invoice_head do %>
          <%= f.collection_radio :is_invoice_head, [[0, '个人'], [1, '单位']], :first, :second, :class => "radio" %>
          <% if @order.is_invoice_head == 1 %>
            <%= f.text_field :company_name %>
          <% end %>
        <% end %>
      </li>
      <% if @order.invoice_type == 1 %>
        <li class="appreciation">
          <%= f.input :account_bank %>
        </li>
        <li class="appreciation">
          <%= f.input :account_person_name %>
        </li>
        <li class="appreciation">
          <%= f.input :account_phone %>
        </li>
        <li class="appreciation">
          <%= f.input :account_no %>
        </li>
        <li class="appreciation">
          <%= f.input :added_value_tax_no %>
        </li>
        <li class="appreciation">
          <%= f.input :account_reg_add %>
        </li>
      <% end %>
    <% end %>
    <li>
      <%= symbol_label "支付方式" %>
      <span class="red"><%= @order.instance.procedure.display_name %></span>
    </li>
  </ul>

<h1>备注信息</h1>
<ul class="list_info">
  <li>
    <%= f.input :customer_note, :input_html => {:cols => 100, :rows => 2} %>
  </li>
  <li class="second">
    <%= f.input :inner_note, :input_html => {:cols => 100, :rows => 2} %>
  </li>
</ul>

<div class="actions">
  <%= f.submit '完成修改并且过站' %>
</div>


<script type="text/javascript">
  jQuery("[name='order[invoice_type]']").change(function(){
    if(jQuery(this).val() == "2"){
      jQuery(".invoice_head").remove();
      jQuery(".appreciation").remove();
    }else if(jQuery(this).val() == "0"){
      jQuery(".invoice_head").remove();
      jQuery(".appreciation").remove();
      jQuery("#invoice_type_li").append(
        '<li class="invoice_head">'+
          '<%= f.input :is_invoice_head do %>'+
            '<%= f.collection_radio :is_invoice_head, [[0, '个人'], [1, '单位']], :first, :second, :class => "radio" %>'+
            '<% if @order.is_invoice_head == 1 %>'+
              '<%= f.text_field :company_name %>'+
            '<% end %>'+
          '<% end %>'+
        '</li>'
      );
    }else{
      jQuery("#invoice_type_li").append(
        '<li class="appreciation"><%= f.input :account_bank %></li>'+
        '<li class="appreciation"><%= f.input :account_person_name %></li>'+
        '<li class="appreciation"><%= f.input :account_phone %></li>'+
        '<li class="appreciation"><%= f.input :account_no %></li>'+
        '<li class="appreciation"><%= f.input :added_value_tax_no %></li>'+
        '<li class="appreciation"><%= f.input :account_reg_add %></li>');
    }
  });

  jQuery("[name='order[is_invoice_head]']").live('change',function(event){
    if(jQuery(this).val() == "0"){
      jQuery("#order_company_name").remove();
    }else{
      jQuery(this).parent().append('<%= f.text_field :company_name %>');
    }
  });

</script>

<% end %>


