<h1>订单列表</h1>

<table>
  <tr>
    <th>#</th>
    <th><%= t 'attributes.order.number' %></th>
    <th><%= t 'attributes.order.user_id' %></th>
    <th><%= t 'attributes.order.instance_id' %></th>
    <th><%= t 'attributes.order.total_price' %></th>
    <th><%= t 'attributes.order.station_id' %></th>
    <th><%= t 'attributes.order.make_by' %></th>
    <th><%= t 'attributes.order.sku_type' %></th>
    <th><%= t :created_at %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each_with_index do |order,index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= order.number %></td>
    <td><%= get_user_name(order.user) %></td>
    <td><%= order.instance.procedure.name %></td>
    <td><%= order.total_price %></td>
    <td><%= order.instance.station.name %></td>
    <td><% if order.user_id == nil %><%= order.admin.name  %><% else %>客户<% end %></td>
    <td><%= format_sku_type(order.order_details[0].sku.sku_type) %></td>
    <td><%= order.created_at %></td>
  </tr>
  <tr>
    <td colspan="8">
      订单概述：总共含<%= order.total_details %>种商品，
      合计<%= order.total_skus %>个商品，
      订单总金额<%= order.total_price %>元
      &nbsp;&nbsp;<%=raw take_over_order(order.take_admin_id,order) %>
    </td>
    <td colspan="1">
      <% order.next_action.each do |action| %>
          <%=raw condition_action(action,order) %>&nbsp;
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="12">&nbsp;</td>
  </tr>
<% end %>
</table>
