<h1>订单列表</h1>

<div class="attributes">
  <%= search_form_for [:admin,@search] do |f| %>
    <div class="split_content_left">
      <p>
        <%= f.label '订单号码' %>
        <%= f.text_field :number_eq %>
      </p>
      <p>
        <%= f.label '日期范围' %>
        <%= f.date_select :created_at_gt,{:include_blank=>true} %>
        <%= f.label '~', :style => "width: auto;" %>
        <%= f.date_select :created_at_lt,{:include_blank=>true} %>
      </p>
      <p class="clear_both">
        <%= f.label '制单人' %>
        <%= f.text_field :make_administrator_name_cont %>
      </p>
      <p class="clear_both">
        <%= f.label '支付方式' %>
        <%= f.select :instance_procedure_id_eq, Procedure.activated.collect{ |s| [s.name ,s.id]} ,{:include_blank => true } %>
      </p>
      <p class="clear_both">
        <%= f.label '订单状态' %>
        <%= f.select :instance_station_id_eq, Station.all.collect{ |s| [s.name ,s.id]} ,{:include_blank => true } %>
      </p>
      <p class="clear_both">
        <label>升序</label>
        <%= radio_button_tag :sort, "asc" %>
        <label>降序</label>
        <%= radio_button_tag :sort, "desc", true %>
      </p>
    </div>
    <div class="split_content_right">
      <p>
        <%= f.label '用户登录帐号' %>
        <%= f.text_field :user_login_no_eq %>
      </p>
      <p class="clear_both">
        <%= f.label '用户编号' %>
        <%= text_field :query, :user_no %>
      </p>
      <p class="clear_both">
        <%= f.label '用户名称' %>
        <%= text_field :query, :user_name %>
      </p>
      <p class="clear_both">
        <%= f.label '媒体商品名称' %>
        <%= text_field :query, :sku_name %>
      </p>
      <p class="clear_both">
        <%= f.label '媒体商品编号' %>
        <%= text_field :query, :sku_no %>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= f.submit '查询'%>
      </p>
    </div>
    <div class="clear"></div>
  <% end %>
</div>
<div class="grid_button">
  <%= link_to '订单创建向导', new_order_back_order_path, :target => "_blank" %>
</div>
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.order.number' %></th>
      <th><%= t 'activerecord.attributes.order.user' %></th>
      <th><%= t 'activerecord.attributes.order.instance' %></th>
      <th><%= t 'activerecord.attributes.order.total_amount' %></th>
      <th><%= t 'activerecord.attributes.order.station' %></th>
      <th><%= t 'activerecord.attributes.order.make_by' %></th>
      <th><%= t 'activerecord.attributes.order.sku_type' %></th>
      <th><%= t :created_at %></th>
    </tr>
  </thead>

<% @orders.each_with_index do |order,index| %>
  <tr class="<%= set_odd_even_class(index) %>" group="<%= index %>">
    <td><%= index+1 %></td>
    <td><%= link_to order.number, admin_order_path(order), :target => "_blank" %></td>
    <td><%= get_user_name(order.user) %></td>
    <td><%= order.instance.procedure.name %></td>
    <td><%= order.total_amount %></td>
    <td title="<%= order.reserve_reason %>"><%= order.instance.station.name %></td>
    <td><%= fetch_make_by order %></td>
    <td><%= get_sku_type(order) %></td>
    <td><%= order.created_at %></td>
  </tr>
  <tr class="<%= set_odd_even_class(index) %>" group="<%= index %>">
    <td colspan="8" class="summary">
      订单概述：总共含<%= order.total_details %>种商品，
      合计<%= order.total_skus %>个商品，
      订单总金额<%= order.total_amount %>元
      &nbsp;&nbsp;<%=raw take_over_order(order.take_admin_id,order)%>
    </td>
    <td colspan="1">
      <% order.next_action.each do |action| %>
          <%=raw condition_action(action,order) %>&nbsp;
      <% end %>
    </td>
  </tr>
  <tr class="gap">
    <td colspan="12" height="4"></td>
  </tr>
<% end %>
</table>

<%= will_paginate @orders %>