<%= render "condition" %>
<hr />
<%= simple_form_for @order_pay, :url => condition_admin_orders_path do |f|%>
  <%= hidden_field_tag 'order_pay[condition_type]', '2' %>
  <div class="attributes">
    <% if @order.instance.procedure.name == "银行转账（预付款）"%>
      <%= f.input :status, :collection => [ ["未付款",0], ["已付款",1]], :include_blank => false%>
      <%= f.input :province_no do %>
        <%= f.select :province_no, Province.all.collect {|p| [ p.name, p.number ] }, { :selected => 310000 } %>
      <% end %>
      <%= f.input :alipay_date, :as => :date %>
      <%= f.input :remittance_no %>
      <%= f.input :pay_bank %>
      <%= f.input :price %>
      <%= f.input :remitter %>
      <%= f.input :bank_id, :collection => Bank.all.collect {|b| [ b.name, b.id] }, :include_blank => false %>
      <%= f.input :note, :as => :text, :input_html => { :rows => 5, :cols => 105 } %>
    <% else %>
     <div class="split_content_left">
       <p>
         <%= label_tag '支付日期：' %>
         <%= date_select :order_pay, :alipay_date  %>
       </p>
       <p>
         <%= label_tag '支付金额：' %>
         <%= text_field :order_pay, :price%><span class="red">*</span>
       </p>
     </div>
    <% end %>
    <div class="clear"></div>
  </div>

  <div class="attributes">
    <%= label_tag '内部备注' %>
    <%= text_area_tag :inner_note, nil, :cols => 105, :rows => 5 %>
  </div>

  <%= f.button :submit, :value => '确定输入付款信息' %>
<% end %>


