<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "错误") %></h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="attributes">
  <div class="split_content_left">
    <p>
      <%= form_tag(user_sear_admin_orders_path, :method => :get)  do %>
        <%= hidden_field_tag 'type', '0' %>
        会员编号:<%= text_field_tag 'user_no', get_user_number(@user) %>
        <%= submit_tag '查询' %>
      <% end %>
    </p>
    <p>下单日期：<%= @date %></p>
    <p>联系人姓名：<%= get_user_name(@user) %></p>
    <p>联系电话：<%= get_user_phone(@user) %></p>
    <p>电子邮件：<%= get_user_email(@user) %></p>
  </div>
  <div class="split_content_right">
    <p>
      <%= form_tag(user_sear_admin_orders_path, :method => :get)  do %>
        <%= hidden_field_tag 'type', '1' %>
        会员用户名:<%= text_field_tag 'login_no', @user.login_no %>
        <%= submit_tag '查询' %>
      <% end %>
    </p>
    <p>制单人:</p>
    <p>联系人性别:<%= get_user_sex(@user) %></p>
    <p>手机:<%= get_user_mobile(@user) %></p>
    <p>邮编:<%= get_user_zip(@user) %></p>
  </div>
  <div style="clear: both;"></div>
</div>

<div><%= link_to '下一步', step2_admin_orders_path %></div>
<div><%= link_to '返回', admin_orders_path %></div>


