<h1>订单追踪</h1>
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>当前站</th>
      <th>操作(条件)</th>
      <th>下一站</th>
      <th>操作者</th>
      <th>操作时间</th>
    </tr>
  </thead>
  <% @order.instance.tracks.each_with_index do |track,index| %>
    <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
      <td><%= index+1 %></td>
      <td><%= track.station.name %></td>
      <td><%= track.condition.name %></td>
      <td><%= track.next_station.name %></td>
      <td><%= track.created_by %></td>
      <td><%= track.created_at %></td>
    </tr>
  <% end %>
</table>