<% if @order_pay.errors.any? %>
  <div id="error_explanation">
    <h2><%= t('activerecord.errors.template.header', :count => @order_pay.errors.size, :model => "内部设置在线已支付")  %></h2>

    <ul>
    <% @order_pay.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render "condition" %>

<hr />

<h2>输入支付宝支付信息</h2>
<%= form_tag(condition_admin_orders_path) do%>
  <div class="attributes">
    <div class="split_content_left">
      <p>
        <%= label_tag '买家支付宝帐号：', nil, :class => "long" %>
        <%= text_field_tag 'order_pay[buyer_alipay_no]' %><span class="red">*</span>
      </p>
      <p>
        <%= label_tag '支付宝交易号：', nil, :class => "long" %>
        <%= text_field_tag 'order_pay[alipay_no]' %><span class="red">*</span>
      </p>
      <p>
        <%= label_tag '支付宝交易金额：', nil, :class => "long" %>
        <%= text_field_tag 'order_pay[alipay_price]' %><span class="red">*</span>
      </p>
    </div>
    <div class="clear"></div>
  </div>


  <%= submit_tag '确定已完成在线支付' %>
<% end %>


