<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head id="ctl00_Head1">
    <title></title>
    <%= javascript_include_tag :defaults%>
    <style type="text/css">
      @media print{
        .NoPrint{
          display: none;
        }
      }
      .dotline{
        border-bottom-style: none;
        border-left-style: none;
        border-right-style: none;
        border-top-style: dashed;
        width: 100%;
      }
      .thinTableBorder{
        text-align: left;
        border-left: 1px solid #000000;
        border-top: 1px solid #000000;
      }
      .thinTableBorder td{
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
      }
      .noneTableBorder{
        border-style: none none none none;
      }
      .noneTableBorder td{
        border-right: 1px solid #000000;
        border-bottom-style: none;
        border-left-style: none;
        border-top-style: none;
      }
      .innerRightTd{
        border-right: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-style: none;
      }
      .blodText{
        font-weight: bold;
      }
      body{
        width: 100%;
        margin: 0 0px;
        padding: 0;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif, "微软雅黑";
        vertical-align: baseline;
        /*line-height: 18px;*/
        clear: both;
      }
    </style>

    <script language="javascript" type="text/javascript">
        var printArgs = { prePrint: function() { return true; }, printCallBack: function() { return false; } };
        function doPrint() {
            if (printArgs.prePrint()) {
                window.print();
                printArgs.printCallBack();
            }
        }
        jQuery(document).ready(function() {
            jQuery('#printDiv').css({ width: 128, height: 128 });

            setPosition();
            //响应窗体大小改变事件
            jQuery(window).resize(function() {
                setPosition();
            });
            //响应窗体滚动条移动事件
            jQuery(window).scroll(function() {
                setPosition();
            });

            jQuery('#imgPrinter').css({ filter: 'Alpha(opacity = 80)' }).mouseover(function() {
                jQuery(this).css({ filter: 'Alpha(opacity = 100)' });
            }).mouseout(function() {
                jQuery(this).css({ filter: 'Alpha(opacity = 80)' });
            });
        });

        function setPosition() {
            var top = jQuery(document.documentElement).scrollTop() + jQuery(window).height() / 2;
            var left = jQuery(document.documentElement).scrollLeft() + jQuery(window).width();
            jQuery('#printDiv').css({ left: left - 136, top: top - 20 });
        }
    </script>

</head>
<body style="text-align: center;">
    <form name="aspnetForm" method="post" action="PrintOrderTransInfo.aspx?OrderId=109" id="aspnetForm">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE5NzkyOTM2MDVkZCraXbONr85nm9A38BiJmDrlgO2K">
</div>

    <div id="divContent">

    <style type="text/css">
        .innerTd
        {
            border-style: none solid solid none;
            border-width: 1px;
            border-color: #000000;
        }
        .rightTd
        {
            border-style: none none solid none;
            border-width: 1px;
            border-color: #000000;
        }
        .bottomTd
        {
            border-style: none solid none none;
            border-width: 1px;
            border-color: #000000;
        }
        .pageNext
        {
            page-break-after: always;
        }
        .padRight
        {
            text-align: right;
            padding-right: 2px;
        }
        .padLeft
        {
            text-align: left;
        }
    </style>

    <script language="javascript" type="text/javascript">
        jQuery(document).ready(function() {
            printArgs.prePrint = function() {
            var ret = true;
//              jQuery.ajax({
//                        type: "POST",
//                        url: "create_print_log",
//                        data: { func: 'savelog', orderId: 109, printType:2 },
//                        dataType: "json",
//                        success: function(result, textStatus) {
//                            if (result.error != '') {
//                                alert(result.error);
//                            } else {
//                                   ret = true;
//                            }
//                        },
//                        error: function(XMLHttpRequest, textStatus, errorThrown) {
//                            alert(textStatus);
//                        },
//                        cache: false, //禁止使用缓存
//                        async: false//使用同步请求来设置返回值
//                    });
                return ret;
            };
        });
    </script>
     <% if @order.order_details.size <= 6 %>
       <% page = 0 %>
     <% else %>
       <% page = (@order.order_details.size-6)/10+1 %>
     <% end %>
     <% k = 0 %>
    <table width="690">
        <tbody>
          <tr>
            <td align="center">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                        <td width="210" style="font-size: 11pt">
                            <img src="/images/printLogo.gif" width="60" height="54">轻松办公&nbsp;&nbsp;&nbsp;&nbsp;快乐生活
                        </td>
                        <td style="font-size: 20pt; padding-left: 30px;" align="left">
                            壹美壹家送货单
                        </td>
                    </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="font-size: 8pt" align="left">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                        <td>
                            订单号码：<%= @order.number %>
                        </td>
                        <td>
                            订单批次：<%= @order.batch %>
                        </td>
                        <td>
                            下单时间：<%= @order.created_at %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            订单类型：<%= format_sku_type(@order.order_details[0].sku.sku_type) %>
                        </td>
                        <td>
                            客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：<%= get_user_name(@order.user)  %>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <!--订单明细开始-->
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" style="border-style: solid solid none solid;
                    border-width: 1px; border-color: #000000">
                    <tbody>
                      <tr>
                        <td class="innerTd">
                            #
                        </td>
                        <td class="innerTd">
                            订购编号
                        </td>
                        <td class="innerTd">
                            商品名称
                        </td>
                        <td class="innerTd">
                            规格型号
                        </td>
                        <td class="innerTd">
                            单位
                        </td>
                        <td class="rightTd">
                            购买数量
                        </td>
                      </tr>
                    <% i = 0 %>
                    <% @order.order_details.each_with_index do |detail,index| %>
                      <% if k < 6 %>
                      <% k = k+1 %>
                      <% i = index %>
                        <tr>
                          <td class="innerTd">
                              <%= index+1 %>
                          </td>
                          <td class="innerTd">
                              <%= detail.sku.number %>
                          </td>
                          <td class="innerTd">
                              <%= detail.sku.name %>
                          </td>
                          <td class="innerTd">
                              <%= detail.sku.model %>
                          </td>
                          <td class="innerTd">
                              <%= detail.sku.unit %>
                          </td>
                          <td class="rightTd">
                              <%= detail.quantity %>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                    <% if i < 5  %>
                        <% (5-i).times.each do %>
                          <tr>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="rightTd">
                                &nbsp;
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
            </td>
        </tr>

        <!--收货人信息-->
        <tr>
            <td style="padding-top: 5px">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                        <td class="padRight" width="80">
                            收货人：
                        </td>
                        <td class="padLeft">
                            <%= @order.name %>
                        </td>
                        <td class="padRight" width="80">
                            所属地区：
                        </td>
                        <td class="padLeft">
                          <% if !@order.district.nil? %>
                            <%= @order.district.city.province.name %>&nbsp;
                            <%= @order.district.city.name %>&nbsp;
                            <%= @order.district.name %>
                          <% end %>
                        </td>
                        <td class="padRight" width="80">
                            支付方式：
                        </td>
                        <td class="padLeft">
                            <%= @order.instance.procedure.display_name %>
                        </td>
                    </tr>
                    <tr>
                        <td class="padRight">
                            固定电话：
                        </td>
                        <td class="padLeft">
                            <%= @order.phone %>
                        </td>
                        <td class="padRight">
                            手机：
                        </td>
                        <td class="padLeft">
                            <%= @order.mobile %>
                        </td>
                        <td class="padRight">
                            &nbsp;
                        </td>
                        <td class="padLeft">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="padRight">
                            收货地址：
                        </td>
                        <td colspan="5" class="padLeft">
                            <%= @order.address %>
                        </td>
                    </tr>
                    <tr>

                        <td class="padRight">
                            客户备注：
                        </td>
                        <td colspan="5" class="padLeft">
                            <%= @order.customer_note %>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <!--意见栏-->
        <tr>
            <td style="padding-top: 5px">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                        <td align="left">
                            您对我们的物流服务：&nbsp;满意&nbsp;<span style="font-size: x-large">□</span>&nbsp;&nbsp;&nbsp;&nbsp;一般&nbsp;<span style="font-size: x-large">□</span>&nbsp;&nbsp;&nbsp;&nbsp;不满意&nbsp;<span style="font-size: x-large">□</span>
                        </td>
                        <td width="80" class="padRight" style="font-size: large;">
                            客户签字:
                        </td>
                        <td width="120" style="border-width: 1px; border-color: #000000; border-style: none none solid none">
                            &nbsp;
                        </td>
                        <td width="50">
                            &nbsp;
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <!--签署栏-->
        <tr>
            <td style="padding-top: 5px">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                        <td class="padRight" width="80">
                            仓库确认：
                        </td>
                        <td style="border-width: 1px; border-color: #000000; border-style: none none solid none">
                            &nbsp;
                        </td>
                        <td width="10">
                            &nbsp;
                        </td>
                        <td class="padRight" width="80">
                            物流司机：
                        </td>
                        <td style="border-width: 1px; border-color: #000000; border-style: none none solid none">
                            &nbsp;
                        </td>
                        <td width="10">
                            &nbsp;
                        </td>
                        <td class="padRight" width="80">
                            出发时间：
                        </td>
                        <td style="border-width: 1px; border-color: #000000; border-style: none none solid none">
                            &nbsp;
                        </td>
                        <td width="10">
                            &nbsp;
                        </td>
                        <td class="padRight" width="80">
                            到达时间：
                        </td>
                        <td style="border-width: 1px; border-color: #000000; border-style: none none solid none">
                            &nbsp;
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>

        <!--底部信息-->
        <tr>
          <td style="padding-top: 5px">
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tbody><tr>
                      <td style="font-size: 12pt; font-weight: bold">
                          www.emehome.cn
                      </td>
                      <td>
                          客服热线：400-630-5006
                      </td>
                      <td>
                          宁波壹美壹家贸易有限公司
                      </td>
                      <td>
                          页码：1/<%= page+1 %>
                      </td>
                  </tr>
              </tbody></table>
          </td>
        </tr>
    </tbody></table>


    <% page.times.each do |p| %>
    <table width="690">
        <tbody>
          <tr>
            <td align="center">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                        <td width="210" style="font-size: 11pt">
                            <img src="/images/printLogo.gif" width="60" height="54">轻松办公&nbsp;&nbsp;&nbsp;&nbsp;快乐生活
                        </td>
                        <td style="font-size: 20pt; padding-left: 30px;" align="left">
                          壹美壹家送货单
                        </td>
                    </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="font-size: 8pt" align="left">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                        <td>
                            订单号码：<%= @order.number %>
                        </td>
                        <td>
                            订单批次：<%= @order.batch %>
                        </td>
                        <td>
                            下单时间：<%= @order.created_at %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            订单类型：<%= format_sku_type(@order.order_details[0].sku.sku_type) %>
                        </td>
                        <td>
                            客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：<%= get_user_name(@order.user)  %>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <!--订单明细开始-->
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" style="border-style: solid solid none solid;
                    border-width: 1px; border-color: #000000">
                    <tbody>
                      <tr>
                        <td class="innerTd">
                            #
                        </td>
                        <td class="innerTd">
                            订购编号
                        </td>
                        <td class="innerTd">
                            商品名称
                        </td>
                        <td class="innerTd">
                            规格型号
                        </td>
                        <td class="innerTd">
                            单位
                        </td>
                        <td class="rightTd">
                            购买数量
                        </td>
                      </tr>
                    <% i = 0 %>
                    <% @order.order_details.each_with_index do |detail,index| %>
                      <% if index+1 < page*10+6 && index+1 > (page-1)*10+6  %>
                        <% i = i+1 %>
                          <tr>
                            <td class="innerTd">
                                <%= index+1 %>
                            </td>
                            <td class="innerTd">
                                <%= detail.sku.number %>
                            </td>
                            <td class="innerTd">
                                <%= detail.sku.name %>
                            </td>
                            <td class="innerTd">
                                <%= detail.sku.model %>
                            </td>
                            <td class="innerTd">
                                <%= detail.sku.unit %>
                            </td>
                            <td class="rightTd">
                                <%= detail.quantity %>
                            </td>
                          </tr>
                      <% end %>
                    <% end %>
                    <% if i < 10  %>
                        <% (10-i).times.each do %>
                          <tr>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="innerTd">
                                &nbsp;
                            </td>
                            <td class="rightTd">
                                &nbsp;
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
            </td>
        </tr>
        <!--意见栏-->
        <tr>
            <td style="padding-top: 5px">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td align="left">
                          &nbsp;
                        </td>
                        <td width="80" class="padRight" style="font-size: large;">
                            客户签字:
                        </td>
                        <td width="120" style="border-width: 1px; border-color: #000000; border-style: none none solid none">
                            &nbsp;
                        </td>
                        <td width="50">
                            &nbsp;
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <!--底部信息-->
        <tr>
            <td style="padding-top: 5px">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td style="font-size: 12pt; font-weight: bold">
                          www.emehome.cn
                      </td>
                      <td>
                          客服热线：400-630-5006
                      </td>
                      <td>
                          宁波壹美壹家贸易有限公司
                      </td>
                      <td>
                          页码：<%= p+2 %>/<%= page+1 %>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </td>
        </tr>
      </tbody>
    </table>
    <% end %>

    </div>
    <div id="printDiv" class="NoPrint" style="position: absolute; z-index: 9999; width: 128px; height: 128px; left: 1144px; top: 182.5px; ">
        <a href="#" onclick="doPrint();return false;" style="text-decoration: none;" title="打印该页">
            <img id="imgPrinter" src="/images/print.jpg" width="128" height="128" border="0"></a>
    </div>
    </form>


</body></html>