<% if @inner_sku_cart.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@inner_sku_cart.errors.count, "错误") %></h2>

    <ul>
    <% @inner_sku_cart.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单位</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装费用</th>
      <th>组装费用</th>
      <th>交货期</th>
      <th>合计</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="sku_carts">
    <% @inner_sku_carts.each_with_index do |cart,index| %>
      <tr class="<%= set_odd_even_class(index) %>" group="<%= index %>">
        <td><%= index+1 %></td>
        <td><%= cart.sku.number %></td>
        <td><%= cart.sku.name %></td>
        <td><%= cart.sku.unit %></td>
        <td><%= cart.sku.cost_aft_tax %></td>
        <td><%= text_field_tag :quantity, cart.quantity, :size => 3, :class=> "inner_sku_cart_quantity", :id => "#{cart.id}" %></td>
        <td><%= cart.sku.insatllation_cost_aft_tax %></td>
        <td><%= cart.sku.assembling_fee_aft_tax %></td>
        <td><%= cart.sku.delivery_day %></td>
        <td><%= cart.quantity*cart.sku.cost_aft_tax %></td>
        <td><%= link_to '删除', admin_inner_sku_cart_path(cart), :confirm => '确定删除?', :method => :delete, :remote => true %></td>
      </tr>
    <% end %>
  <script type="text/javascript">
    $(".inner_sku_cart_quantity").change(function() {
      $.ajax({url: "/admin/inner_sku_carts/"+this.id,
              type: "put",
              data: 'value=' + this.value,
              dataType: 'script'})
    });
  </script>
  </tbody>
</table>

<hr />
<div>
  <%= search_form_for @search, :url => sku_sear_admin_orders_path, :remote => true, :html => {:method => :get} do |f| %>
    商品名称:<%= f.text_field :name_cont %>
    <%= submit_tag '查询' %>
  <% end %>
</div>
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单位</th>
      <th>单价</th>
      <th>安装费用</th>
      <th>组装费用</th>
      <th>交货期</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="search_skus"></tbody>
</table>

<div><%= link_to '上一步', new_admin_order_path %><%= link_to '下一步', step3_admin_orders_path %></div>
