<h1>接管记录</h1>
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>操作者</th>
      <th>操作类型</th>
      <th>操作时间</th>
    </tr>
  </thead>
  <% @order.order_take_logs.each_with_index do |log,index| %>
    <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
      <td><%= index+1 %></td>
      <td><%= log.created_by %></td>
      <td><%= format_order_take_log_type log.oper_type %></td>
      <td><%= log.created_at %></td>
    </tr>
  <% end %>
</table>