<%= simple_form_for([:admin,@sku]) do |f| %>
  <%= f.error_notification %>

  <div class="attributes">
    <div class="split_content_left">
      <%= f.input :number %>
      <%= f.input :brand_name do %>
        <%= f.autocomplete_field :brand_name, autocomplete_brand_chinese_name_admin_brands_path, :id_element => '#sku_brand_id'  %>
      <% end %>
      <%= f.input :brand_id, :as => :hidden  %>
      <%= f.input :unit %>
      <%= f.input :color %>
      <%= f.input :delivery_day %>
      <%= f.input :sku_type do %>
        <%= f.collection_radio :sku_type, [[1, '在库品'] ,[2, '直送品'] ,[3,'非在库'] ,[4,'未定'] ,[5,'劳务费用']] ,
                               :first, :second, :checked => 1 %>
      <% end %>
      <%= f.input :can_on_be_half, :collection => [['false', '否'], ['true', '是']],
                  :label_method => :last, :value_method => :first, :checked => 'false', :as => :radio %>
      <%= f.input :classifcation do %>
       <%= f.select :classifcation,"<option value='1'>单品</option><option value='2'>大包装</option><option value='3'>大大包装</option><option value='4'>组合品</option>" %>
      <% end %>
      <%= f.input :cost_bef_tax %>
    </div>
    <div class="split_content_right">
      <%= f.input :name %>
      <%= f.input :sku_category_name do %>
        <%= f.autocomplete_field :sku_category_name, autocomplete_sku_category_name_admin_sku_categories_path, :id_element => '#sku_sku_category_id'  %>
      <% end %>
      <%= f.input :sku_category_id, :as => :hidden %>
      <%= f.input :specification %>
      <%= f.input :size %>
      <%= f.input :delivery_description, :input_html => {:rows => 1, :cols => 25} %>
      <%= f.input :model %>
      <%= f.input :can_return do
        f.collection_radio :can_return, [['false', '否'], ['true', '是']],
                           :first, :second, :checked => 'false'
      end %>
      <%= f.input :cost_aft_tax %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="attributes">
    <%= f.input :introduction, :input_html => {:rows => 2, :cols => 105} %>
    <%= f.input :advertisement, :input_html => {:rows => 2, :cols => 105}  %>
    <%= f.cktext_area :description, :toolbar=>'Full', :width=>'800px', :height=>'200px' %>
  </div>


  <div class="field">
    <%= f.label :market_price %><br />
    <%= f.text_field :market_price %>
  </div>
  <div class="field">
    <%= f.label :assembling_fee_bef_tax %><br />
    <%= f.text_field :assembling_fee_bef_tax %>
  </div>
  <div class="field">
    <%= f.label :assembling_fee_aft_tax %><br />
    <%= f.text_field :assembling_fee_aft_tax %>
  </div>
  <div class="field">
    <%= f.label :installation_cost_bef_tax %><br />
    <%= f.text_field :installation_cost_bef_tax %>
  </div>
  <div class="field">
    <%= f.label :insatllation_cost_aft_tax %><br />
    <%= f.text_field :insatllation_cost_aft_tax %>
  </div>
  <div class="actions">
    <% if @sku.id == nil %>
      <%= f.submit '下一步' %>
    <% else %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
