$("#search_skus").html("<% @skus.each_with_index do |sku,index| %><tr class='<%= set_odd_even_class(index) %>' group='<%= index %>'><td><%= index+1 %></td><td><%= sku.number %></td><td><%= sku.name.gsub("\n", "") %></td><td><%= sku.unit %></td><td><%= sku.cost_aft_tax %></td><td><%= sku.insatllation_cost_aft_tax %></td><td><%= sku.assembling_fee_aft_tax %></td><td><%= sku.delivery_day %></td><td><a href='<%= admin_order_details_path(:sku_id=> sku,:order_id=>@order_id) %>' data-remote='true' data-method='post' >添加</a></td></tr> <% end %>");

$("[group]").hover(function(){
  $("[group='"+$(this).attr('group')+"']").addClass("highlight");
},function(){
  $("[group='"+$(this).attr('group')+"']").removeClass("highlight");
});