<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @sku.number %>
</p>

<p>
  <b>Name:</b>
  <%= @sku.name %>
</p>

<p>
  <b>Brand:</b>
  <%= @sku.brand_id %>
</p>

<p>
  <b>Sku category:</b>
  <%= @sku.sku_category_id %>
</p>

<p>
  <b>Unit:</b>
  <%= @sku.unit %>
</p>

<p>
  <b>Specification:</b>
  <%= @sku.specification %>
</p>

<p>
  <b>Delivery day:</b>
  <%= @sku.delivery_day %>
</p>

<p>
  <b>Type:</b>
  <%= @sku.sku_type %>
</p>

<p>
  <b>Model:</b>
  <%= @sku.model %>
</p>

<p>
  <b>Size:</b>
  <%= @sku.size %>
</p>

<p>
  <b>Delivery description:</b>
  <%= @sku.delivery_description %>
</p>

<p>
  <b>Can return:</b>
  <%= @sku.can_return %>
</p>

<p>
  <b>Description:</b>
  <%= @sku.description %>
</p>

<p>
  <b>Color:</b>
  <%= @sku.color %>
</p>

<p>
  <b>Can on be half:</b>
  <%= @sku.can_on_be_half %>
</p>

<p>
  <b>Classifcation:</b>
  <%= @sku.classifcation %>
</p>

<p>
  <b>Is integral:</b>
  <%= @sku.is_integral %>
</p>

<p>
  <b>Integral:</b>
  <%= @sku.integral %>
</p>

<p>
  <b>Introduction:</b>
  <%= @sku.introduction %>
</p>

<p>
  <b>Advertisement:</b>
  <%= @sku.advertisement %>
</p>

<p>
  <b>Status:</b>
  <%= @sku.status %>
</p>

<p>
  <b>Sales status:</b>
  <%= @sku.sales_status %>
</p>

<p>
  <b>Cost bef tax:</b>
  <%= @sku.cost_bef_tax %>
</p>

<p>
  <b>Cost aft tax:</b>
  <%= @sku.cost_aft_tax %>
</p>

<p>
  <b>Market price:</b>
  <%= @sku.market_price %>
</p>

<p>
  <b>Assembling fee bef tax:</b>
  <%= @sku.assembling_fee_bef_tax %>
</p>

<p>
  <b>Assembling fee aft tax:</b>
  <%= @sku.assembling_fee_aft_tax %>
</p>

<p>
  <b>Installation cost bef tax:</b>
  <%= @sku.installation_cost_bef_tax %>
</p>

<p>
  <b>Insatllation cost aft tax:</b>
  <%= @sku.installation_cost_aft_tax %>
</p>

<p>
  <b>Create by:</b>
  <%= @sku.create_by %>
</p>

<p>
  <b>Update by:</b>
  <%= @sku.update_by %>
</p>

<p>
  <b>Total sale:</b>
  <%= @sku.total_sale %>
</p>


<%= link_to 'Edit', edit_admin_sku_path(@sku) %> |
<%= link_to 'Back', admin_skus_path %>
