<%= form_tag(company_enroll_users_path) do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag t('activerecord.attributes.user.login_no') %><br />
    <%= text_field_tag :login_no %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.user.password') %><br />
    <%= text_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.user.password_confirmation') %><br />
    <%= text_field_tag :password_confirmation %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.email') %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.email_confirmation') %><br />
    <%= text_field_tag :email_confirmation %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.company_name') %><br />
    <%= text_field_tag :company_name %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.industry_type_id') %><br />
    <%= text_field_tag :industry_type_id %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.district_no') %><br />
    <%= text_field_tag :district_no %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.address') %><br />
    <%= text_field_tag :address %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.company_type_id') %><br />
    <%= text_field_tag :company_type_id %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.company_scale_id') %><br />
    <%= text_field_tag :company_scale_id %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.web_address') %><br />
    <%= text_field_tag :web_address %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.name') %><br />
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.phone') %><br />
    <%= text_field_tag :phone %>
  </div>
  <div class="field">
    <%= label_tag t('activerecord.attributes.company_extend.mobile') %><br />
    <%= text_field_tag :mobile %>
  </div>
  <div class="actions">
    <%= submit_tag '注册' %>
  </div>
<% end %>