  <div class="attributes">
    <div class="split_content_left">
      <p>
        <%= label_tag "支付方式" %>
        <%= select(:inner_order_payment, :procedure_id,[], {:include_blank => "-请选择-" }) %>
      </p>
      <p>
        <%= label_tag "发票类型" %>
        <%= radio_button_tag "inner_order_payment[invoice_type]", '0', true, :class => "radio" %>普通
        <%= radio_button_tag "inner_order_payment[invoice_type]", '1', false, :class => "radio" %>增值税发票
      </p>
      <div id="type_invoice"></div>
      <p>
        <%= label_tag "发票抬头" %>
        <%= radio_button_tag "inner_order_payment[is_invoice_head]", '0', true, :class => "radio" %>个人
        <%= radio_button_tag "inner_order_payment[is_invoice_head]", '1', false, :class => "radio" %> 单位
      </p>
      <p id="title_company_name"></p>
    </div>
    <div class="clear"></div>
  </div>

<script type="text/javascript">
  $(".radio").click(function(){
    var value = this.value;
    var name = this.name;
    if(name == "inner_order_payment[is_invoice_head]"){
      if(value == "0"){
         $("#title_company_name").html("");
      }else{
         $("#title_company_name").html('<%= label_tag "单位名称" %><%= text_field :inner_order_payment, :company_name %>');
      }
    }else{
      if(value == "0"){
        $("#type_invoice").html("");
      }else{
        var str = '';
        str+= '<p><%= label_tag "开户银行" %><%= text_field :inner_order_payment, :account_bank %></p>';
        str+= '<p><%= label_tag "开户名称" %><%= text_field :inner_order_payment, :account_person_name %></p>';
        str+= '<p><%= label_tag "注册电话" %><%= text_field :inner_order_payment, :account_phone %></p>';
        str+= '<p><%= label_tag "银行帐号" %><%= text_field :inner_order_payment, :account_no %></p>';
        str+= '<p><%= label_tag "增值税登记号" %><%= text_field :inner_order_payment, :added_value_tax_no %></p>';
        str+= '<p><%= label_tag "注册地址" %><%= text_field :inner_order_payment, :account_reg_add %></p>';
        $("#type_invoice").html(str);
      }
    }
  });
</script>


