jQuery('#order_name').val("<%= @user_address.name %>");
jQuery('#area_li').html('<div class="input string required">'+
        '<label class="string required" for="order_district_no">'+
        '<abbr title="required">*</abbr> 收货地区</label>'+
        "<%= j(raw address @user_address.district, "order") %>"+
        '</div>');
jQuery("#order_address").val("<%= @user_address.address %>");
jQuery("#order_phone").val("<%= @user_address.phone %>");
jQuery("#order_mobile").val("<%= @user_address.mobile %>");
jQuery("#order_email").val("<%= @user_address.email %>");
jQuery("#order_zip").val("<%= @user_address.zip %>");