var str = '';
var user_id = "<%= @user.id if !@user.nil? %>";
if(user_id == ""){
  str = "<%= @user.errors.full_messages[0] %>";
}else{
  str = '<div class="split_content_left">'+
        '<p><%= label_tag '下单日期：'%><%= @date %></p>'+
        '<p><%= label_tag '联系电话：' %><%= get_user_phone(@user) %><br /></p>'+
        '<p><%= label_tag '手机：' %><%= get_user_mobile(@user) %></p>'+
       '</div>'+
      '<div class="split_content_right">'+
        '<p><%= label_tag '联系人姓名：' %><%= get_user_name(@user) %><br /></p>'+
        '<p><%= label_tag '电子邮件：' %><%= get_user_email(@user) %><br /></p>'+
        '<p><%= label_tag '邮编：' %><%= get_user_zip(@user) %></p>'+
      '</div>'+
      '<div class="clear"></div>';
  jQuery("#back_order_sku_user_id").val("<%= @user.id %>");
}


jQuery("#user_info").html(str);


