<%= simple_form_for [:admin, @promotion], :html => {:class => 'form-horizontal'} do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= f.input :action do %>
      <%= f.collection_select :action, @promotion.surplus_of_action, :first, :second, :include_blank => false %>
      <button type="button" id="add_action_to_promotion">添加</button>
    <% end %>
    
    <div id="action_list">
      <% @promotion.promotion_actions.each do |promotion_action| %>
         <%= render :partial => "taurus/admin/promotion_actions/#{promotion_action.action_type}", :locals => {:object => promotion_action} %>
      <% end %>
    </div>

    <div class="form-actions">
    	<%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>