<%= simple_form_for([:content,@image]) do |f| %>
  <%= f.error_notification %>

  <div class="attributes">
    <%= f.input :page do
      f.collection_select :page, @image.page_enum , :first, :second, :checked => 0
    end %>
    <%= f.input :location do
      f.collection_select :location, @image.location_enum(0) , :first, :second, :checked => 0
    end%>
    <%= f.input :image %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>




