<h1>图片列表</h1>

<%= search_form_for @search, :url => content_images_path do |f| %>
  <%= f.collection_select :page_eq, Image.new.page_enum, :first, :second, :include_blank => "全部" %>
  <%= f.collection_select :location_eq, Image.new.location_enum(0), :first, :last, :include_blank => "全部" %>
  <%= f.submit "应用" %>
<% end %>

<div class="grid_button">
  <%= link_to "新增图片", new_content_image_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.image.page') %></th>
      <th><%= t 'activerecord.attributes.image.location' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @images.each_with_index do |image,index| %>
      <tr class="<%= set_odd_even_class index %>" group="<%= index %>" >
        <td><%= index+1 %></td>
        <td><%= get_image_page image.page %></td>
        <td><%= get_image_location image.page, image.location %></td>
        <td><%= link_to '显示', content_image_path(image) %></td>
        <td><%= link_to '编辑', edit_content_image_path(image) %></td>
        <td><%= link_to '删除', content_image_path(image), :confirm => '确定删除么?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <%= will_paginate @images %>
      </td>
    </tr>
  </tfoot>
</table>