<div class="well">
  <%= search_form_for [:admin,@search], :class => "form-inline" do |f| %>
    <%= f.text_field :number_cont, :placeholder => t('activerecord.attributes.taurus/delivery_record.number'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary trk-btn-inline" %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/delivery_record.number') %></th>
      <th><%= t('activerecord.attributes.taurus/delivery_record.delivery_record_type') %></th>
      <th><%= t('activerecord.attributes.taurus/delivery_record.delivery_type') %></th>
      <th><%= t('activerecord.attributes.taurus/delivery_record.created_at') %></th>
    </tr>
  </thead>
  <tbody>
  <% @delivery_records.each_with_index do |delivery_record,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to delivery_record.number, admin_delivery_record_path(delivery_record) %></td>
      <td><%= format_delivery_record_type delivery_record.delivery_record_type %></td>
      <td><%= format_delivery_type delivery_record.delivery_type %></td>
      <td><%= delivery_record.created_at %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan='5'><%= will_paginate @delivery_records, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>