<% @back_order_skus.each_with_index do |cart,index| %>
  <tr class="<%= set_odd_even_class(index) %>" id="back_order_sku<%= cart.id %>">
    <td><%= index+1 %></td>
    <td><%= cart.sku.number %></td>
    <td><%= cart.sku.name %></td>
    <td><%= cart.sku.unit %></td>
    <td><%= cart.sku.cost_aft_tax %></td>
    <td>
      <%= text_field_tag :quantity, cart.quantity, :size => 3, :class=> "back_order_sku_quantity",
                         :'data-href' => order_back_order_sku_path(cart) %>
    </td>
    <td>
      <%= check_box_tag :is_need_install, true, cart.is_need_install, :class => "back_order_sku_is_need_install",
                        :'data-href' => install_order_back_order_sku_path(cart) %>
    </td>
    <td><%= cart.sku.installation_cost_aft_tax %></td>
    <td>
      <%= check_box_tag :is_need_assemble, true, cart.is_need_assemble, :class => "back_order_sku_is_need_assemble",
                        :'data-href' => assemble_order_back_order_sku_path(cart) %>
    </td>
    <td><%= cart.sku.assembling_fee_aft_tax %></td>
    <td><%= cart.subtotal %></td>
    <td><%= cart.sku.available_skus(cart.user.store_id) %></td>
    <td><%= link_to "删除", order_back_order_sku_path(cart), :confirm => "确定删除?", :method => :delete, :remote => true %></td>
  </tr>
<% end %>
<tr>
  <td colspan="13" align="right" id="total_amount">
    总计:<%= number_to_currency @back_order_skus.to_a.sum{ |sku| sku.subtotal }, :unit => "￥" %>
  </td>
</tr>