<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">采恪企业管理</a>
      <a class="brand" href="#">Tracker boosts your e-Business</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- 广告区域
    <div class="span9">
      <div class="hero-unit">
        <h2>The latest updates are always ready for you!</h2>
        <h2>赶快尝试新版本！</h2>

        <p>
          New features for the release of 1.3.4
          新版本带来新的体验！
        </p>
        <p>
          <a class="btn btn-primary btn-larger">了解更多
            <i class="icon-play"></i>
          </a>
          <a class="btn btn-primary btn-larger">立即下载
            <i class="icon-download-alt"></i>
          </a>
        </p>
      </div>
    </div>-->

    <div class="span3">
      <%= form_for(resource, :as => resource_name, :url => user_session_path, :html => {:class => "well"}) do |f| %>
          <h2 style="padding-bottom: 10px">登录</h2>
          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <% if devise_mapping.rememberable? -%>
          <label for="administrator_remember_me" class="checkbox">
            <%= f.check_box :remember_me %>记住我
          </label>
          <% end -%>

          <%= f.submit "登录", :class => "btn btn-primary" %>
          <a class="btn">忘记密码</a>
      <% end %>
      <% unless alert.nil? %>
          <div class="alert alert-block alert-error fade in"><%= alert %>
            <a class="close" data-dismiss="alert" href="#">&times;</a></div>
      <% end %>
    </div>

    <div class="span4">
      <form  class="alert" style="padding-top:19px; padding-bottom:19px; padding-left:60px; padding-right:50px">
        <h2 style="padding-bottom:10px; padding-right:5px;  display:inline-block">新个人用户注册</h2>
        <a href="">企业用户注册</a>
        <label for="user_email">邮箱</label>
        <input id="user_email" name="user[email]" size="30" type="text" value="">

        <label for="user_password">密码</label>
        <input id="user_password" name="user[password]" size="30" type="password">

        <label for="user_password">确认密码</label>
        <input id="user_password" name="user[password]" size="30" type="password">

        <label>姓</label>
        <input type="text" class="span1">
        <label class="control-label">选择称谓</label>
        <select  class="span1">
          <option>先生</option>
          <option>小姐</option>
          <option>女士</option>
          <option>太太  </option>
         </select>

        </br><input class="btn btn-warning  " type="submit" value="提交信息">

      </form>
    </div>
  </div>
</div>


