<%= render :partial => "taurus/admin/shared/new_product_tabs", 
           :locals => { :current => "details", :type => "combined" } %>


<%= simple_form_for(@product, :url => @product.id ? admin_product_path(@product) : 
                                                    combined_create_admin_products_path, 
                    :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= hidden_field_tag :from_view, "new" %>
    <%= f.input :number %>
    <%= f.input :name %>
    <%= f.input :product_category_name, :url => autocomplete_combined_category_name_admin_products_path, 
                :input_html => { :id_element => '#product_product_category_id' }, :as => :autocomplete,
                :hint => t('admin.misc.product.combined_category_hint', 
                           :autocomplete_instruction => t('admin.misc.autocomplete_instruction')) %>
    <%= f.input :product_category_id, :as => :hidden %>
    <%= f.input :weight %>
    <%= f.input :price_after_tax %>
    
    <%= f.input :brand %>
    <%= f.input :tax %>
    <%= f.input :market_price %>
    <%= f.input :place_of_origin %>
    <%= f.input :unit %>
    <%= f.input :manufacturer %>
    <%= f.input :description, :as => :ckeditor, :input_html => { :toolbar => 'Full' } %>

    <div class="form-actions">
      <button type="submit" class="btn btn-large btn-success">
        <i class="icon-circle-arrow-right"></i> 进入步骤二：填写自定义属性
      </button>
    </div>
  </fieldset>
<% end %>
