<%= render :partial => "taurus/admin/shared/product_tabs", :locals => { :current => "sales", :type => "edit" } %>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <% if @product.product_type == 0 %>
    <%= t('admin.misc.product.single_sales_instruction') %>
  <% else %>
    <%= t('admin.misc.product.combined_sales_instruction') %>
  <% end %>  
</div>

<%= simple_form_for(@product, :url => update_sales_status_admin_product_path(@product), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= f.input :sales_status, :boolean_style => :inline, :hint => t('admin.misc.product.sales_status_hint') %>
    <%= f.input :if_shown_on_web, :boolean_style => :inline, :hint => t('admin.misc.product.if_shown_on_web_hint') %>

    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>