<%= render :partial => "taurus/admin/shared/product_tabs", :locals => { :current => "sales", :type => "edit" } %>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= t('admin.misc.product.sales_alert_info') %>
</div>

<%= simple_form_for(@product, :url => update_sales_status_admin_product_path(@product), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= f.input :sales_status, :boolean_style => :inline %>
    <%= f.input :if_shown_on_web, :boolean_style => :inline %>

    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>