<div class="well">
  <%= search_form_for [:admin,@search] do |f| %>
    <%= f.text_field :number_cont, :placeholder => t('activerecord.attributes.taurus/product.number'), :class => "span2" %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.taurus/product.name'), :class => "span2" %>
    <%= f.text_field :product_category_name_cont, :class => "span2",
                     :placeholder => t('activerecord.attributes.taurus/product_category.name') %>

    <br />
    
    <%= f.collection_select :sales_status_eq, Taurus::Product::SALES_STATUS, :first, :second,
                            {:include_blank => "全部"}, {:class => "span2"} %> 
    <%= f.collection_select :if_shown_on_web_eq, Taurus::Product::SHOWN_STATUS, :first, :second,
                            {:include_blank => "全部"}, {:class => "span2"} %>
    <%= f.collection_select :product_type_eq, Taurus::Product::PRODUCT_TYPE, :first, :second, 
                            {}, { :class => "span2" } %>                                                                    
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary trk-btn-inline" %>
  <% end %>

  <hr />

  <a href="<%= new_admin_product_path %>" class="btn btn-primary create_tag">
    <i class="icon-plus-sign"></i>
    <%= t('admin.actions.new.title',:model => t('admin.misc.product.single')) %>
  </a>

  <a href="<%= combined_new_admin_products_path %>" class="btn btn-success create_tag"
     rel="popover" data-original-title="<%= t('admin.misc.product.combined_new_btn_popover_title') %>" 
     data-content="<%= t('admin.misc.product.combined_new_btn_popover_content') %>" >
    <i class="icon-plus-sign"></i>
    <%= t('admin.actions.new.title',:model => t('admin.misc.product.combined')) %>
  </a>
</div>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= t('admin.misc.product.instruction') %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/product.number') %></th>
      <th><%= t('activerecord.attributes.taurus/product.name') %></th>
      <th><%= t('activerecord.attributes.taurus/product.product_category_id') %></th>
      <th><%= t('activerecord.attributes.taurus/product.sales_status') %></th>
      <th><%= t('activerecord.attributes.taurus/product.if_shown_on_web') %></th>
      <th><%= t('admin.misc.operation') %></th>
   </tr>
  </thead>
  <tbody>
    <% @products.each_with_index do |product,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to product.number, admin_product_path(product) %></td>
        <td><%= product.name %></td>
        <td><%= product.product_category.name %></td>
        <td><%= format_boolean product.sales_status %></td>
        <td><%= format_boolean product.if_shown_on_web %></td>
        <td>
          <a href="<%= edit_admin_product_path(product) %>" class="btn btn-primary trk-btn-short update_tag">
            <%= t('admin.actions.edit.menu') %>
          </a> 
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan='5'><%= will_paginate @products, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>