<div class="well">
  <h2 class="pull-left">
    <%= t('admin.actions.new.title', :model => t('admin.misc.product.single')) %>
  </h2>

  <%= link_to "#{content_tag(:i, '', :class => "icon-arrow-left")} #{t('admin.misc.back')}".html_safe, admin_products_path, :class => "btn pull-right" %>
</div>


<%= simple_form_for([:admin,@product], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <%= f.input :number %>
    <%= f.input :name %>
    <%= f.input :product_category_name, :url => autocomplete_product_category_name_admin_products_path, 
                :input_html => { :id_element => '#product_product_category_id' }, :as => :autocomplete, 
                :hint => t('admin.misc.product.single_category_hint', 
                           :autocomplete_instruction => t('admin.misc.autocomplete_instruction')) %>
    <%= f.input :product_category_id, :as => :hidden %>
    <%= f.input :weight %>
    <%= f.input :price_after_tax %>
    
    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
      <%= link_to t('admin.misc.cancel'), admin_products_path, :class => "btn" %>
    </div>
  </fieldset>
<% end %>