<div id="show_info">
  <h1>素材商品信息</h1>
  <ul>
    <li>
      <%= link_to "返回", admin_products_path, :class => "left20" if can? :read, Product %>
      <%= link_to "修改", edit_admin_product_path(@product) if can? :update, Product %>
      <br />
      <hr />
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.product_id') %></label>
      <span class="red"><%= @product.product_id %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.name') %></label>
      <span><%= @product.name %></span>
    </li>
    <li>
      <label>素材商品分类编号：</label>
      <span><%= @product.product_category.number %></span>
    </li>
    <li>
      <label>素材商品分类名称：</label>
      <span><%= @product.product_category.name %></span>
      <hr />
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.origin') %></label>
      <span><%= @product.origin %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.appendant') %></label>
      <span><%= @product.appendant %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.unit') %></label>
      <span><%= @product.unit %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.specification') %></label>
      <span><%= @product.specification %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.color') %></label>
      <span><%= @product.color %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.model') %></label>
      <span><%= @product.model %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.size') %></label>
      <span><%= @product.size %></span>
      <hr />
    </li>
    <li>
      <label>品牌名称：</label>
      <span><%= @product.brand.chinese_name %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.manufacturer') %></label>
      <span><%= @product.manufacturer %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.barcode') %></label>
      <span><%= @product.barcode %></span>
    </li>
    <li>
      <label>供应商名称：</label>
      <span><%= @product.supplier.name %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.delivery_days') %></label>
      <span><%= @product.delivery_days %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.delivery_descprition') %></label>
      <span><%= @product.delivery_descprition %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.cost_bef_tax') %></label>
      <span><%= cny @product.cost_bef_tax %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.cost_aft_tax') %></label>
      <span><%= cny @product.cost_aft_tax %></span>
    </li>
    <li>
      <label>仓库：</label>
      <% @product.product_storeships.each do |product_store| %>
        <span><%= product_store.store.name %></span>
      <% end %>
      <hr />
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.is_green') %></label>
      <span><%= format_boolean @product.is_green %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.have_shelf_life') %></label>
      <span><%= format_boolean @product.have_shelf_life %></span>
    </li>
    <li>
      <label class="indent2em"><%= symbol_label t('activerecord.attributes.product.shelf_life') %></label>
      <span><%= @product.shelf_life %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.have_wanrranty') %></label>
      <span><%= format_boolean @product.have_wanrranty %></span>
    </li>
    <li>
      <label class="indent2em"><%= symbol_label t('activerecord.attributes.product.wanrranty') %></label>
      <span><%= @product.wanrranty %></span>
    </li>
    <li>
      <label class="indent2em"><%= symbol_label t('activerecord.attributes.product.wanrranty_description') %></label>
      <span><%= @product.wanrranty_description %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.is_assembling_required') %></label>
      <span><%= format_boolean @product.is_assembling_required %></span>
    </li>
    <li>
      <label class="indent2em"><%= symbol_label t('activerecord.attributes.product.assembling_fee_bef_tax') %></label>
      <span><%= cny @product.assembling_fee_bef_tax %></span>
    </li>
    <li>
      <label class="indent2em"><%= symbol_label t('activerecord.attributes.product.assembling_fee_aft_tax') %></label>
      <span><%= cny @product.assembling_fee_aft_tax %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.is_maintanable') %></label>
      <span><%= format_boolean @product.is_maintanable %></span>
    </li>
    <li>
      <label class="indent2em"><%= symbol_label t('activerecord.attributes.product.maintenance_cost_bef_tax') %></label>
      <span><%= cny @product.maintenance_cost_bef_tax %></span>
    </li>
    <li>
      <label class="indent2em"><%= symbol_label t('activerecord.attributes.product.maintenance_cost_aft_tax') %></label>
      <span><%= cny @product.maintenance_cost_aft_tax %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.is_installation_required') %></label>
      <span><%= format_boolean @product.is_installation_required %></span>
    </li>
    <li>
      <label class="indent2em"><%= symbol_label t('activerecord.attributes.product.installation_cost_bef_tax') %></label>
      <span><%= cny @product.installation_cost_bef_tax %></span>
    </li>
    <li>
      <label class="indent2em"><%= symbol_label t('activerecord.attributes.product.insatllation_cost_aft_tax') %></label>
      <span><%= cny @product.insatllation_cost_aft_tax %></span>
    </li>
    <li>
      <label><%= symbol_label t('activerecord.attributes.product.description') %></label>
      <span><%=raw @product.description %></span>
      <hr />
    </li>
    <li>
      <%= link_to "返回", admin_products_path, :class => "left20" if can? :read, Product %>
      <%= link_to "修改", edit_admin_product_path(@product) if can? :update, Product %>
    </li>
  </ul>
</div>