<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 重设密码</p>
<div id="uc_menu_wrapper">
  <%= render "user/user_centers/menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">重设您的密码</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <!--在这里插入Notification 开始-->
      <%= devise_error_messages! %>
    <!--在这里插入Notification 结束-->

    <p>
      <label for="old_password">当前密码：</label>
      <%= f.password_field :current_password %>
      <em class="red">*</em>
    </p>

    <p>
      <label for="new_password">新设密码：</label>
      <%= f.password_field :password %>
      <em class="red">*</em>
    </p>

    <p>
      <label for="confirm_new_password">确认新设密码：</label>
      <%= f.password_field :password_confirmation %>
      <em class="red">*</em>
    </p>
    <br />
    <button type="submit" class="handler">修改密码</button>
    <button type="button" class="handler">取消</button>
  <% end %>
</div>
