<h1>
  <%= t 'admin.actions.index.title', :model => t('activerecord.models.sku_on_shelf') %>
</h1>

<div class="grid_button">
  <%= link_to t('admin.actions.new.menu'), new_commodity_admin_sku_sku_on_shelf_path(@sku) if can? :create, SkuOnShelf %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.sku_on_shelf.on_shelf_time') %></th>
      <th><%= t('activerecord.attributes.sku_on_shelf.off_shelf_time') %></th>
      <th><%= t('activerecord.attributes.sku_on_shelf.off_shelf_description') %></th>
      <th><%= t('activerecord.attributes.sku_on_shelf.status') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @sku.sku_on_shelves.each_with_index do |sku_on_shelf,index| %>
    <tr class="<%= set_odd_even_class index %>">
      <td><%= index+1 %></td>
      <td><%= sku_on_shelf.on_shelf_time %></td>
      <td><%= sku_on_shelf.off_shelf_time %></td>
      <td><%= sku_on_shelf.off_shelf_description %></td>
      <td><%= format_sku_on_shelf_status sku_on_shelf.status %></td>
      <td><%= get_sku_on_shelf_operating(sku_on_shelf.status, sku_on_shelf, @sku) if can? :update, SkuOnShelf %></td>
      <td>
        <%= link_to t('admin.actions.delete.menu'), commodity_admin_sku_sku_on_shelf_path(@sku, sku_on_shelf),
                    :confirm => t('admin.actions.delete.confirm'), :method => :delete if can? :destroy, SkuOnShelf  %>
      </td>
    </tr>
  <% end %>
</table>

