<%= simple_form_for([:admin,@panic_buying], :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :href %>
    <%= f.input :image %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
