<h1>疯狂抢购图片</h1>

<div class="grid_button">
  <%= link_to '新增疯狂抢购图片', new_admin_panic_buying_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>链接</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @panic_buyings.each_with_index do |panic_buying,index| %>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td><%= index %></td>
    <td><%= panic_buying.name %></td>
    <td><%= panic_buying.href %></td>
    <td><%= link_to 'Show', admin_panic_buying_path(panic_buying) %></td>
    <td><%= link_to 'Edit', edit_admin_panic_buying_path(panic_buying) %></td>
    <td><%= link_to 'Destroy', admin_panic_buying_path(panic_buying), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


