<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @panic_buying.name %>
</p>

<p>
  <b>Href:</b>
  <%= @panic_buying.href %>
</p>


<%= link_to 'Edit', edit_panic_buying_path(@panic_buying) %> |
<%= link_to 'Back', panic_buyings_path %>
