var str = '<% @order.order_details.each_with_index do |detail,index| %>'+
            '<tr class="<%= set_odd_even_class(index) %>" group="<%= index %>">'+
              '<td><%= index+1 %></td>'+
              '<td><%= detail.sku.number %></td>'+
              '<td><%= detail.sku.name.gsub("\n", "") %></td>'+
              '<td><%= detail.sku.unit %></td>'+
              '<td><%= detail.sku.cost_aft_tax %></td>'+
              '<td><%= text_field_tag :quantity, detail.quantity, :size => 3, :class=> "order_details_quantity", :id => "#{detail.id}" %></td>'+
              '<td><%= format_is_need(detail.is_need_install) %></td>'+
              '<td><%= detail.sku.installation_cost_aft_tax %></td>'+
              '<td><%= format_is_need(detail.is_need_assemble) %></td>'+
              '<td><%= detail.sku.assembling_fee_aft_tax %></td>'+
              '<td><%= detail.sku.delivery_day %></td>'+
              '<td><%= detail.subtotal %></td>'+
              '<td><%= link_to '删除', admin_order_detail_path(detail), :confirm => '确定删除?', :method => :delete, :remote => true %></td>'+
            '</tr>'+
          '<% end %>'+
          '<tr><td colspan="13" align="right">'+
            '运费：<%= number_to_currency @order.carriage_cost, :unit => "￥" %>,'+
            '安装费合计：<%= number_to_currency @order.total_install_cost, :unit => "￥" %>,'+
            '组装费合计：<%= number_to_currency @order.total_assemble_cost, :unit => "￥" %>,'+
            '总计:<%= number_to_currency @order.total_amount, :unit => "￥" %>'+
          '</td></tr>';

$("#order_details").html(str);

$(".order_details_quantity").change(function() {
  $.ajax({url: "/admin/order_details/"+this.id,
          type: "put",
          data: 'value=' + this.value + '&order_id=<%= @order.id %>',
          dataType: 'script'})
});