<ul class="h_ul sku_list_ul">
  <% object.each do |sku| %>
    <li class="h_li sku_list_li">
      <%= link_to (image_tag sku.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(sku.id), :target => "_blank" %>
      <p class="sku_list_p"><%= link_to sku.name[0,22], commodity_sku_detail_path(sku.id), :target => "_blank" %></p>
      <%= cny sku.cost_aft_tax %>
      <%= grey_cny sku.market_price %>
    </li>
  <% end %>
</ul>

<div class="sku_list_sort">
  <h3 class="sku_list_bar_short">本类产品热销排行</h3>
  <div class="sku_list_sort_hot">
    <% hot.each_with_index do |hot,index| %>
      <div class="has_children <% if index == 0 %>first_sku_sort<% end %>">
        <span><%= hot.name[0,16]  %></span>
        <%= link_to (image_tag hot.main_img, :width => "120px", :height => "120px"), commodity_sku_detail_path(hot.id), :target => "_blank" %>
        <%= link_to hot.name, commodity_sku_detail_path(hot.id), :class => "overflow_text", :target => "_blank" %>
        <a class="sku_list_sort_hot_bottom_line">
          <strong>
            <%= cny hot.cost_aft_tax %>
          </strong>
        </a>
      </div>
    <% end %>
  </div>
</div>