<div class="titlefont">
  <h2>所有商品分类</h2>
</div>

<ul id="main_menu">
  <% @categories.each_with_index do |category,index| %>
    <li id="m<%= index+1 %>" class="left_sub_menu">
    <%= link_to category.name, "#" %>
      <!-- Homepage - main_menu - number 1 -->
      <div id="main_menu_sub_m<%= index+1 %>" class="cms_submenu non_display">
        <div class="cmsmenuleft">
          <dl class="menu_recommend">
            <% category.children.index_display.each do |child| %>
              <% sons = child.children.index_display %>
              <% unless sons.empty? %>
                <dt><%= link_to child.name, commodity_category_path(child) %></dt>
                <dd>
                  <% sons.each do |son| %>
                    <i><%= link_to son.name, commodity_category_path(son) %></i>
                  <% end %>
                </dd>
                <div class="clear"></div>
              <% end %>
            <% end %>
          </dl>
        </div>
        <div class="cmsmenuright">
          <dl>
            <dt>推荐品牌</dt>
            <dd>
              <i><%= link_to "金太阳", commodity_index_brand_path(5) %></i>
              <i><%= link_to "高峰", commodity_index_brand_path(4) %></i>
              <i><%= link_to "欣乐", commodity_index_brand_path(8) %></i>
              <i><%= link_to "特级安妮", commodity_index_brand_path(99) %></i>
              <i><%= link_to "格之格", commodity_index_brand_path(82) %></i>
              <i><%= link_to "得力", commodity_index_brand_path(32) %></i>
              <i><%= link_to "惠普", commodity_index_brand_path(29) %></i>
            </dd>
          </dl>
        </div>
        <div class="clear"></div>
      </div>
    </li>
  <% end  %>
</ul>

<% content_for :ready do %>
 jQuery(".left_sub_menu").hover(function(){
    jQuery("#main_menu_sub_"+jQuery(this).attr("id")).toggleClass("non_display").toggleClass("display").toggleClass("display_"+jQuery(this).attr("id"));
  },function(){
    jQuery("#main_menu_sub_"+jQuery(this).attr("id")).toggleClass("non_display").toggleClass("display").toggleClass("display_"+jQuery(this).attr("id"));
  });
<% end %>