<div id="tabs" class="box">
  <ul>
    <li><a href="#tabs-1">登陆</a></li>
    <li><a href="#tabs-2">商场公告</a></li>
  </ul>

  <div id="tabs-1" class="content">
    <% if user_signed_in? %>
      <p class="after_login"><%= current_user.login_no %></p>
      <p class="after_login red">登陆成功</p>
      <p class="after_login">欢迎光临壹美壹家商城！</p>
      <p class="after_login">如您在购物时遇到任何问题</p>
      <p class="after_login">欢迎拨打热线</p>
      <p class="after_login red">400-630-5006</p>
      <p class="after_login">
        <%= link_to "我的壹美壹家", user_user_centers_path %>
        <%= link_to "我的关注", my_favorites_user_user_centers_path %>
        <%= link_to "退出", destroy_user_session_path, :method => :delete %>
      </p>
    <% else %>
      <%= form_for("user", :url => user_session_path) do |f| %>
        <p>
          <label for="loginname">用户：</label>
          <%= f.text_field :login_no %>
        </p>
        <p>
          <label for="password">密码：</label>
          <%= f.password_field :password %>
        </p>
          <%= image_tag codes_path, :width => "60px", :height => "20px", :id => "ver_code"%>
        <p>
          <label for="captcha">验证码：</label>
          <input name="code" id="captcha" maxlength="4" size="4" style="width: 40px; height: 16px;"/>
        </p>
        <p style="text-align:center">
          <button type="submit" class="login_button">登陆</button>
          <button type="reset" class="login_button">重置</button>
        </p>
        <p style="text-align:center">
          <a href="#">立即注册</a> | <a href="#">忘记密码</a> | <a href="#" id="change_ver_code">换验证码</a>
        </p>
      <% end %>
    <% end %>
  </div>

  <div id="tabs-2" class="content">
    <ul>
      <li><a href="#">公告壹有多少字会换行呢？现共</a></li>
      <li><a href="#">十四字会换行十六十六十六十六</a></li>
      <li><a href="#">十四字会换行十六十六十六十六</a></li>
      <li><a href="#">应该是左对齐</a></li>
      <li><a href="#">六行后会超过边界</a></li>
      <li><a href="#">六行后会超过边界</a></li>
    </ul>
  </div>
</div>

<div id="banner_1">
  <%= image_tag @images[0], :width => "208px", :height => "130px" %>
</div>

<% content_for :ready do  %>
 jQuery( "#tabs" ).tabs({ event: 'mouseover' });
<% end %>