<p id="notice"><%= notice %></p>
<% @skus.each do |sku| %>
  <div style="height: 50px">
    <%= sku.name %>
    <%= button_to '添加购物车', cart_skuships_path(:sku_id=>sku)%>
  </div>
<% end %>
<%= link_to '购物车', cart_skuships_path  %> <br />
<% if session[:user] != nil %>
登录帐号：<%= session[:user].login_no %>
<%= button_to '退出', sign_out_users_path, :method => :get %>
<% else %>
<%= button_to '登录', login_users_path, :method => :get %>
<%= button_to '注册', registration_users_path, :method => :get  %>
<% end %>






<div id="flashbox" class="smallslider" style="width: 320px;height: 200px;">
  <ul>
     <% @pick_ups.each do |pick_up| %>
        <li><a href="#"><%= image_tag pick_up.image.url, :alt => pick_up.name %></a></li>
     <% end %>
  </ul>
</div>

<script type="text/javascript">
  $('#flashbox').smallslider();
</script>




