<h1>媒体商品列表</h1>

<div class="attributes">
  <%= search_form_for [:commodity_admin,@search] do |f| %>
    <div class="split_content_left">
      <p>
        <%= f.label '编号' %>
        <%= f.text_field :number_cont %>
      </p>
    </div>
    <div class="split_content_right">
      <p>
        <%= f.label '名称' %>
        <%= f.text_field :name_cont %>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= f.submit '查询'%>
      </p>
    </div>
    <div class="clear"></div>
  <% end %>
</div>


<div class="grid_button">
  <%= link_to '新建媒体商品', new_commodity_admin_sku_path if can? :create, Sku %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.sku.number') %></th>
      <th><%= t('activerecord.attributes.sku.name') %></th>
      <th><%= t('activerecord.attributes.sku.sku_category_id') %></th>
      <th><%= t('activerecord.attributes.sku.unit') %></th>
      <th><%= t('activerecord.attributes.sku.sku_type') %></th>
      <th><%= t('activerecord.attributes.sku.status') %></th>
      <th><%= t('activerecord.attributes.sku.sales_status') %></th>
      <th><%= t('activerecord.attributes.sku.updated_at') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


<% @skus.each_with_index do |sku,index| %>
  <tr class="<%= set_odd_even_class index %>">
    <td><%= index+1 %></td>
    <td><%= sku.number %></td>
    <td align="left"><%= link_to sku.name, commodity_admin_sku_path(sku) %></td>
    <td><%= sku.sku_category_id %></td>
    <td><%= sku.unit %></td>
    <td><%= format_sku_type sku.sku_type %></td>
    <td><%= can?(:update_status,Sku) ? sku_status_link(sku) : format_sku_status(sku.status) %></td>
    <td><%= can?(:read,SkuOnShelf) ? (link_to format_sku_shelf_status(sku.shelf_status), commodity_admin_sku_sku_on_shelves_path(sku)) : format_sku_shelf_status(sku.shelf_status) %></td>
    <td><%= sku.updated_at %></td>
    <td><%= link_to '商品组成', '/admin/sku_productships?sku_id='+sku.id.to_s if can? :manage, SkuProductship %></td>
    <td><%= link_to '相册', '/admin/sku_images?sku_id='+sku.id.to_s if can? :manage, SkuImage %></td>
    <td><%= link_to '修改', edit_commodity_admin_sku_path(sku) if can? :update, Sku %></td>
  </tr>
<% end %>
</table>



<%= will_paginate @skus %>