<div id="show_info">
  <h1>媒体商品信息</h1>
  <ul>
    <li>
      <%= link_to "返回", commodity_admin_skus_path, :class => "left20" %>
      <%= link_to "修改", edit_commodity_admin_sku_path(@sku) if can? :update, Sku %>
      <%= link_to "素材组成", admin_sku_productships_path(:sku_id => @sku), :class => "longbtn" if can? :manage, SkuProductship %>
      <%= link_to "相册", admin_sku_images_path(:sku_id => @sku) if can? :manage, SkuImage %>
      <br />
      <hr />
    </li>
    <li>
      <label>媒体商品编号：</label>
      <span class="red"><%= @sku.number %></span>
    </li>
    <li>
      <label>媒体商品名称：</label>
      <span><%= @sku.name %></span>
    </li>
    <li>
      <label>媒体商品分类编号：</label>
      <span>110231001</span>
    </li>
    <li>
      <label>媒体商品分类名称：</label>
      <span><%= @sku.sku_category.name %></span>
      <hr />
    </li>
    <li>
      <label>单位：</label>
      <span><%= @sku.unit %></span>
    </li>
    <li>
      <label>规格：</label>
      <span><%= @sku.specification %></span>
    </li>
    <li>
      <label>颜色：</label>
      <span><%= @sku.color %></span>
    </li>
    <li>
      <label>素材商品型号：</label>
      <span><%= @sku.model %></span>
    </li>
    <li>
      <label>素材商品尺寸：</label>
      <span><%= @sku.size %></span>
      <hr />
    </li>
    <li>
      <label>交货天数：</label>
      <span><%= @sku.delivery_day %></span>
    </li>
    <li>
      <label>交货描述：</label>
      <span><%= @sku.delivery_description %></span>
    </li>
    <li>
      <label>类型区分：</label>
      <span><%= format_sku_type @sku.sku_type %></span>
    </li>
    <li>
      <label>代购品区分：</label>
      <span><%= Sku::CAN_ON_BE_HALF[@sku.can_on_be_half] %></span>
    </li>
    <li>
      <label>可否退换：</label>
      <span><%= Sku::CAN_RETURN[@sku.can_return] %></span>
    </li>
    <li>
      <label>种类：</label>
      <span><%= @sku.classifcation %></span>
      <hr />
    </li>
    <li>
      <label>市场价：</label>
      <span><%= cny @sku.market_price %></span>
    </li>
    <li>
      <label>税前媒体价：</label>
      <span><%= cny @sku.cost_bef_tax %></span>
    </li>
    <li>
      <label>税后媒体价：</label>
      <span><%= cny @sku.cost_aft_tax %></span>
    </li>
    <li>
      <label>税前组装费：</label>
      <span><%= cny @sku.assembling_fee_bef_tax %></span>
    </li>
    <li>
      <label>税后组装费：</label>
      <span><%= cny @sku.assembling_fee_aft_tax %></span>
    </li>
    <li>
      <label>税前安装费：</label>
      <span><%= cny @sku.installation_cost_bef_tax %></span>
    </li>
    <li>
      <label>税后安装费：</label>
      <span><%= cny @sku.installation_cost_aft_tax %></span>
      <hr />
    </li>
    <li>
      <label>媒体商品简介：</label>
      <span><%= @sku.introduction %></span>
    </li>
    <li>
      <label>广告语：</label>
      <span><%= @sku.advertisement %></span>
      <hr />
    </li>
    <li>
      <%= link_to "返回", commodity_admin_skus_path, :class => "left20" %>
      <%= link_to "修改", edit_commodity_admin_sku_path(@sku) if can? :update, Sku %>
      <%= link_to "素材组成", admin_sku_productships_path(:sku_id => @sku), :class => "longbtn" if can? :manage, SkuProductship %>
      <%= link_to "相册", admin_sku_images_path(:sku_id => @sku) if can? :manage, SkuImage %>
    </li>
  </ul>
</div>
