<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.online_promotion.code' %></th>
      <th><%= t 'activerecord.attributes.online_promotion.title' %></th>
      <th><%= t 'activerecord.attributes.online_promotion.start' %></th>
      <th><%= t 'activerecord.attributes.online_promotion.end' %></th>
      <th><%= t 'activerecord.attributes.online_promotion.online_promotionable_type' %></th>
      <th><%= t 'activerecord.attributes.online_promotion.promotion_type' %></th>
      <th><%= t 'activerecord.attributes.online_promotion.status' %></th>
      <th><%= t 'activerecord.attributes.online_promotion.progress' %></th>
      <th><%= t 'admin.misc.updated_at' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @not_in_priorities.each_with_index do |online_promotion,index| %>
    <tr class="<%= cycle "odd","even" %>">
      <td><%= index+1 %></td>
      <td><%= online_promotion.code %></td>
      <td><%= online_promotion.title %></td>
      <td><%= online_promotion.start %></td>
      <td><%= online_promotion.end %></td>
      <td><%= OnlinePromotion::ONLINE_PROMOTIONABLE[online_promotion.online_promotionable_type] %></td>
      <td><%= OnlinePromotion::PROMOTION_TYPE[online_promotion.promotion_type] %></td>
      <td><%= OnlinePromotion::STATUS[online_promotion.status] %></td>
      <td><%= OnlinePromotion::PROGRESS[online_promotion.progress] %></td>
      <td><%= online_promotion.updated_at %></td>
      <td>
        <%= link_to "添加", promotion_online_promotion_promotion_priorities_path(@online_promotion,
                                                                                :id => online_promotion.id,
                                                                                :priorities => @priorities ),
                    :method => :post, :class => "add_priorities" %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9"><%= will_paginate @not_in_priorities %></td>
    </tr>
  </tfoot>
</table>