<h1>Listing industries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sequence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @industries.each do |industry| %>
  <tr>
    <td><%= industry.name %></td>
    <td><%= industry.sequence %></td>
    <td><%= link_to 'Show', industry %></td>
    <td><%= link_to 'Edit', edit_industry_path(industry) %></td>
    <td><%= link_to 'Destroy', industry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Industry', new_industry_path %>
