<h1>Listing procedure_roleships</h1>

<table>
  <tr>
    <th>Procedure</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @procedure_roleships.each do |procedure_roleship| %>
  <tr>
    <td><%= procedure_roleship.procedure_id %></td>
    <td><%= procedure_roleship.role_id %></td>
    <td><%= link_to 'Show', procedure_roleship %></td>
    <td><%= link_to 'Edit', edit_procedure_roleship_path(procedure_roleship) %></td>
    <td><%= link_to 'Destroy', procedure_roleship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Procedure roleship', new_procedure_roleship_path %>
