<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @station.name %>
</p>

<p>
  <b>Display name:</b>
  <%= @station.display_name %>
</p>

<p>
  <b>Condition function:</b>
  <%= @station.condition_function %>
</p>

<p>
  <b>Business function:</b>
  <%= @station.business_function %>
</p>

<p>
  <b>Station type:</b>
  <%= @station.station_type %>
</p>

<p>
  <b>Sequence:</b>
  <%= @station.sequence %>
</p>

<p>
  <b>Safe quantity:</b>
  <%= @station.safe_quantity %>
</p>


<%= link_to 'Edit', edit_admin_station_path(@station) %> |
<%= link_to 'Back', admin_stations_path %>
