<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <th>Sku</th>
    <th>Cart</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>

<% @cart_skuships.each do |cart_skuship| %>
  <tr>
    <td><%= cart_skuship.sku.name %></td>
    <td><%= cart_skuship.cart_id %></td>
    <td><%= cart_skuship.quantity %></td>
    <td><%= number_to_currency(cart_skuship.sku.cost_aft_tax) %></td>
  </tr>
<% end %>
</table>
<hr />

<h3>收货人信息</h3>
  <div class="field">
    <%= f.label :name %><sapn class="red">*</sapn><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><sapn class="red">*</sapn><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
    <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
<hr />
<h3>支付方式</h3>
  <div class="field">
    <%= f.label :procedure_id %><br />
    <%= collection_select :procedure, :procedure_id,Procedure.all, :id,:display_name %>
  </div>
<hr />
  <h3>发票信息</h3>
 *发票类型: <%= f.radio_button :invoice_type, '0',  :checked=>true %>普通
          <%= f.radio_button :invoice_type, '1' %>增值税发票
    <br />
*开户银行：<%= f.text_field :account_bank %>   <br />
*开户名称：<%= f.text_field :account_person_name %>      <br />
*注册电话：<%= f.text_field :account_phone %>     <br />
*银行帐号：<%= f.text_field :account_no %>    <br />
*增值税登记号：<%= f.text_field :added_value_tax_no %>   <br />
*注册地址：<%= f.text_field :account_reg_add %>   <br />
   <br />
*发票抬头：<%= f.radio_button :is_invoice_head, '0',  :checked=>true %>个人
          <%= f.radio_button :is_invoice_head, '1' %> 单位
   <br />
*单位名称：<%= f.text_field :company_name %>

<hr />
<h3>订单备注</h3>
  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>









