<div class="well">
  <%= search_form_for [:admin,@search] do |f| %>
    <%= f.text_field :number_cont, :placeholder => t('activerecord.attributes.taurus/person_extend.number'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.taurus/person_extend.name'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.text_field :user_email_cont, :placeholder => t('activerecord.attributes.taurus/user.email'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.collection_select :user_status_eq, Taurus::User::STATUS, :first, :second,
                            { :include_blank => "全部" }, { :class => "span2" } %>
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary trk-btn-inline" %>
  <% end %>
  <hr />
  <a href="<%= new_admin_person_extend_path %>" class="btn btn-primary" id="create_tag">
    <i class="icon-plus-sign"></i>
    <%= t('admin.actions.new.title',:model => t('activerecord.models.taurus/person_extend')) %>
  </a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/person_extend.number') %></th>
      <th><%= t('activerecord.attributes.taurus/user.email') %></th>
      <th><%= t('activerecord.attributes.taurus/person_extend.name') %></th>
      <th><%= t('activerecord.attributes.taurus/user.role') %></th>
      <th><%= t('activerecord.attributes.taurus/user.status') %></th>
      <th><%= t('admin.misc.operation') %></th>
    </tr>
  </thead>
  <% @person_extends.each_with_index do |person_extend,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to person_extend.number, admin_person_extend_path(person_extend) %></td>
      <td><%= person_extend.user.email %></td>
      <td><%= person_extend.name %></td>
      <td><%= person_extend.user.role.name %></td>
      <td><%= format_boolean person_extend.user.status %></td>
      <td>
        <a href="<%= edit_admin_person_extend_path(person_extend) %>" 
           class="btn btn-primary trk-btn-short update_tag">
          <%= t('admin.actions.edit.menu') %>
        </a>
      </td>
    </tr>
  <% end %>
    <tfoot>
      <tr><td colspan='9'><%= will_paginate @person_extends, :renderer => BootstrapPagination::Rails %></td></tr>
    </tfoot>
</table>
