<div class="form-actions">
  <%= search_form_for [:admin,@search], :class => "form-inline" do |f| %>
    <%= f.text_field :number_cont, :placeholder => t('activerecord.attributes.taurus/person_extend.number'), :class => "trk-non-inline-margin" %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.taurus/person_extend.name'), :class => "trk-non-inline-margin" %>
    <%= f.text_field :user_email_cont, :placeholder => t('activerecord.attributes.taurus/user.email'), :class => "trk-non-inline-margin" %>
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary" %>
  <% end %>
  <hr />
  <%= link_to "<i class='icon-plus-sign'></i> #{t('admin.actions.new.title', :model => t('activerecord.models.taurus/person_extend'))}".html_safe, new_admin_person_extend_path, :class => "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/person_extend.number') %></th>
      <th><%= t('activerecord.attributes.taurus/user.email') %></th>
      <th><%= t('activerecord.attributes.taurus/person_extend.name') %></th>
      <th><%= t('activerecord.attributes.taurus/user.created_at') %></th>
      <th><%= t('activerecord.attributes.taurus/user.role') %></th>
      <th><%= t('activerecord.attributes.taurus/user.status') %></th>
      <th><%= t('activerecord.attributes.taurus/user.store') %></th>
      <th><%= t('admin.misc.operation') %></th>
    </tr>
  </thead>
  <% @person_extends.each_with_index do |person,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to person.number, admin_person_extend_path(person) %></td>
      <td><%= person.user.email %></td>
      <td><%= person.name %></td>
      <td><%= person.created_at %></td>
      <td><%= person.user.role.name %></td>
      <td><%= format_boolean(person.user.status) %></td>
      <td><%= person.user.store.name %></td>
      <td><%= link_to t("admin.actions.edit.menu"), edit_admin_person_extend_path(person), :class => "btn btn-primary trk-btn-short" %></td>
    </tr>
  <% end %>
    <tfoot>
      <tr><td colspan='9'><%= will_paginate @person_extends, :renderer => BootstrapPagination::Rails %></td></tr>
    </tfoot>
</table>
