<div class="well">
  <a href="<%= edit_admin_person_extend_path(@person_extend) %>" class="btn btn-primary" id="update_tag">
    <i class="icon-edit"></i>
    <%= t('admin.actions.edit.menu') %>
  </a>
  <%= link_to "<i class='icon-arrow-left'></i> #{t('admin.misc.back')}".html_safe, admin_person_extends_path, :class => "btn pull-right" %>
</div>

<%= flash_messages %>

<%= simple_form_for @person_extend, :url => "#", :html => {:class => 'form-horizontal'} do |f| %>
  <%= f.simple_fields_for :user do |u_f| %>
    <fieldset>
      <%= u_f.input :email, :disabled => true %>
      <%= u_f.input :points, :disabled => true %>
      <%= u_f.association :role, :disabled => true %>
      <%= f.input :name, :disabled => true %>
      <%= f.input :sex, :collection => Taurus::PersonExtend::SEX, :label_method => :second, 
                  :value_method => :first, :item_wrapper_class => 'inline',
                  :as => :radio_buttons, :disabled => true %>
      <%= f.input :birth, :as => :date, :disabled => true %>   
      <%= f.input :district_id, :as => :area, :disabled => true %>   
      <%= f.input :address, :disabled => true %>     
      <%= f.input :phone, :disabled => true %> 
      <%= f.input :zip_code, :disabled => true %>
      <%= u_f.input :status, :disabled => true %>
    </fieldset>
  <% end %>  
<% end %>
