<%= render :partial => "taurus/admin/shared/product_tabs", :locals => { :current => "SKUS", :type => "edit" } %>

<%= hidden_field_tag :product_id, @product.id %>

<%= simple_form_for(@product_sku_line_item, :url => admin_product_product_sku_line_items_path(@product), :html => {:class => 'form-horizontal', :method => :post}) do |f| %>
  <%= f.error_notification %>
    <table class="table table-striped">
		  <thead>
		    <tr>
		      <th><%= t('activerecord.attributes.taurus/sku.number') %></th>
		      <th><%= t('activerecord.attributes.taurus/sku.name') %></th>
		      <th><%= t('activerecord.attributes.taurus/product_sku_line_item.sku_amount') %></th>
		      <th><%= t('admin.misc.operation') %></th>
		   </tr>
		  </thead>
		  <tbody id="line_items">
        <% @product.product_sku_line_items.each_with_index do |line_item,index| %>
			    <tr class='sku_line_item' data-sku_id="<%= line_item.sku_id %>">
			      <td><%= link_to line_item.sku.number, admin_sku_path(line_item.sku_id), :target => "_blank" %></td>
			      <td><%= line_item.sku.name %></td>
			      <td>
			      	<%= text_field_tag :"sku_amount[#{line_item.sku_id}]", line_item.sku_amount, 
			                             :class => "numeric integer required", :step => "1", :type => "number" %>
            </td>
			      <td><%= link_to t('admin.actions.delete.menu'), "#", :class => "btn btn-primary trk-btn-short remove_line_item" %></td>
			    </tr>
			  <% end %>
		  </tbody>
		</table>
     
    <hr />

		<fieldset>
      <%= f.input :sku_name, :url => autocomplete_sku_name_admin_product_product_sku_line_items_path(@product),
                  :as => :autocomplete %>
      <%= f.input :sku_amount %>      
      <hr />     
      <div id="sku_details"><div>
		</fieldset>
    
    <div class="form-actions">
      <%= link_to "#{content_tag(:i, '', :class => 'icon-plus-sign')} #{t('admin.misc.add_new', :model => t('activerecord.models.taurus/product_sku_line_item'))}".html_safe, "#", :class => "btn btn-primary", :id => "add_product_sku" %>
      <%= f.button :submit, :value => "更新销售商品", :class => "btn btn-primary" %>
    </div>
<% end %>