<!DOCTYPE html>
<html>
<head>
  <title>Taurus</title>
  <%= stylesheet_link_tag 'taurus/index', :media => "all" %>
  <%= stylesheet_link_tag params[:controller], :media => "all" %>
  <%= javascript_include_tag "taurus/index" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">采恪电子商务管理平台</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="active">
              <a href="#"><i class="icon-user"></i><%= current_user.taurus_userable.name %></a>
            </li>
            <li>
              <%= link_to '退出', destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
