<div class="well">
  <%= link_to "#{content_tag(:i, '', :class => "icon-arrow-left")} #{t('admin.misc.back')}".html_safe, admin_slider_bars_path, :class => "btn pull-right" %>
</div>

<%= simple_form_for([:admin,@slider_bar],:html => {:multipart=>true, :class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  
  <fieldset>
    <%= f.input :name %>
    <%= f.input :href %>
    <%= f.input :description %>
    <%= f.input :image_file_name do
      f.file_field :image
    end %>
    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
