<div class="form-actions">
  <%= link_to "<i class='icon-edit'></i> #{t('admin.actions.edit.menu')}".html_safe, edit_admin_slider_bar_path(@slider_bar), :class => "btn btn-primary" %>
  <%= link_to "<i class='icon-arrow-left'></i> #{t('admin.misc.back')}".html_safe, admin_slider_bars_path, :class => "btn pull-right" %>
</div>

<%= simple_form_for(@slider_bar, :url => "#",:html => {:class => 'form-horizontal'}) do |f| %>
  <%= flash_messages %>
  <fieldset>
    <%= f.input :name, :disabled => true %>
    <%= f.input :href, :disabled => true %>
    <%= f.input :description, :disabled => true %>
    <%= image_tag @slider_bar.image.url(:normal) %>
  </fieldset>
<% end %>