 <script type="text/javascript">
    $(document).ready(function () {
      $('div.ui-layout-center').layout({
          center__paneSelector:	".center-center",
          south__paneSelector:	".center-south",
          south__size: "40%"
      });
    });
    //管理员列表行点击事件
    function handleSelection(id) {
	   $.get("admins_admin_groups", null, function(data) {
           $('#admin_id').val(id);
           $('#admin_group_checkbox').html('');
           $.each(data,function(idx,item){
             var group = item.admin_group;
             $('#admin_group_checkbox').append('<div><input type="checkbox" value="'+group.id+'" name="admin_group_ids"/>'+group.group_name+'</div>');
           });
       }, "json");
    }
</script>
<div class="center-center">
  <div class="page_content">
    <div class ="basic_form">
      <%=raw jqgrid(t('attributes.admin.admin_list'), "admins", "/admin/admins",
        [
        { :field => "name", :label =>t('attributes.admin.name'), :sortable=>false, :width=>120},
        { :field => "login_no", :label =>t('attributes.admin.login_no'), :sortable=>false, :width=>"120"},
        { :field => "mobile", :label =>t('attributes.admin.mobile'), :sortable=>false, :width=>100},
        { :field => "email", :label =>t('attributes.admin.email'), :sortable=>false, :width=>150},
        { :field => "sex", :label =>t('attributes.admin.sex'), :formatter=>'select', :editoptions=>{:value=>[["0","男"],["1","女"]]}, :align=>"center", :sortable=>false, :width=>60},
        { :field => "last_login_time", :label =>t('attributes.admin.last_login_time'), :sortable=>false, :width=>120},
        { :field => "status", :label =>t('attributes.admin.status'), :formatter=>'select', :editoptions=>{:value=>[["0","冻结"],["1","激活"]]}, :align=>"center", :sortable=>false, :width=>60 }
        ] , {:height=>"$('.center-center').height()-90",
             :width=>"$('.ui-layout-center').width()-2",
             :selection_handler => "handleSelection",
             :direct_selection => true}
    ) %>
    </div>
  </div>
</div>
<div class="center-south">
  <div id="admin_tabs">
	<ul>
		<li><a href="#admin_tabs-1"><%= t('attributes.admin.group_info') %></a></li>
	</ul>
	<div id="admin_tabs-1">
      <%= form_tag 'admins_admin_groups' ,:remote =>true do%>
        <%=hidden_field_tag 'admin_id' %>
        <div id="admin_group_checkbox"></div>
        <div id="admin_group_button">
          <%= submit_tag '保存' %>
          <input type="button" value="重置"/>
        </div>
      <% end %>
	</div>
  </div>
  <script>
     $("#admin_tabs").tabs();
  </script>
</div>
