<div class="well">
  <%= link_to "#{content_tag(:i, '', :class => 'icon-plus-sign')} #{t('admin.actions.new.title', :model => t('activerecord.models.taurus/administrator'))}".html_safe, new_admin_administrator_path,  :class => "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/administrator.name') %></th>
      <th><%= t('activerecord.attributes.taurus/administrator.email') %></th>
      <th><%= t('activerecord.attributes.taurus/administrator.last_sign_in_at') %></th>
      <th><%= t('activerecord.attributes.taurus/administrator.status') %></th>
      <th><%= t('admin.misc.operation') %></th>
    </tr>
  </thead>
  <tbody>
    <% @administrators.each_with_index do |admin,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to admin.name, admin_administrator_path(admin) %></td>
        <td><%= admin.email %></td>
        <td><%= admin.last_sign_in_at %></td>
        <td><%= format_admin_status(admin.status) %></td>
        <td><%= link_to t('admin.actions.edit.menu'), edit_admin_administrator_path(admin), :class => "btn btn-primary trk-btn-short" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="7"><%= will_paginate @administrators, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>



