<div class="well">
  <%= search_form_for [:admin,@search], :class => "form-inline" do |f| %>
    <%= f.text_field :email_cont, :placeholder => t('activerecord.attributes.taurus/administrator.email'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.text_field :name_cont, :placeholder => t('activerecord.attributes.taurus/administrator.name'), 
                     :class => "trk-non-inline-margin span2" %>
    <%= f.submit t('admin.misc.search'), :class => "btn btn-primary trk-btn-inline" %>
  <% end %>
  <hr />
  <a href="<%= new_admin_administrator_path %>" class="btn btn-primary" id="create_tag">
    <i class="icon-plus-sign"></i>
    <%= t('admin.actions.new.title',:model => t('activerecord.models.taurus/administrator')) %>
  </a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/administrator.name') %></th>
      <th><%= t('activerecord.attributes.taurus/administrator.email') %></th>
      <th><%= t('activerecord.attributes.taurus/administrator.last_sign_in_at') %></th>
      <th><%= t('activerecord.attributes.taurus/administrator.status') %></th>
      <th><%= t('admin.misc.operation') %></th>
    </tr>
  </thead>
  <tbody>
    <% @administrators.each_with_index do |administrator,index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to administrator.name, admin_administrator_path(administrator) %></td>
        <td><%= administrator.email %></td>
        <td><%= administrator.last_sign_in_at %></td>
        <td><%= format_admin_status(administrator.status) %></td>
        <td>
          <a href="<%= edit_admin_administrator_path(administrator) %>" 
             class="btn btn-primary trk-btn-short update_tag">
            <%= t('admin.actions.edit.menu') %>
          </a>
          <a href="<%= new_admin_administrator_administrator_group_line_item_path(administrator) %>" 
             class="btn btn-primary trk-btn-short group_tag">
            <%= t('admin.actions.edit.title', :model => t('activerecord.models.taurus/group')) %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="7"><%= will_paginate @administrators, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>



