<%= f.fields_for :online_promotion do |op_f| %>
  <div id="show_info">
    <%= error_messages @promotion_by_order %>
    <h1>新建活动：<span class="red">*</span>为必填</h1>
    <ul>
      <li>
        <label><%= t 'activerecord.attributes.online_promotion.code' %><abbr title="required">*</abbr></label>
        <%= op_f.text_field :code %>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.online_promotion.title' %><abbr title="required">*</abbr></label>
        <%= op_f.text_field :title %>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.online_promotion.online_promotionable_type' %><abbr title="required">*</abbr></label>
        <span class="red">订单类</span>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.online_promotion.promotion_type' %><abbr title="required">*</abbr></label>
        <%= op_f.collection_select :promotion_type, OnlinePromotion::PROMOTION_TYPE, :first, :second %>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.online_promotion.start' %><abbr title="required">*</abbr></label>
        <%= op_f.datetime_select :start %>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.online_promotion.end' %><abbr title="required">*</abbr></label>
        <%= op_f.datetime_select :end, :default => 5.years.from_now %>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.online_promotion.description' %><abbr title="required">*</abbr></label>
        <%= op_f.text_area :description, :cols => 60, :rows => 5 %>
      </li>
    </ul>

    <h1>活动规则：若选项为空或为“0”，即表示无限制</h1>
    <ul>
      <li>
        <%= f.label :order_payment_over %>
        <span>大于<%= f.text_field :order_payment_over %>元</span>
      </li>
      <li>
        <%= f.label :purchase_amount_limit %>
        <span>大于<%= f.text_field :purchase_amount_limit %>件</span>
      </li>
      <li>
        <%= op_f.label :min_member_point %>
        <span>大于<%= op_f.text_field :min_member_point %>分</span>
      </li>
      <li>
        <%= op_f.label :sign_up_time_limit %>
        <%= op_f.collection_select :sign_up_time_limit, OnlinePromotion::SIGN_UP_TIME_LIMIT, :first, :second  %>
      </li>
      <li>
        <%= op_f.label :member_sign_up_start, "", :class => "indent2em" %>
        <%= op_f.date_select :member_sign_up_start, :disabled => true %>
      </li>
      <li>
        <%= op_f.label :member_sign_up_end, "", :class => "indent2em" %>
        <%= op_f.date_select :member_sign_up_end, :disabled => true %>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.online_promotion.member_type' %></label>
        <%= op_f.collection_select :member_type, OnlinePromotion::MEMBER_TYPE, :first, :second %>
      </li>
      <li>
        <%= op_f.label :order_channel %>
        <%= op_f.collection_select :order_channel, OnlinePromotion::ORDER_CHANNEL, :first, :second %>
      </li>
      <li>
        <%= op_f.label :procedure_id %>
        <%= op_f.collection_select :procedure_id, Procedure.activated, :id, :name, :include_blank => "无限制" %>
      </li>
    </ul>

    <h1>活动内容</h1>
    <ul>
      <li>
        <%= f.label :discount %>
        <%= f.text_field :discount %>
        <span class="red">说明：输入1为全价，输入0.95为95折</span>
      </li>
      <li>
        <%= op_f.label :free_installation %>
        <%= op_f.collection_radio :free_installation, OnlinePromotion::FREE_INSTALLATION, :first, :second %>
      </li>
      <li>
        <%= op_f.label :free_assembling %>
        <%= op_f.collection_radio :free_assembling, OnlinePromotion::FREE_ASSEMBLING, :first, :second %>
      </li>
      <li>
        <%= f.label :free_delivery %>
        <%= f.collection_radio :free_delivery, PromotionByOrder::FREE_DELIVERY, :first, :second %>
      </li>
      <li>
        <%= op_f.label :points_promotion_method %>
        <%= op_f.collection_select :points_promotion_method, OnlinePromotion::POINTS_PROMOTION_METHOD, :first, :second %>
        <%= op_f.text_field :points_promotion_parameter %>
      </li>
      <li>
        <%= op_f.label :sku_id %>
        <%= text_field_tag :sku_name, (@online_promotion.sku ? @online_promotion.sku.name : nil), :readonly => true %>
        <%= link_to "清空", "#", :id => "order_empty_sku", :class => "link" %>
        <%= link_to "设置", "#", :id => "order_set_sku", :class => "link" %>
        <%= op_f.hidden_field :sku_id, :id => "order_sku_id" %>
      </li>
    </ul>
  </div>
<% end %>