<h1>Listing company_scales</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sequence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_scales.each do |company_scale| %>
  <tr>
    <td><%= company_scale.name %></td>
    <td><%= company_scale.sequence %></td>
    <td><%= link_to 'Show', company_scale %></td>
    <td><%= link_to 'Edit', edit_company_scale_path(company_scale) %></td>
    <td><%= link_to 'Destroy', company_scale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company scale', new_company_scale_path %>
