<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company_scale.name %>
</p>

<p>
  <b>Sequence:</b>
  <%= @company_scale.sequence %>
</p>


<%= link_to 'Edit', edit_company_scale_path(@company_scale) %> |
<%= link_to 'Back', company_scales_path %>
