<%= form_for :user, :url => admin_company_extends_path do |f| %>
   <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', :count => @user.errors.size+@company_extend.errors.size, :model => t('models.company_extend'))  %></h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% if @company_extend.errors.any? %>
        <% @company_extend.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="attributes">
    <div class="split_content_left">
      <p>
        <%= label_tag t :login_no %>
        <%= f.text_field :login_no %><span class="red">*</span>
      </p>
    </div>
    <div class="split_content_right">
      <p>
        <%= label_tag t :password %>
        <%= f.password_field :password %><span class="red">*</span>
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="attributes">
    <div class="split_content_left">
      <p>
        <%= label_tag t :status %>
        <%= f.radio_button :status, '0', :class => "radio" %>
        <%= t :lock %>
        <%= f.radio_button :status, '1', :class => "radio", :checked => true %>
        <%= t :active %>
      </p>
      <p>
        <%= label_tag t :role %>
        <%= select :company_extend, :role_id, Role.all.collect{ |r| [r.name, r.id] } %><span class="red">*</span>
      </p>
      <p>
        <%= label_tag t 'attributes.company_extend.company_name' %>
        <%= text_field :company_extend, :company_name %><span class="red">*</span>
      </p>
      <p>
        <%= label_tag t :industry %>
        <%= select :company_extend, :industry_id, Industry.all.collect{ |p| [p.name, p.id]} %><span class="red">*</span>
      </p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="attributes">
    <div class="split_content_left">
      <p>
        <%= label_tag t :company_type %>
        <%= select :company_extend, :company_type_id, CompanyType.all.collect{ |p| [p.name, p.id]} %><span class="red">*</span>
      </p>
    </div>
    <div class="split_content_right">
      <p>
         <%= label_tag t :company_scale %>
         <%= select :company_extend, :company_scale_id, CompanyScale.all.collect{ |p| [p.name, p.id]},{:include_blank => "-请选择-"} %>
      </p>
    </div>
    <div class="split_content_left_long">
      <p>
        <%= label_tag t :district %>
        <%= raw address nil, 'company_extend' %><span class="red">*</span>
      </p>
      <p>
        <%= label_tag t 'attributes.company_extend.address' %>
        <%= text_field :company_extend, :address %>
      </p>
      <p>
        <%= label_tag t :email %>
        <%= text_field :company_extend, :email %><span class="red">*</span>
      </p>
      <p>
        <%= label_tag t 'attributes.company_extend.web_address' %>
        <%= text_field :company_extend, :web_address %>
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="attributes">
    <div class="split_content_left">
      <p>
        <%= label_tag t 'attributes.company_extend.name' %>
        <%= text_field :company_extend, :name %><span class="red">*</span>
      </p>
      <p>
        <%= label_tag t 'attributes.company_extend.contact_dept' %>
        <%= text_field :company_extend, :contact_dept %>
      </p>
      <p>
        <%= label_tag t 'attributes.company_extend.phone' %>
        <%= text_field :company_extend, :phone %>
      </p>
      <p>
        <%= label_tag t 'attributes.company_extend.mobile' %>
        <%= text_field :company_extend, :mobile %>
      </p>
    </div>
    <div class="split_content_right">
      <p>
        <%= label_tag t 'attributes.company_extend.sex' %>
        <%= radio_button :company_extend, :sex, '0', :class => "radio" %>
        女
        <%= radio_button :company_extend, :sex, '1', :class => "radio", :checked => true %>
        男
      </p>
      <p>
        <%= label_tag t 'attributes.company_extend.contact_post' %>
        <%= text_field :company_extend, :contact_post %>
      </p>
      <p>
        <%= label_tag t 'attributes.company_extend.fax' %>
        <%= text_field :company_extend, :fax %>
      </p>
      <p>
        <%= label_tag t 'attributes.company_extend.zip' %>
        <%= text_field :company_extend, :zip %>
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="actions">
    <%= f.submit '保存' %>
  </div>
<% end %>
