<h1>企业会员列表</h1>

<div class="attributes">
  <%= search_form_for [:admin,@search] do |f| %>
    <div class="split_content_left">
      <p>
        <%= f.label '编号' %>
        <%= f.text_field :company_no_cont %>
      </p>
      <p>
        <%= f.label '企业名称' %>
        <%= f.text_field :company_name_cont %>
      </p>
    </div>
    <div class="split_content_right">
      <p>
        <%= f.label '帐号' %>
        <%= f.text_field :user_login_no_cont %>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= f.submit '查询'%>
      </p>
    </div>
    <div class="clear"></div>
  <% end %>
</div>

<div class="grid_button">
  <%= link_to '新增企业会员', new_admin_company_extend_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>会员编号</th>
      <th>登录账号</th>
      <th>企业名称</th>
      <th>注册时间</th>
      <th>所属组</th>
      <th>账号状态</th>
      <th>历史状态</th>
    </tr>
  </thead>
<% @company_extends.each_with_index do |company_extend,index| %>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td><%= index+1 %></td>
    <td><%= company_extend.company_no %></td>
    <td><%= company_extend.user.login_no %></td>
    <td><%= company_extend.company_name %></td>
    <td><%= company_extend.created_at %></td>
    <td><%= company_extend.user.role.name %></td>
    <td><%= format_user_status company_extend.user.status %></td>
    <td></td>
  </tr>
<% end %>
</table>

<%= will_paginate @company_extends %>

