<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @company_extend.user_id %>
</p>

<p>
  <b>Company no:</b>
  <%= @company_extend.company_no %>
</p>

<p>
  <b>Role no:</b>
  <%= @company_extend.role_no %>
</p>

<p>
  <b>Industry type:</b>
  <%= @company_extend.industry_type_id %>
</p>

<p>
  <b>Company type:</b>
  <%= @company_extend.company_type_id %>
</p>

<p>
  <b>District no:</b>
  <%= @company_extend.district_no %>
</p>

<p>
  <b>Company scale:</b>
  <%= @company_extend.company_scale_id %>
</p>

<p>
  <b>Email:</b>
  <%= @company_extend.email %>
</p>

<p>
  <b>Company name:</b>
  <%= @company_extend.company_name %>
</p>

<p>
  <b>Contact dept:</b>
  <%= @company_extend.contact_dept %>
</p>

<p>
  <b>Contact post:</b>
  <%= @company_extend.contact_post %>
</p>

<p>
  <b>Web address:</b>
  <%= @company_extend.web_address %>
</p>

<p>
  <b>Sex:</b>
  <%= @company_extend.sex %>
</p>

<p>
  <b>Name:</b>
  <%= @company_extend.name %>
</p>

<p>
  <b>Address:</b>
  <%= @company_extend.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @company_extend.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @company_extend.fax %>
</p>

<p>
  <b>Mobile:</b>
  <%= @company_extend.mobile %>
</p>

<p>
  <b>Zip:</b>
  <%= @company_extend.zip %>
</p>

<p>
  <b>Created by:</b>
  <%= @company_extend.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @company_extend.updated_by %>
</p>


<%= link_to 'Edit', edit_company_extend_path(@company_extend) %> |
<%= link_to 'Back', company_extends_path %>
