<%= render :partial => "taurus/admin/shared/product_tabs", 
           :locals => { :current => "combined", :type => "edit" } %>

<%= hidden_field_tag :product_id, @product.id %>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= t('admin.misc.combined_product.edit_instruction') %> 
</div>

<%= simple_form_for(@combined_product, :url => admin_product_combined_products_path(@product), 
                    :html => {:class => 'form-horizontal', :method => :post}) do |f| %>
  <%= f.error_notification %>
    <table class="table table-striped">
		  <thead>
		    <tr>
		      <th><%= t('activerecord.attributes.taurus/product.number') %></th>
		      <th><%= t('activerecord.attributes.taurus/product.name') %></th>
		      <th><%= t('admin.misc.operation') %></th>
		   </tr>
		  </thead>
		  <tbody id="combined_products">
        <% @product.combined_products.each_with_index do |combined_product,index| %>
			    <tr class='combined_products' data-related_id="<%= combined_product.related_id %>">
			      <td>
			      	<%= link_to combined_product.related.number, admin_product_path(combined_product.related_id), 
			      	            :target => "_blank" %>
	          </td>
			      <td>
			      	<%= combined_product.related.name %>
			      	<%= hidden_field_tag :'related_ids[]', combined_product.related_id %>
			      </td>
			      <td>
			      	<%= link_to t('admin.actions.delete.menu'), "#", 
			      	            :class => "btn btn-primary trk-btn-short remove_line_item" %>
			      </td>
			    </tr>
			  <% end %>
		  </tbody>
		</table>

		<div class="form-actions">
			<%= f.button :submit, :value => "更新销售商品", :class => "btn btn-large btn-warning" %>
			<%= link_to t('admin.misc.cancel'), admin_product_path(@product), :class => "btn" %>
		</div>	
     
    <div class="alert alert-info">
    	<fieldset>
	      <%= f.input :product_name, 
	                  :url => autocomplete_product_name_admin_product_combined_products_path(@product),
	                  :input_html => { :update_elements => {:id => '#related_id', :number => '#related_number'} },
	                  :as => :autocomplete %>
	      <%= hidden_field_tag :related_id %>
	      <%= hidden_field_tag :related_number %>   
        
        <div class="form-actions">
          <%= link_to "#{content_tag(:i, '', :class => 'icon-plus-sign')} #{t('admin.misc.add_new', 
                  :model => t('admin.misc.product.single'))}".html_safe, "#", 
                  :class => "btn btn-success", :id => "add_single_product" %> 
        </div>
		 </fieldset>
    </div>
<% end %>