<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 用户资料</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">用户资料</h2>
  <h3>基本信息</h3>
  <p class="p_t">用户名：</p>
  <p><%= @user.login_no %></p>
  <p class="p_t">姓名：</p>
  <p><%= @user.person_extend.name %></p>
  <p class="p_t">联系人称呼：</p>
  <p><%= format_value @user.person_extend.sex, { 1 => "先生", 2 => "女士" } %></p>
  <p class="p_t">出生年月：</p>
  <p><%= @user.person_extend.birth %></p>
  <p class="p_t">邮箱地址：</p>
  <p><%= @user.person_extend.email %></p>
  <h3>联系方式</h3>
  <p class="p_t">默认区域：</p>
  <p><%= @user.person_extend.district.address %></p>
  <p class="p_t">默认地址：</p>
  <p><%= @user.person_extend.address %></p>
  <p class="p_t">默认邮编：</p>
  <p><%= @user.person_extend.post %></p>
  <p class="p_t">联系电话：</p>
  <p><%= @user.person_extend.phone %></p>
  <br />
  <button type="button" class="handler" onclick="window.location.href='<%= edit_p_user_info_user_user_centers_path %>'">修改个人信息</button>
</div>


