<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 修改用户信息</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">修改用户信息</h2>

  <%= form_for @person_extend, :url => update_p_user_info_user_user_centers_path, :html => {:id => "edit_personal"} do |f| %>
    <p>
      <label>真实姓名：</label>
      <%= f.text_field :name %>
      <span class="red">*</span>
      <span id="person_extend_nameTip"></span>
    </p>
    <p>
      <label>联系人称呼：</label>
      <%= f.collection_radio :sex, [[1,"先生"],[2,"女士"]], :first, :last %>
    </p>
    <p>
      <label>出生年月：</label>
      <%= f.date_select :birth, :include_blank => true %>
    </p>
    <p>
      <label>邮箱地址：</label>
      <%= f.text_field :email %>
      <span class="red">*</span>
      <span id="person_extend_emailTip"></span>
    </p>
    <p>
      <label>默认区域：</label>
      <%=raw address @person_extend.district, "person_extend" %>
      <span id="person_extend_district_noTip"></span>
    </p>
    <p>
      <label>默认地址：</label>
      <%= f.text_field :address %>
      <span id="person_extend_addressTip"></span>
    </p>
    <p>
      <label>默认邮编：</label>
      <%= f.text_field :post %>
      <span id="person_extend_postTip"></span>
    </p>
    <p>
      <label>联系电话：</label>
      <%= f.phone_field :phone %>
      <span id="person_extend_phoneTip"></span>
    </p>

    <%= f.submit "提交" %>
  <% end %>

</div>