<p class="nav">您的位置：首页 >> 我的壹美壹家</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <div id="uc_welcome">
    <p class="p_l">您好，<%= get_user_name current_user %>，欢迎回来！</p>
    <p class="p_r">上次登陆时间：<%= current_user.last_sign_in_at %></p>
  </div>
  <table class="order_sku_details">
    <caption>订单明细列表</caption>
    <thead>
      <tr>
        <th>订单编号</th>
        <th>下单时间</th>
        <th>收货人</th>
        <th>支付方式</th>
        <th>订单金额</th>
        <th>订单状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.number %></td>
          <td><%= order.created_at %></td>
          <td><%= order.name %></td>
          <td><%= order.instance.procedure.display_name %></td>
          <td><%= number_to_currency order.total_amount, :unit => "￥" %></td>
          <td><%= order.instance.station.display_name %></td>
          <td>
            <strong>
              <%= link_to "立即付款", alipaies_path(:number => order.number), :target => "blank" %>
            </strong>
            <a href="#">修改</a>
            <a href="#">取消</a>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">上一页 ... 下一页</td>
      </tr>
    </tfoot>
  </table>
</div>