<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 免费索取目录</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">免费获取精美目录</h2>
  <%= notice %>
  <%= form_for @mail_sale, :url => add_mail_sales_user_user_centers_path do |f| %>
    <p>
      <label for="name">联系人姓名：</label>
      <%= f.text_field :name %>
      <span class="red">*</span>
      <span id="mail_sale_nameTip"></span>
    </p>
    <p>
      <label for="district">所属区域：</label>
      <%=raw address nil, "mail_sale" %>
      <span class="red">*</span>
      <span id="mail_sale_district_noTip"></span>
    </p>
    <p>
      <label for="address">详细地址：</label>
      <%= f.text_field :address %>
      <span class="red">*</span>
      <span id="mail_sale_addressTip"></span>
    </p>
    <p>
      <label for="postcode">邮政编码：</label>
      <%= f.text_field :zip %>
      <span class="red">*</span>
      <span id="mail_sale_zipTip"></span>
    </p>
    <p>
      <label for="phonenumber">固定电话：</label>
      <%= f.text_field :phone %>
      <span class="red">*</span>
      <span id="mail_sale_phoneTip">固定电话与移动电话必填一项</span>
    </p>
    <p>
      <label for="cellnumber">移动电话：</label>
      <%= f.text_field :mobile %>
      <span class="red">*</span>
      <span id="mail_sale_mobileTip">固定电话与移动电话必填一项</span>
    </p>
    <p>
      <label for="faxnumber">传真号码：</label>
      <%= f.text_field :fax %>
    </p>
    <p>
      <label for="email">电子邮箱：</label>
      <%= f.text_field :email %>
    </p>
    <br />
    <%= f.submit "提交", :id => "mail_sales_commit", :class => "handler" %>
  <% end %>
</div>