<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 我的关注</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">我关注的商品</h2>
  <!--
  <div class="uc_fav_tag">
    <h3>我的分类</h3>
    <input id="new_favorite_tag" />
    <button>新增</button>
    <ul>
      <li>默认分类</li>
      <li>分类一</li>
      <li>分类二</li>
    </ul>
  </div>
  -->
  <div id="uc_fav_content">
    <div>
      <h3>按分类查找</h3>
      <%=raw get_favorite_categories %>
    </div>

    <table id="uc_fav">
      <thead>
        <tr>
          <th>商品图片</th>
          <th>商品名称</th>
          <th>单价</th>
          <th>库存</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <td>
              <%= link_to (image_tag favorite.sku.main_img, :width => "50px", :height => "50px"), commodity_sku_detail_path(favorite.sku_id) %>
            </td>
            <td><%= link_to favorite.sku.name, commodity_sku_detail_path(favorite.sku_id) %></td>
            <td><%= number_to_currency favorite.sku.cost_aft_tax, :unit => "￥" %></td>
            <td><%= get_sku_inventory(favorite.sku) %></td>
            <td>
              <%= link_to "加入购物车", "#", :class => "add_to_cart", :id => favorite.sku_id %><br />
              <%= link_to "取消关注", user_index_favorite_path(favorite), :confirm => "确定取消关注?", :method => :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <% if will_paginate(@favorites) %>
        <tfoot>
          <tr>
            <td colspan="5"><%= will_paginate @favorites %></td>
          </tr>
        </tfoot>
      <% end %>
    </table>


  </div>
</div>