<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 订单查询</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">订单查询</h2>

  <div id="conditions">
    <%= search_form_for @search, :url => order_query_user_user_centers_path do |f| %>
      <p>
        <label for="order_id">订单编号：</label>
        <%= f.text_field :number_eq %>
      </p>
    <p>
      <label for="order_status">订单状态：</label>
      <%= f.select :instance_station_id_eq, Station.user_stations.collect{ |s| [s.display_name ,s.id]} ,{:include_blank => true } %>
    </p>
    <p>
      <label for="order_payment_method">付款方式：</label>
      <%= f.select :instance_procedure_id_eq, options_from_collection_for_select(current_user.role.procedures, "id", "display_name") ,{:include_blank => true } %>
    </p>
    <p>
      <label for="order_date">订单日期：</label>
      <%= f.date_select :created_at_gt,{:include_blank=>true} %>
      ~
      <%= f.date_select :created_at_lt,{:include_blank=>true} %>
    </p>
    <p class="clear">
      快速查询：
      <%= link_to "最近一个月", "#", :id => "last_one_month" %>
      <%= link_to "最近三个月", "", :id => "last_three_month" %>
      <%= link_to "最近六个月", "", :id => "last_six_month" %>
    </p>
    <p>
      <%= f.submit "查询" %>
    </p>
  <% end %>

  </div>

  <table id="uc_order_query">
    <caption>订单查询明细列表</caption>
    <thead>
      <tr>
        <th>订单编号</th>
        <th>下单时间</th>
        <th>收货人</th>
        <th>支付方式</th>
        <th>订单金额</th>
        <th>订单状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr class="<%= cycle('odd','even') %>">
          <td><%= link_to order.number, order_show_user_user_center_path(order) %></td>
          <td><%= order.created_at %></td>
          <td><%= order.name %></td>
          <td><%= order.instance.procedure.display_name %></td>
          <td><%= number_to_currency order.total_amount, :unit => "￥" %></td>
          <td><%= order.instance.station.display_name %></td>
          <td>
            <% if order.instance.procedure.id == 1 %>
              <strong>
                <%= link_to "立即付款", alipaies_path(:number => order.number), :target => "blank" %>
              </strong>
            <% end %>
            <a href="#">修改</a>
            <a href="#">取消</a>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7"><%= will_paginate @orders %></td>
      </tr>
    </tfoot>
  </table>
</div>