<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 输入付款信息</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper" class="remit">
  <h2 class="title">输入银行汇款信息</h2>
  <%= form_for @order_pay, :url => add_remit_payment_info_user_user_center_path(@order_pay.order_id) do |f| %>
    <%= hidden_field_tag :condition_id, @condition_id %>
    <p>
      <label>汇出地点：</label>
      <%= f.collection_select :province_no, Province.all, :number, :name, :selected => 330000 %>
    </p>
    <p>
      <label>汇出日期：</label>
      <%= f.date_select :pay_date %>
      <em>例如，2000-10-01</em>
    </p>
    <p>
      <label>交易流水号：</label>
      <%= f.text_field :remittance_no %>
      <em>请填入银行转账单上的流水号。</em>
    </p>
    <p>
      <label>交易行名：</label>
      <%= f.text_field :pay_bank %>
    </p>
    <p>
      <label>付款金额：</label>
      <%= f.text_field :price %>
    </p>
    <p>
      <label>汇款人姓名：</label>
      <%= f.text_field :remitter %>
    </p>
    <p>
      <label>汇入银行：</label>
      <%= f.collection_select :bank_id, Bank.all, :id, :name %>
    </p>
    <p>
      <label>汇款备注：</label>
      <%= f.text_area :note %>
    </p>
    <p>
      <%= f.submit "提交信息", :class => "handler" %>
      <input type="reset" value="重新填写" class="handler"/>
    </p>

  <% end %>
</div>