<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">
  <h1>支付方式</h1>
  <p>壹美壹家为您提供了多样的支付方式，为您的网上购物支付提供更便捷的方式。请在下订单时选择支付方式并按系统提示完成操作。
    如果操作中有任何问题请致电客服热线<em>400-630-5006</em>（周一至周六8:30-17:00）</p>
  <h2>1．货到付款</h2>
  <p>货物送到订单指定的收货地址后，由收货人支付货款给送货人员。货到付款仅限支付现金，不支持刷卡服务。
    货到付款服务现在覆盖浙江省、上海市和江苏省。其他地区请通过其他方式支付。</p>
  <p>厂家直送商品（红色确认标记）是壹美壹家仓库不备库商品，根据客户的订单另外向厂家采购，
    不支持货到付款服务。客户下单并且完成全额支付（线上支付或者银行转账）以后大约7个工作日内送货上门。</p>
  <h2>2．银行转账</h2>
  <p>户名：宁波壹美壹家贸易有限公司<br />
     开户行：光大银行宁波高新区支行<br />
     账号：7688-0188-0000-54949 </p>
  <p>付款后请务必进入订单点击“付款信息”，填写相关转账汇款信息。填写完以后订单状态会自动变更到“等待确认付款”，我们会尽快做出确认。 </p>
  <%= image_tag "/assets/templates/footer/help/remittance_info.png" %>
  <h2>3．在线支付</h2>
  <p>订单在得到系统确认以后，如果您选择在线支付，系统会如下面界面提示您进行在线支付，如果订单未支付3个工作日以上我们会致电进行确认。
    未支付的订单有可能被取消敬请谅解。</p>
  <img width="484" height="130" src="../images/sta1_wps_clip_image-2051.jpg">
  <%= image_tag "/assets/templates/footer/help/alipay.png" %>
  <p>点击付款以后进入网上支付平台。目前壹美壹家支持的网上支付方式是支付宝<%= image_tag "/assets/templates/footer/help/alipay_logo.png" %>支持大
    部分银行借记卡及信用卡，具体信息请参考支付宝<a href="../https://www.alipay.com">https://www.alipay.com</a>。在下面
    的界面中选择网上银行付款，或者使用支付宝余额付款、“支付宝卡通”付款、或者网点付款。</p>
  <p>目前各银行对于网上支付均有一定金额的限制，由于各银行政策不同，建议您在申请网上支付功能时向银行咨询相关事宜。</p>

  <p>当您完成网上在线支付过程后，系统应提示支付成功，壹美壹家的订单状态自动变更为“等待检货出库”，此时订单不能再修改。</p>
  <p>如果出现信用卡超额透支、存折余额不足、意外断线等导致支付不成功，请您登录订单页面，找到该张未支付成功的订单，重新完成支付。</p>

  <%= image_tag "/assets/templates/footer/help/sta1_wps_clip_image-22731.jpg" %>
</div>