<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 用户资料</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">用户资料</h2>
  <h3>基本信息</h3>
  <p class="p_t">用户名：</p>
  <p><%= @user.login_no %></p>
  <p class="p_t">企业名称：</p>
  <p><%= @user.company_extend.company_name %></p>
  <p class="p_t">所属行业：</p>
  <p><%= @user.company_extend.industry.name %></p>
  <p class="p_t">公司性质：</p>
  <p><%= @user.company_extend.company_type.name %></p>
  <p class="p_t">公司规模：</p>
  <p><%= get_company_scale_name @user.company_extend %></p>
  <h3>联系方式</h3>
  <p class="p_t">联系人姓名：</p>
  <p><%= @user.company_extend.name %></p>
  <p class="p_t">称呼：</p>
  <p><%= format_value @user.company_extend.sex, { 1 => "先生", 2 => "女士"} %></p>
  <p class="p_t">联系人部门：</p>
  <p><%= @user.company_extend.contact_post %></p>
  <p class="p_t">联系人职位：</p>
  <p><%= @user.company_extend.contact_dept %></p>
  <p class="p_t">固定电话：</p>
  <p><%= @user.company_extend.phone %></p>
  <p class="p_t">移动电话：</p>
  <p><%= @user.company_extend.mobile %></p>
  <p class="p_t">传真号码：</p>
  <p><%= @user.company_extend.fax %></p>
  <p class="p_t">电子邮箱：</p>
  <p><%= @user.email %></p>
  <p class="p_t">公司网址：</p>
  <p><%= @user.company_extend.web_address %></p>

  <p class="p_t">默认区域：</p>
  <p><%= @user.company_extend.district.address %></p>
  <p class="p_t">默认地址：</p>
  <p><%= @user.company_extend.address %></p>
  <p class="p_t">默认邮编：</p>
  <p><%= @user.company_extend.zip %></p>
  <br />
  <button type="button" class="handler" onclick="window.location.href='<%= edit_e_user_info_user_user_centers_path %>'">修改企业信息</button>
</div>