<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 收货地址 >> 新建地址</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">新建常用收货地址</h2>
  <%= form_for @user_address, :url => create_user_address_user_user_centers_path, :html => {:id => "user_address_form"} do |f|%>
    <p>
      <label>收件人姓名：</label>
      <%= f.text_field :name %>
      <span id="user_address_nameTip"></span>
    </p>
    <p>
      <label>所属区域：</label>
      <%= raw address(@user_address.district,"user_address") %>
      <span id="user_address_district_noTip"></span>
    </p>
    <p>
      <label>送货地址：</label>
      <%= f.text_field :address, :class => "input_width_220" %>
      <span id="user_address_addressTip"></span>
    </p>
    <p>
      <label for="area_num">固定电话：</label>
      <%= f.text_field :phone %>
      <span id="user_address_phoneTip"></span>
    </p>
    <p>
      <label for="cellphone">移动电话：</label>
      <%= f.text_field :mobile %>
      <span id="user_address_mobileTip"></span>
    </p>
    <p>
      <label for="email">电子邮件：</label>
      <%= f.text_field :email %>
      <span class="onShow">用来接收订单提醒邮件，便于您及时了解订单状态</span>
    </p>
    <p>
      <label for="post">邮政编码：</label>
      <%= f.text_field :zip %>
      <span class="onShow">有助于快速确定送货地址</span>
    </p>
    <br />
    <%= f.submit "保存常用地址", :class => "handler", :id => "user_address_commit" %>
  <% end %>

</div>