<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 订单详情</p>

<div id="order_brief">
  <p>订单号：<%= @order.number %></p>
  <p>状态：<%= @order.instance.station.display_name %></p>
</div>

<table class="order_sku_details">
  <caption>
    商品明细：<em><%= get_sku_type(@order) %></em>
    订单状态：<em><%= @order.instance.station.display_name %></em>
  </caption>
  <thead>
    <tr>
      <th>商品编号</th>
      <th>商品名称</th>
      <th>单价</th>
      <th>数量</th>
      <th>安装</th>
      <th>安装费用</th>
      <th>组装</th>
      <th>组装费用</th>
      <th>小计</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.sku.number %></td>
        <td><%= order_detail.sku.name %></td>
        <td><em><%= number_to_currency order_detail.promotion_unit_price, :unit => "￥" %></em></td>
        <td><%= order_detail.quantity %></td>
        <td><%= format_boolean order_detail.is_need_install %></td>
        <td><em><%= number_to_currency order_detail.promotion_installation_cost, :unit => "￥" %></em></td>
        <td><%= format_boolean order_detail.is_need_assemble %></td>
        <td><em><%= number_to_currency order_detail.promotion_assembling_fee, :unit => "￥" %></em></td>
        <td><em><%= number_to_currency order_detail.promotion_subtotal, :unit => "￥" %></em></td>
      </tr>
    <% end %>
    <% @order.promotion_gifts.each do |gift| %>
      <tr>
        <td>赠品</td>
        <td><%= gift.sku.name %></td>
        <td><em><%= number_to_currency 0, :unit => "￥" %></em></td>
        <td><%= gift.amount %></td>
        <td></td>
        <td><em><%= number_to_currency 0, :unit => "￥" %></em></td>
        <td></td>
        <td><em><%= number_to_currency 0, :unit => "￥" %></em></td>
        <td><em><%= number_to_currency 0, :unit => "￥" %></em></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="11">
        商品总价：
        <i class="cny"><%= number_to_currency @order.promotion_sku_price, :unit => "￥" %></i> +
        安装费：
        <i class="cny"><%= number_to_currency @order.promotion_installation_cost, :unit => "￥" %></i> +
        组装费：
        <i class="cny"><%= number_to_currency @order.promotion_assembling_fee, :unit => "￥" %></i> +
        其他费用：
        <i class="cny"><%= number_to_currency @order.other_cost, :unit => "￥" %></i>
      </td>
    </tr>
    <tr>
      <td colspan="11">运费：<i class="cny"><%= number_to_currency @order.promotion_carriage_adjustment, :unit => "￥" %></i></td>
    </tr>
    <tr>
      <td colspan="11">
        <strong>应支付金额：</strong>
        <i class="cny"><%= number_to_currency @order.promotion_price, :unit => "￥" %></i>
      </td>
    </tr>
  </tfoot>
</table>

<div id="order_info_review">
  <h2>订单其他信息预览</h2>
  <p>收件人姓名：<%= @order.name %></p>
  <p>所属区域： <%= @order.district.city.province.name %>&nbsp;
              <%= @order.district.city.name %>&nbsp;
              <%= @order.district.name %>
  </p>
  <p>送货地址： <%= @order.address %></p>
  <p>固定电话： <%= @order.phone %></p>
  <p>移动电话： <%= @order.mobile %></p>
  <p>电子邮件： <%= @order.email %></p>
  <p>邮政编码： <%= @order.zip %></p>
  <hr />
  <p>支付方式： <%= @order.instance.procedure.display_name %></p>
  <hr />
  <% if @order.invoice_type == 0 %>
    <p>发票类型：普通</p>
    <hr />
    <% if @order.is_invoice_head == 0 %>
      <p>开票抬头：个人</p>
    <% else %>
      <p>开票抬头：单位</p>
      <p>单位名称：<%= @order.company_name %></p>
    <% end %>

  <% elsif @order.invoice_type == 1 %>
    <p>发票类型：增值税发票</p>
    <hr />
    <% if @order.is_invoice_head == 0 %>
      <p>开票抬头：个人</p>
    <% else %>
      <p>开票抬头：单位</p>
      <p>单位名称：<%= @order.company_name %></p>
    <% end %>
    <hr />
    <p>开户银行：<%= @order.account_bank %></p>
    <p>开户名称：<%= @order.account_person_name %></p>
    <p>注册电话：<%= @order.account_phone %></p>
    <p>银行帐号：<%= @order.account_no %></p>
    <p>增值税登记号：<%= @order.added_value_tax_no %></p>
    <p>注册地址：<%= @order.account_reg_add %></p>
  <% else %>
    <p>发票类型：不需要</p>
  <% end %>
  <hr />
  <p>
    订单备注：<%= @order.inner_note %>
  </p>
</div>
