<h1>Listing company_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sequence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_types.each do |company_type| %>
  <tr>
    <td><%= company_type.name %></td>
    <td><%= company_type.sequence %></td>
    <td><%= link_to 'Show', company_type %></td>
    <td><%= link_to 'Edit', edit_company_type_path(company_type) %></td>
    <td><%= link_to 'Destroy', company_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company type', new_company_type_path %>
