<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company_type.name %>
</p>

<p>
  <b>Sequence:</b>
  <%= @company_type.sequence %>
</p>


<%= link_to 'Edit', edit_company_type_path(@company_type) %> |
<%= link_to 'Back', company_types_path %>
