<div id="show_info">
  <h1>会员角色信息查看</h1>
  <ul>
    <li>
      <label><%= t 'attributes.role.number' %></label>
      <span><%= @role.number %></span>
    </li>
    <li>
      <label><%= t 'attributes.role.name' %></label>
      <span><%= @role.name %></span>
    </li>
    <li>
      <label><%= t 'attributes.role.description' %></label>
      <span><%= @role.description %></span>
    </li>
    <li>
      <label><%= t 'attributes.role.is_reserve' %></label>
      <span><%= { false => "否", true => "是" }[@role.is_reserve] %></span>
    </li>
    <li class="margin_top_20">
      <%= link_to "返回", admin_roles_path, :class => "left20" %>
      <%= link_to "修改", edit_admin_role_path(@role) if can? :update, Role %>
    </li>
  </ul>
</div>










