<div class="form-actions">
  <%= link_to "<i class='icon-edit'></i> 修改".html_safe, edit_admin_role_path(@role), :class => "btn btn-primary" if can? :update, Role %>
  <%= link_to "<i class='icon-arrow-left'></i> 返回".html_safe, admin_roles_path, :class => "btn pull-right" %>
</div>

<form class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label"><%= t 'attributes.role.number' %></label>
      <div class="controls">
        <span class="uneditable-input"><%= @role.number %></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= t 'attributes.role.name' %></label>
      <div class="controls">
        <span class="uneditable-input"><%= @role.name %></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= t 'attributes.role.description' %></label>
      <div class="controls">
        <span class="uneditable-input"><%= @role.description %></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= t 'attributes.role.is_reserve' %></label>
      <div class="controls">
        <span class="uneditable-input"><%= { false => "否", true => "是" }[@role.is_reserve] %></span>
      </div>
    </div>
  </fieldset>
</form>











