<%= render :partial => "taurus/admin/shared/product_tabs", :locals => { :current => "images" } %>

<table class="table table-striped">
  <thead>
    <tr>
    	<th>#</th>
      <th><%= t('activerecord.attributes.taurus/product_image.image') %></th>
      <th><%= t('activerecord.attributes.taurus/product_image.is_main') %></th>
      <th><%= t('activerecord.attributes.taurus/product_image.updated_at') %></th>
      <th><%= t('admin.misc.operation') %></th>
   </tr>
  </thead>
  <tbody id="line_items">
    <% @product.product_images.each_with_index do |product_image,index| %>
	    <tr>
	    	<td><%= index+1 %></td>
	      <td><%= image_tag product_image.image.url(:s50) %></td>
	      <td><%= format_boolean product_image.is_main %></td>
	      <td><%= product_image.updated_at %></td>
	      <td>
	      	<%= link_to t('admin.actions.edit.menu'), edit_admin_product_product_image_path(@product,product_image), :class => "btn btn-primary trk-btn-short" %>
	      	<%= link_to t('admin.actions.delete.menu'), admin_product_product_image_path(@product,product_image), :method => :delete, :confirm => t('admin.actions.delete.confirm'), :class => "btn btn-primary trk-btn-short" %>
	      </td>
	    </tr>
	  <% end %>
  </tbody>
</table>

<%= simple_form_for([:admin, @product, @product_image], :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
		<fieldset>
			<%= image_tag @product_image.image.url(:s120)  if @product_image.id %>
      <%= f.input :image %>
      <%= f.input :is_main %>      
		</fieldset>
    
    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
<% end %>