<%= render :partial => "taurus/admin/shared/product_tabs", :locals => { :current => "images", :type => "show" } %>

<ul class="thumbnails">
  <% @product.product_images.each do |product_image| %>
    <li class="span3">
      <div class="thumbnail">
        <%= image_tag product_image.image.url(:small) %>

        <% if product_image.is_main %>
          <div class="caption">
            <h4>
              <%= @product.name %>
            </h4>  
            <p>
              <%= t('activerecord.attributes.taurus/product.market_price') %> ：
              <%= format_price @product.market_price %>
            </p>
            <p>
              <%= t('activerecord.attributes.taurus/product.price_after_tax') %> : 
              <%= format_price @product.price_after_tax %>
            </p>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>