<h1>库存查看</h1>

<div id="show_info">
  <%= search_form_for [:admin,@search] do |f| %>
    <ul class="list_info">
      <li>
        <%= f.label '仓库' %>
        <%= f.select :store_id_eq, Store.all.collect{ |s| [s.name,s.id]} %>
      </li>
      <li>
        <%= f.label '商品编号' %>
        <%= f.text_field :product_product_id_cont %>
      </li>
      <li>
        <%= f.label '商品名称' %>
        <%= f.text_field :product_name_cont %>
        <%= f.submit '搜索'%>
      </li>
    </ul>
  <% end %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>素材商品编号</th>
      <th>素材商品名称</th>
      <th>素材商品规格</th>
      <th>素材商品型号</th>
      <th>素材商品颜色</th>
      <th>库位</th>
      <th>库存数量</th>
      <th>缺货数量</th>
      <th>销售预留数量</th>
    </tr>
  </thead>
  <tbody>
  <% @product_storeships.each_with_index do |product_storeship,index| %>
    <tr class="<%= set_odd_even_class index %>">
      <td><%= index+1 %></td>
      <td><%= (can? :read, Product) ? (link_to product_storeship.product.product_id, admin_product_path(product_storeship.product_id)) : product_storeship.product.product_id %></td>
      <td><%= product_storeship.product.name %></td>
      <td><%= product_storeship.product.specification %></td>
      <td><%= product_storeship.product.model %></td>
      <td><%= product_storeship.product.color %></td>
      <td><%= product_storeship.store_position %></td>
      <td><%= product_storeship.quantity %></td>
      <td><%= product_storeship.stockout %></td>
      <td><%= product_storeship.sales_reserved %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
   <tr>
     <td colspan="10"><%= will_paginate @product_storeships %></td>
   </tr>
  </tfoot>
</table>



