<div class="well">
  <% if type == "show" %>
    <a href="<%= edit_admin_product_path(@product) %>" class="btn btn-primary" id="update_tag">
      <i class='icon-edit'></i>
      <%= t('admin.actions.edit.menu') %>
    </a>
  <% end %>

  <%= link_to "#{content_tag(:i, '', :class => "icon-arrow-left")} #{t('admin.misc.back')}".html_safe, 
              @product.product_type == 0 ? admin_products_path : admin_products_path(:'q[product_type_eq]' => 1), 
              :class => "btn pull-right" %>
</div>

<%= simple_form_for(@product, :url => "#", :html => {:class => 'form-horizontal'}) do |f| %>
  <fieldset>
    <div class="row">
      <div class="span5">
        <%= f.input :number, :disabled => true %>
        <%= f.input :product_category_name, :disabled => true %>
      </div>
      <div class="span5">
        <%= f.input :name, :disabled => true %>
        <%= f.input :price_after_tax, :disabled => true %>
      </div>
    </div>
  </fieldset>
<% end %>

<ul class="nav nav-tabs">
  <li <%== 'class="active"' if current == "details" %>>
    <%= link_to t('admin.misc.product.details'), 
                type == "show" ? admin_product_path(@product) : edit_admin_product_path(@product) %>
  </li>
  <li <%== 'class="active"' if current == "custom_properties" %>>
  	<%= link_to t('admin.misc.product.custom_properties'), 
                type == "show" ? admin_product_custom_property_value_path(@product,0) : 
                                 admin_product_custom_property_values_path(@product) %>
  </li>
  <li <%== 'class="active"' if current == "images" %>>
  	<%= link_to t('admin.misc.product.images'), 
                type == "show" ? admin_product_product_image_path(@product,0) : 
                                 admin_product_product_images_path(@product) %>
  </li>
  <% if @product.product_type == 1 %>
    <li <%== 'class="active"' if current == "combined" %>>
      <%= link_to t('admin.misc.product.combined_products'), 
                  type == "show" ? admin_product_combined_products_path(@product) : 
                                   edit_admin_product_combined_product_path(@product, 0) %>
    </li>
  <% end %>
  <li <%== 'class="active"' if current == "sales" %>>
    <%= link_to t('admin.misc.product.sales_status'), 
                type == "show" ? show_sales_status_admin_product_path(@product) : 
                                 edit_sales_status_admin_product_path(@product) %>
  </li>
</ul>

<%= flash_messages %>