<%= form_for([:admin,@ordering_company]) do |f| %>
  <% if @ordering_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordering_company.errors.count, "error") %> prohibited this ordering_company from being saved:</h2>

      <ul>
      <% @ordering_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label '状态' %>
    <%= f.radio_button :active , false %>
    <%= f.label '关闭' %>
    <% if @ordering_company.id.nil? %>
      <%= f.radio_button :active , true, :checked => true %>
    <% else %>
      <%= f.radio_button :active , true%>
    <% end %>
    <%= f.label '激活' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
