<h1>Listing ordering_companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ordering_companies.each do |ordering_company| %>
  <tr>
    <td><%= ordering_company.name %></td>
    <td><%= ordering_company.address %></td>
    <td><%= ordering_company.phone %></td>
    <td><%= link_to 'Show', admin_ordering_company_path(ordering_company) %></td>
    <td><%= link_to 'Edit', edit_admin_ordering_company_path(ordering_company) %></td>
    <td><%= link_to 'Destroy', admin_ordering_company_path(ordering_company), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建订货公司', new_admin_ordering_company_path %>
