<%= form_for([:admin,@esc]) do |f| %>
  <% if @esc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@esc.errors.count, "error") %> prohibited this esc from being saved:</h2>

      <ul>
      <% @esc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number, :readonly=>true %>
  </div>
  <div class="field">
    <%= f.label :esc_category_id %><br />
    <%= f.select :esc_category_id,EscCategory.all(:order => "sequence").collect {|p| [ p.name, p.id ] } %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, "<option value='1'>已升级</option><option value='2'>已解决</option><option value='3'>已回复</option>" %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :not_registration_user_info %><br />
    <%= f.text_field :not_registration_user_info %>
  </div>
  <div class="field">
    <%= f.label :user_other_info %><br />
    <%= f.text_field :user_other_info %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
