<h1>升级单</h1>

<div class="grid_button">
  <%= link_to '新建升级单', new_admin_esc_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>编号</th>
      <th>主题</th>
      <th>类型</th>
      <th>状态</th>
      <th>订单编号</th>
      <th>会员编号</th>
      <th>会员用户名</th>
      <th>记录人</th>
      <th>录入时间</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @escs.each_with_index do |esc,index| %>
  <tr class="<%= set_odd_even_class(index) %>">
    <td><%= index+1 %></td>
    <td><%= esc.number %></td>
    <td><%= esc.title %></td>
    <td><%= esc.esc_category.name %></td>
    <td><%= format_esc_status(esc.status) %></td>
    <td><%= esc.order_id %></td>
    <td><%= get_user_number(esc.user) %></td>
    <td><%= get_user_name(esc.user) %></td>
    <td><%= esc.user_other_info %></td>
    <td><%= esc.created_at %></td>
    <td><%= link_to 'Show', admin_esc_path(esc) %></td>
    <td><%= link_to 'Edit', edit_admin_esc_path(esc) %></td>
    <td><%= link_to 'Destroy', admin_esc_path(esc), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

