<%= simple_form_for(@prod_del_ordship) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :delivery_order_id %>
    <%= f.input :product_id %>
    <%= f.input :quantity %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
