<%= form_for([:admin,@product]) do |f| %>
  <%= error_messages @product %>

  <%= f.label :product_id %>
  <%= f.text_field :product_id %>

  <%= f.autocomplete_field :brand_name, autocomplete_brand_chinese_name_admin_brands_path, :id_element => '#product_brand_id'  %>
  <%= f.hidden_field :brand_id %>

  <%= f.label :unit %>
  <%= f.text_field :unit %>

  <%= f.label :delivery_days %>
  <%= f.text_field :delivery_days %>

  <%= f.label :cost_bef_tax %>
  <%= f.text_field :cost_bef_tax %>

  <%= f.label :model %>
  <%= f.text_field :model %>

  <%= f.label :color %>
  <%= f.text_field :color %>

  <%= f.label :barcode %>
  <%= f.text_field :barcode %>

  <%= f.label :manufacturer %>
  <%= f.text_field :manufacturer %>

  <%= f.label :shelf_life %>
  <%= f.text_field :shelf_life %>

  <%= f.label :wanrranty %>
  <%= f.text_field :wanrranty %>

  <%= f.label :origin %>
  <%= f.text_field :origin %>

  <%= f.label :is_green %>
  <%= f.collection_radio :is_green, [['false', '否'], ['true', '是']], :first, :second, :checked => 'false' %>

  <%= f.label :assembling_fee_bef_tax %>
  <%= f.text_field :assembling_fee_bef_tax %>

  <%= f.label :is_maintanable %>
  <%= f.collection_radio :is_maintanable, [['false', '否'], ['true', '是']], :first, :second, :checked => 'false' %>

  <%= f.label :maintenance_cost_aft_tax %>
  <%= f.text_field :maintenance_cost_aft_tax %>

  <%= f.label :installation_cost_bef_tax %>
  <%= f.text_field :installation_cost_bef_tax %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :product_category_name %>
  <%= f.autocomplete_field :product_category_name,
                          autocomplete_product_category_name_admin_product_categories_path,
                          :update_elements => {:id => '#product_product_category_id',
                          :number => '#product_product_category_number'}  %>
  <span style="font-weight: bold; color: #013DA4;">编号</span>
  <%= f.text_field :product_category_number, :class => "short_input_text"%>
  <input type="button" id="check_product_category_number" value="验证" />
  <% content_for :ready do %>
    jQuery("#check_product_category_number").click(function(){
      if(jQuery("#product_product_category_number").val().length != 9 ) return alert("请输入4级分类编号");
      jQuery.ajax({
         type: "get",
         url: "/admin/product_categories/check",
         data: { number: jQuery("#product_product_category_number").val() },
         dataType: "json",
         success: function(result) {
           if(result == "failure"){
             alert("编号不存在!");
           }else{
             jQuery("#product_product_category_id").val(result.id);
             jQuery("#product_product_category_number").val(result.number);
             jQuery("#product_product_category_name").val(result.name);
           }
         },
      });
    });
  <% end %>
  <%= f.hidden_field :product_category_id %>

  <%= f.label :specification %>
  <%= f.text_field :specification %>

  <%= f.label :delivery_descprition %>
  <%= f.text_field :delivery_descprition %>

  <%= f.label :cost_aft_tax %>
  <%= f.text_field :cost_aft_tax %>

  <%= f.label :size %>
  <%= f.text_field :size %>

  <%= f.label :can_on_behalf %>
  <%= f.collection_radio :can_on_behalf, [['false', '否'], ['true', '是']], :first, :second, :checked => 'false' %>

  <%= f.label :supplier_name %>
  <%= f.autocomplete_field :supplier_name, autocomplete_supplier_name_admin_suppliers_path, :id_element => '#product_supplier_id'  %>
  <%= f.hidden_field :supplier_id %>

  <%= f.label :have_shelf_life %>
  <%= f.collection_radio :have_shelf_life, [['1', '无保质期'], ['2', '按生产日期'],['3','按失效日期']], :first, :second, :checked => '1' %>

  <%= f.label :have_wanrranty %>
  <%= f.collection_radio :have_wanrranty, [['false','否'],['true','是']],  :first, :second, :checked => 'false' %>

  <%= f.label :wanrranty_description %>
  <%= f.text_field :wanrranty_description, :rows => 1, :cols => 25 %>

  <%= f.label :appendant %>
  <%= f.text_field :appendant %>

  <%= f.label :is_assembling_required %>
  <%= f.collection_radio :is_assembling_required, [['false', '否'], ['true', '是']], :first, :second, :checked => 'false' %>

  <%= f.label :assembling_fee_aft_tax %>
  <%= f.text_field :assembling_fee_aft_tax %>

  <%= f.label :maintenance_cost_bef_tax %>
  <%= f.text_field :maintenance_cost_bef_tax %>


  <%= f.label :is_installation_required %>
  <%= f.collection_radio :is_installation_required, [['false', '否'], ['true', '是']], :first, :second, :checked => 'false' %>

  <%= f.label :insatllation_cost_aft_tax %>
  <%= f.text_field :insatllation_cost_aft_tax %>


  <%= f.label :store %>
  <%=raw product_stores(@product)  %>

  <%= f.label :description %>
  <%= f.cktext_area :description, :toolbar=>'Full', :width=>'auto', :height=>'200px' %>

  <%= f.submit %>
<% end %>
