<h1>Listing product</h1>

<table>
  <tr>
    <th><%= t('attributes.product.product_id') %></th>
    <th><%= t('attributes.product.name') %></th>
    <th><%= t('attributes.product.unit') %></th>
    <th><%= t('attributes.product.brand_id') %></th>
    <th><%= t('attributes.product.specification') %></th>
    <th><%= t('attributes.product.model') %></th>
    <th><%= t('attributes.product.manufacturer') %></th>
    <th><%= t('attributes.product.update_time') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product.each do |product| %>
  <tr>
    <td><%= product.product_id %></td>
    <td><%= product.name %></td>
    <td><%= product.unit %></td>
    <td><%= product.brand_id %></td>
    <td><%= product.specification %></td>
    <td><%= product.model %></td>
    <td><%= product.manufacturer %></td>
    <td><%= product.update_time %></td>
    <td><%= link_to 'Show', admin_product_path(product) %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
    <td><%= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_admin_product_path %>