<h1>素材商品列表</h1>

<div class="attributes">
  <%= search_form_for [:admin,@search] do |f| %>
    <div class="split_content_left">
      <p>
        <%= f.label '商品编号' %>
        <%= f.text_field :product_id_cont %>
      </p>
    </div>
    <div class="split_content_right">
      <p>
        <%= f.label '商品名称' %>
        <%= f.text_field :name_cont %>
      </p>
      <p>
        <label>&nbsp;</label>
        <%= f.submit '查询'%>
      </p>
    </div>
    <div class="clear"></div>
  <% end %>
</div>

<div class="grid_button">
  <%= link_to '新建素材商品', new_admin_product_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th><%= t('attributes.product.product_id') %></th>
      <th><%= t('attributes.product.name') %></th>
      <th><%= t('attributes.product.unit') %></th>
      <th><%= t('attributes.product.brand_chinese_name') %></th>
      <th><%= t('attributes.product.specification') %></th>
      <th><%= t('attributes.product.model') %></th>
      <th><%= t('attributes.product.manufacturer') %></th>
      <th><%= t('attributes.product.updated_at') %></th>
      <th></th>
    </tr>
  </thead>

<% @products.each_with_index do |product,index| %>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td><%= product.product_id %></td>
    <td><%= product.name %></td>
    <td><%= product.unit %></td>
    <td><%= product.brand.chinese_name %></td>
    <td><%= product.specification %></td>
    <td><%= product.model %></td>
    <td><%= product.manufacturer %></td>
    <td><%= product.updated_at %></td>
    <td><%= link_to '修改', edit_admin_product_path(product) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @products %>