<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @product.product_id %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>brand_id:</b>
  <%= @product.brand_id %>
</p>

<p>
  <b>cost_bef_tax:</b>
  <%= @product.cost_bef_tax %>
</p>

<p>
  <b>cost_aft_tax:</b>
  <%= @product.cost_aft_tax %>
</p>

<p>
  <b>product_category_id:</b>
  <%= @product.product_category_id %>
</p>

<p>
  <b>unit:</b>
  <%= @product.unit %>
</p>

<p>
  <b>specification:</b>
  <%= @product.specification %>
</p>

<p>
  <b>delivery_days:</b>
  <%= @product.delivery_days %>
</p>

<p>
  <b>delivery_descprition:</b>
  <%= @product.delivery_descprition %>
</p>

<p>
  <b>model:</b>
  <%= @product.model %>
</p>

<p>
  <b>size:</b>
  <%= @product.size %>
</p>

<p>
  <b>description:</b>
  <%= @product.description %>
</p>

<p>
  <b>color:</b>
  <%= @product.color %>
</p>

<p>
  <b>barcode:</b>
  <%= @product.barcode %>
</p>

<p>
  <b>supplier_id:</b>
  <%= @product.supplier_id %>
</p>

<p>
  <b>manufacturer:</b>
  <%= @product.manufacturer %>
</p>

<p>
  <b>shelf_life:</b>
  <%= @product.shelf_life %>
</p>

<p>
  <b>have_wanrranty:</b>
  <%= @product.have_wanrranty %>
</p>

<p>
  <b>wanrranty:</b>
  <%= @product.wanrranty %>
</p>

<p>
  <b>wanrranty_description:</b>
  <%= @product.wanrranty_description %>
</p>

<p>
  <b>origin:</b>
  <%= @product.origin %>
</p>


<p>
  <b>appendant:</b>
  <%= @product.appendant %>
</p>

<p>
  <b>is_green:</b>
  <%= @product.is_green %>
</p>

<p>
  <b>is_assembling_required:</b>
  <%= @product.is_assembling_required %>
</p>

<p>
  <b>assembling_fee_bef_tax:</b>
  <%= @product.assembling_fee_bef_tax %>
</p>

<p>
  <b>assembling_fee_aft_tax:</b>
  <%= @product.assembling_fee_aft_tax %>
</p>

<p>
  <b>is_maintanable:</b>
  <%= @product.is_maintanable %>
</p>

<p>
  <b>maintenance_cost_bef_tax:</b>
  <%= @product.maintenance_cost_bef_tax %>
</p>

<p>
  <b>maintenance_cost_aft_tax:</b>
  <%= @product.maintenance_cost_aft_tax %>
</p>

<p>
  <b>installation_cost_bef_tax:</b>
  <%= @product.installation_cost_bef_tax %>
</p>

<p>
  <b>insatllation_cost_aft_tax:</b>
  <%= @product.insatllation_cost_aft_tax %>
</p>

<p>
  <b>create_time:</b>
  <%= @product.create_time %>
</p>

<p>
  <b>created_by:</b>
  <%= @product.created_by %>
</p>

<p>
  <b>update_time:</b>
  <%= @product.update_time %>
</p>

<p>
  <b>updated_by:</b>
  <%= @product.updated_by %>
</p>



<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
