<p id="notice"><%= notice %></p>

<p class="clear_both">
  <%= link_to '修改', edit_admin_product_path(@product) %> |
  <%= link_to '返回', admin_products_path %>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.product_id' %></b>
  <em><%= @product.product_id %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.name' %></b>
  <em><%= @product.name %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.brand_id' %></b>
  <em><%= @product.brand_id %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.cost_bef_tax' %></b>
  <em><%= @product.cost_bef_tax %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.cost_aft_tax' %></b>
  <em><%= @product.cost_aft_tax %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.product_category_id' %></b>
  <em><%= @product.product_category_id %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.unit' %></b>
  <em><%= @product.unit %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.specification' %></b>
  <em><%= @product.specification %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.delivery_days' %></b>
  <em><%= @product.delivery_days %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.delivery_descprition' %></b>
  <em><%= @product.delivery_descprition %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.model' %></b>
  <em><%= @product.model %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.size' %></b>
  <em><%= @product.size %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.description' %></b>
  <em><%= @product.description %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.color' %></b>
  <em><%= @product.color %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.barcode' %></b>
  <em><%= @product.barcode %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.supplier_id' %></b>
  <em><%= @product.supplier_id %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.manufacturer' %></b>
  <em><%= @product.manufacturer %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.shelf_life' %></b>
  <em><%= @product.shelf_life %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.have_wanrranty' %></b>
  <em><%= @product.have_wanrranty %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.wanrranty' %></b>
  <em><%= @product.wanrranty %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.wanrranty_description' %></b>
  <em><%= @product.wanrranty_description %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.origin' %></b>
  <em><%= @product.origin %></em>
</p>


<p class="col_left">
  <b><%= t 'activerecord.attributes.product.appendant' %></b>
  <em><%= @product.appendant %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.is_green' %></b>
  <em><%= @product.is_green %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.is_assembling_required' %></b>
  <em><%= @product.is_assembling_required %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.assembling_fee_bef_tax' %></b>
  <em><%= @product.assembling_fee_bef_tax %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.assembling_fee_aft_tax' %></b>
  <em><%= @product.assembling_fee_aft_tax %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.is_maintanable' %></b>
  <em><%= @product.is_maintanable %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.maintenance_cost_bef_tax' %></b>
  <em><%= @product.maintenance_cost_bef_tax %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.maintenance_cost_aft_tax' %></b>
  <em><%= @product.maintenance_cost_aft_tax %></em>
</p>

<p class="col_left">
  <b><%= t 'activerecord.attributes.product.installation_cost_bef_tax' %></b>
  <em><%= @product.installation_cost_bef_tax %></em>
</p>

<p class="col_right">
  <b><%= t 'activerecord.attributes.product.insatllation_cost_aft_tax' %></b>
  <em><%= @product.insatllation_cost_aft_tax %></em>
</p>


<p class="col_left">
  <b><%= t 'activerecord.attributes.product.created_by' %></b>
  <em><%= @product.created_by %></em>
</p>


<p class="col_right">
  <b><%= t 'activerecord.attributes.product.updated_by' %></b>
  <em><%= @product.updated_by %></em>
</p>


<p class="clear_both">
  <%= link_to '修改', edit_admin_product_path(@product) %> |
  <%= link_to '返回', admin_products_path %>
</p>

