<div id="show_info">
  <h1>普通入库记录</h1>
  <ul>
    <li>
      <a href="#" onclick="return window.close()" class="longbtn">关闭页面</a>
      <br />
      <hr />
    </li>
    <li>
      <%= symbol_label "入库记录编号" %>
      <span><%= @store_entry.number %></span>
    </li>
    <li>
      <%= symbol_label "入库时间" %>
      <span><%= @store_entry.created_at %></span>
    </li>
    <li>
      <%= symbol_label "操作人" %>
      <span><%= @store_entry.administrator.name %></span>
      <hr />
    </li>
    <li>
      <%= symbol_label "收货仓库" %>
      <span><%= @store_entry.store.name %></span>
    </li>
    <li>
      <%= symbol_label "入库类型" %>
      <span><%= StoreEntry::STORE_IN_TYPE[@store_entry.store_in_type] %></span>
    </li>
  </ul>

  <hr />

  <table>
    <caption>商品列表</caption>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t 'activerecord.attributes.product.product_id' %></th>
        <th><%= t 'activerecord.attributes.product.name' %></th>
        <th><%= t 'activerecord.attributes.product.specification' %></th>
        <th><%= t 'activerecord.attributes.product.unit' %></th>
        <th>本次入库数量</th>
        <th>库存</th>
      </tr>
    </thead>
    <tbody>
    <% @store_entry.product_store_entryships.each_with_index do |product_store_entry,index| %>
      <tr class="<%= cycle "odd","even" %>">
        <td><%= index+1 %></td>
        <td><%= product_store_entry.product.product_id %></td>
        <td><%= product_store_entry.product.name %></td>
        <td><%= product_store_entry.product.specification %></td>
        <td><%= product_store_entry.product.unit %></td>
        <td><%= product_store_entry.quantity %></td>
        <td><%= product_store_entry.product.inventory(@store_entry.store_id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <hr />

  <ul>
    <li>
      <%= symbol_label "备注" %>
      <span><%= @store_entry.note %></span>
    </li>
  </ul>

  <hr />
  <a href="#" onclick="return window.close()" class="longbtn">关闭页面</a>
</div>