var error = "<%= @error %>";
if(error != ""){
  alert(error);
}else{
  str = '<% @back_order_skus.each_with_index do |cart,index| %>'+
          '<tr class="<%= set_odd_even_class(index) %>" group="<%= index %>" id="back_order_sku<%= cart.id %>">'+
            '<td><%= index+1 %></td>'+
            '<td><%= cart.sku.number %></td>'+
            '<td><%= cart.sku.name.gsub("\n", "") %></td>'+
            '<td><%= cart.sku.unit %></td>'+
            '<td><%= cart.sku.cost_aft_tax %></td>'+
            '<td><%= text_field_tag :quantity, cart.quantity, :size => 3, :class=> "back_order_sku_quantity", :id => "#{cart.id}" %></td>'+
            '<td><%= cart.sku.insatllation_cost_aft_tax %></td>'+
            '<td><%= cart.sku.assembling_fee_aft_tax %></td>'+
            '<td><%= cart.subtotal %></td>'+
            '<td><%= link_to "删除", order_back_order_sku_path(cart), :confirm => "确定删除?", :method => :delete, :remote => true %></td>'+
          '</tr>'+
        '<% end %>'+
        '<tr><td colspan="10" align="right" id="total_amount">总计:<%= number_to_currency @back_order_skus.to_a.sum{ |sku| sku.subtotal }, :unit => "￥" %></td></tr>';
  jQuery("#back_order_skus").html(str);

  jQuery(".back_order_sku_quantity").change(function() {
    jQuery.ajax({url: "/order/back_order_skus/"+this.id,
                type: "put",
                data: 'value=' + this.value
                })
    });

  $("[group]").hover(function(){
    $("[group='"+$(this).attr('group')+"']").addClass("highlight");
  },function(){
    $("[group='"+$(this).attr('group')+"']").removeClass("highlight");
  });
}
