
$("#sku_carts").html('<% @inner_sku_carts.each_with_index do |cart,index| %><tr class="<%= set_odd_even_class(index) %>" group="<%= index %>"><td><%= index+1 %></td><td><%= cart.sku.number %></td><td><%= cart.sku.name %></td><td><%= cart.sku.unit %></td><td><%= cart.sku.cost_aft_tax %></td><td><%= text_field_tag :quantity, cart.quantity, :size => 3, :class=> "inner_sku_cart_quantity", :id => "#{cart.id}" %></td><td><%= cart.sku.insatllation_cost_aft_tax %></td><td><%= cart.sku.assembling_fee_aft_tax %></td><td><%= cart.sku.delivery_day %></td><td><%= cart.quantity*cart.sku.cost_aft_tax %></td><td><%= link_to '删除', admin_inner_sku_cart_path(cart), :confirm => '确定删除?', :method => :delete, :remote => true %></td></tr><% end %>');

$(".inner_sku_cart_quantity").change(function() {
  $.ajax({url: "/admin/inner_sku_carts/"+this.id,
          type: "put",
          data: 'value=' + this.value,
          dataType: 'script'})
  });

$("[group]").hover(function(){
  $("[group='"+$(this).attr('group')+"']").addClass("highlight");
},function(){
  $("[group='"+$(this).attr('group')+"']").removeClass("highlight");
});