<%= render :partial => "taurus/admin/shared/order_tabs", 
           :locals => { :current => "payment", :type => "edit" } %>


<%= simple_form_for @order_payment, :url => admin_order_order_payment_path(@order, @order_payment), 
                    :html => { :class => "form-horizontal" } do |f| %>
  <fieldset>
  	<%= f.association :payment_method, :input_html => {:class => "span2"}, :disabled => true %>
  	
    <%= f.input :receipt_type, :collection => Taurus::OrderPayment::RECEIPT_TYPE, 
                   :value_method => :first, :label_method => :second,
                   :item_wrapper_class => 'inline', :as => :radio %>

    <div id="receipt">
      <% if @order_payment.receipt_type >= 2 %>
        <%= f.input :receipt_title, :input_html => {:class => "span2"} %>
      <% end %>

      <% if @order_payment.receipt_type > 2 %>
        <%= f.input :bank_name, :input_html => {:class => "span2"} %>
        <%= f.input :company_name, :input_html => {:class => "span2"} %>
        <%= f.input :bank_account, :input_html => {:class => "span2"} %>
        <%= f.input :vat_number, :input_html => {:class => "span2"} %>
        <%= f.input :registered_telephone, :input_html => {:class => "span2"} %>
        <%= f.input :registered_address, :input_html => {:class => "span2"} %>
      <% end %>
   
    </div>

    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>


    <script type="text/javascript">
      $("#order_payment_receipt_type_0").click(function(){
        $("#receipt").html("");
      });

      $("#order_payment_receipt_type_1").click(function(){
        $("#receipt").html("");
      });

      $("#order_payment_receipt_type_2").click(function(){
        $("#receipt").html('<%= f.input :receipt_title, :required => true %>');
      });

      $("#order_payment_receipt_type_3").click(function(){
        $("#receipt").html('<%= j(
          (f.input :receipt_title, :required => true)+
          (f.input :bank_name, :required => true)+
          (f.input :company_name, :required => true)+
          (f.input :bank_account, :required => true)+
          (f.input :vat_number, :required => true)+
          (f.input :registered_telephone, :required => true)+
          (f.input :registered_address, :required => true)
        ) %>');
      });

      $("#order_payment_receipt_type_<%= @order_payment.receipt_type %>").click();
    </script>

  </fieldset>
<% end %>