<p class="nav">您的位置：首页 >> 我的壹美壹家 >> 重设密码</p>
<div id="uc_menu_wrapper">
  <%= render "menu" %>
</div>

<div id="uc_content_wrapper">
  <h2 class="title">重设您的密码</h2>
  <!--在这里插入Notification 开始-->

  <!--
  <div class="failed">
    密码设置成功！请重新登陆
  </div>
  <div class="successful">
    密码设置成功！请重新登陆
  </div>
  -->

  <!--在这里插入Notification 结束-->
  <%= form_tag update_pwd_user_user_centers_path, :method => :put do |f| %>
    <p>
      <label for="old_password">当前密码：</label>
      <%= password_field_tag :current_password %>
    </p>
    <p>
      <label for="new_password">新设密码：</label>
      <%= password_field_tag :password %>
    </p>
    <p>
      <label for="confirm_new_password">确认新设密码：</label>
      <%= password_field_tag :password_confirmation %>
    </p>

    <button type="submit" class="handler">修改密码</button>
    <button type="button" class="handler">取消</button>

  <% end %>
</div>