<%= form_for [:admin,@customer_rating] do |f| %>
  <div id="show_info">
    <%= error_messages @customer_rating %>
    <h1>回复评论</h1>
    <ul>
      <li>
        <label><%= t 'activerecord.attributes.sku.number' %></label>
        <span><%= @customer_rating.sku.number %></span>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.sku.name' %></label>
        <span><%= @customer_rating.sku.name %></span>
        <hr />
      </li>
      <li>
        <label><%= t 'activerecord.attributes.user.number' %></label>
        <span><%= @customer_rating.user.number %></span>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.user.name' %></label>
        <span><%= @customer_rating.user.name %></span>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.customer_rating.rating' %></label>
        <span><%= @customer_rating.rating %>分</span>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.customer_rating.comment' %></label>
        <span><%= @customer_rating.comment %></span>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.customer_rating.created_at' %></label>
        <span><%= @customer_rating.created_at %></span>
        <hr />
      </li>
      <li>
        <label><%= t 'activerecord.attributes.customer_rating.administrator_id' %><abbr title="required">*</abbr></label>
        <span><%= current_administrator.name %></span>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.customer_rating.reply' %><abbr title="required">*</abbr></label>
        <%= f.text_area :reply, :cols => 80, :rows => 5 %>
      </li>
      <li>
        <%= f.submit "提交" %>
      </li>
    </ul>
  </div>
<% end %>
