<div id="main">
  <div id="main_menu_wrapper">
    <%= render "home/category" %>
  </div>

  <div id="slider_bar">
    <%= render "content/slider_bars/slider_bar" %>
  </div>

  <div id="level_2_banner_wrapper">
    <div id="level_2_banner">
    <!-- Insert the Banner for level 2 pages here -->
      <%= image_cms(0, :width => "208px", :height => "200px") %>
    </div>

    <div id="banner_1">
      <%= image_cms(1, :width => "208px", :height => "130px") %>
    </div>
  </div>

  <div id="banner_2">
    <%= render "home/browsing_histories" %>
  </div>

  <div id="banner_3">
    <%= render "home/recommendation" %>
  </div>

  <div id="banner_4">
    <%= image_cms(2, :width => "208px", :height => "130px") %>
  </div>

  <div id="banner_5">
    <%= image_cms(3, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 1st SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">酒类</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3610) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(4, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @alcohol_skus, :hot => @alcohol_hots %>
  </div>
  <!-- 1st SKU List Ends -->

  <!-- 2nd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">饮料</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2838) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(5, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @beverages_skus, :hot => @beverages_hots %>

  </div>
  <!-- 2nd SKU List Ends -->

  <div id="banner_6">
    <%= image_cms(6, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 3rd SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">食品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2914) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(7, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @food_skus, :hot => @food_hots %>

  </div>
  <!-- 3rd SKU List Ends -->

  <!-- 4th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">饮料用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2951) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(8, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @beverage_prod_skus, :hot => @beverage_prod_hots %>

  </div>
  <!-- 4th SKU List Ends -->

  <div id="banner_7">
    <%= image_cms(9, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 5th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">生活用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(2998) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(10, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @daily_skus, :hot => @daily_hots %>

  </div>
  <!-- 5th SKU List Ends -->

  <!-- 6th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">健康管理用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3094) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(11, :width => "220px", :height => "369px") %>
    </div>

   <%= render "home/category_skus", :object => @heal_man_sup_skus, :hot => @heal_man_sup_hots %>

  </div>
  <!-- 6th SKU List Ends -->

  <div id="banner_8">
    <%= image_cms(12, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 7th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">个人护理</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3583) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(13, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @personal_care_skus, :hot => @personal_care_hots %>

  </div>
  <!-- 7th SKU List Ends -->

  <!-- 8th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">票务类</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3661) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(14, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @ticketing_skus, :hot => @ticketing_hots %>

  </div>
  <!-- 8th SKU List Ends -->

  <div id="banner_9">
    <%= image_cms(15, :width => "1000px", :height => "60px") %>
  </div>

  <!-- 9th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">其他办公生活用品</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3112) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(16, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @other_office_daily_skus, :hot => @other_office_daily_hots %>

  </div>
  <!-- 9h SKU List Ends -->

  <!-- 10th SKU List Starts -->
  <div class="sku_category">
    <h2 class="bar_image_1000 bar_indent_8">生活家电</h2>

    <div class="category_recommend"> <!-- SKU List's recommended products on the bar -->
      <ul class="h_ul">
        <li class="h_li"><%= link_to "更多…", commodity_category_path(3556) %></li>
      </ul>
    </div>

    <div class="sku_list_left_col"> <!--SKU List's left column -->
      <%= image_cms(17, :width => "220px", :height => "369px") %>
    </div>

    <%= render "home/category_skus", :object => @appliances_skus, :hot => @appliances_hots %>

  </div>
  <!-- 10th SKU List Ends -->

</div>
