<div id="sku_details_wrapper">
  <p class="sku_details_nav">您的位置：
    <a href="/">首页</a> >>
    <%=raw current_category_site %>
    <%= @sku.name %>
  </p>
  <h1><%= @sku.name %></h1>
  <div id="sku_details_picture">
    <a href="<%= @sku.main_img %>" class="jqzoom" rel='gal1' title="<%= @sku.name %>">
      <%= image_tag @sku.main_img, :width => "400px", :height => "400px", :title => "#{@sku.name}" %>
    </a>
    <div id="controller_pane">
      <div id="controller_handler_center">
        <ul id="sku_carousel" class="h_ul jcarousel-skin-tango">
          <% @sku.sku_images.each_with_index do |sku_image,index| %>
            <li class="h_li h_padding_5">
              <a <% if index == 0 %> class="zoomThumbActive" <% end %> href='javascript:void(0);'
                 rel="{gallery: 'gal1', smallimage: '<%= sku_image.image.url %>',largeimage: '<%= sku_image.image.url %>'}">
                <%= image_tag sku_image.image.url, :width => "50px", :height => "50px" %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="sku_basic_info">
    <p class="ad"><%= @sku.advertisement %></p>
    <p class="p_1">商品编号：</p>
    <p class="p_2"><%= @sku.number %></p>
    <p class="p_3">商品型号：</p>
    <p class="p_4"><%= @sku.model %></p>
    <p class="p_5">品牌：</p>
    <p class="p_6"><%= @sku.brand.chinese_name %></p>
    <p class="p_1">颜色：</p>
    <p class="p_2"><%= @sku.color %></p>
    <p class="p_3">尺寸：</p>
    <p class="p_4"><%= @sku.size %></p>
    <p class="p_5">销售单位：</p>
    <p class="p_6"><%= @sku.unit %></p>
    <p class="p_1">市场价格：</p>
    <p class="p_2"><strong><%= grey_cny @sku.market_price %></strong></p>
    <p class="p_3">商品价格：</p>
    <p class="p_4"><strong><%= cny @sku.cost_aft_tax %></strong></p>
    <p class="p_5">优惠价格：</p>
    <p class="p_6"><strong><%= cny @sku.cost_aft_tax %></strong></p>
    <p class="p_1 clear">库存：</p>
    <p><%= get_sku_inventory(@sku) %></p>
    <p>（如果缺货，请咨询<em>400-630-5006</em>）</p>
      <!--（已有999999人评价）-->
        <!--<p class="p_1 clear">活动信息：</p>
        <ul id="sku_details_promotion">
          <li>促销项目描述九个字一促销项目描述九个字二促销项目描述九个字三促销项目描述九个字四</li>
          <li>促销项目描述九个字一促销项目描述九个字二促销项目描述九个字三促销项目描述九个字四</li>
          <li>促销项目描述九个字一促销项目描述九个字二促销项目描述九个字三促销项目描述九个字四</li>
          <li>促销项目描述九个字一促销项目描述九个字二促销项目描述九个字三促销项目描述九个字四</li>
        </ul>-->
    <!-- Start with cart in the SKU_Details page -->
    <div id="sku_details_cart">
      <%= hidden_field_tag :sku_id, @sku.id %>
      <label>订购数量：</label>
      <button id="minus" type="button">-</button>
      <%= text_field_tag :quantity, 1, :id => "sku_quantity" %>
      <button id="plus" type="button">+</button>
      <div></div>
      <input type="button" class="add_to_cart" id="add_to_cart" value="添加到购物车"/>
      <button id="add_to_favorite" class="add_to_fav">收藏</button>
    </div>
    <!--添加购物车成功信息 开始-->
    <div id="add_successful">
    </div>
    <!--添加购物车成功信息 结束-->
  </div>
  <div id="sku_information" class="sku_long">
    <h3>商品介绍</h3>
    <%=raw @sku.description %>
  </div>
  <div id="sku_browser_history" class="sku_long">
    <h3>浏览过的商品</h3>
    <ul>
      <% @sku_browsing_histories.each do |history| %>
        <li>
          <p>
            <%= link_to (image_tag history.sku.main_img, :width => "120px", :height => "120px;"), commodity_sku_detail_path(history.sku_id) %>
          </p>
          <p class="overflow_text">
            <%= link_to history.sku.name, commodity_sku_detail_path(history.sku_id) %>
          </p>
          <!--<p>市场价：&yen;99999.00</p>-->
          <p>
            <strong>现价：<%= cny history.sku.cost_aft_tax %></strong>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
  <!--暂注释评论功能。
  <div id="sku_comments" class="sku_long">
    <h3>商品评论</h3>
  </div>
  -->
</div>
