<div id="sku_details_wrapper">
  <p class="sku_details_nav">您的位置：
    <a href="/">首页</a> >>
    <%=raw current_category_site @sku %>
    <%= @sku.name %>
  </p>
  <h1><%= @sku.name %></h1>
  <div id="sku_details_picture">
    <a href="<%= @sku.main_img %>" class="jqzoom" rel='gal1' title="<%= @sku.name %>">
      <%= image_tag @sku.main_img, :width => "400px", :height => "400px", :title => "#{@sku.name}" %>
    </a>
    <div id="controller_pane">
      <div id="controller_handler_center">
        <ul id="sku_carousel" class="h_ul jcarousel-skin-tango">
          <% @sku.sku_images.each_with_index do |sku_image,index| %>
            <li class="h_li h_padding_5">
              <a <% if index == 0 %> class="zoomThumbActive" <% end %> href='javascript:void(0);'
                 rel="{gallery: 'gal1', smallimage: '<%= sku_image.image.url %>',largeimage: '<%= sku_image.image.url %>'}">
                <%= image_tag sku_image.image.url, :width => "50px", :height => "50px" %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="sku_basic_info">
    <p class="p_1">商品编号：</p>
    <p class="p_2"><%= @sku.number %></p>
    <p class="p_3">商品型号：</p>
    <p class="p_4"><%= @sku.model %>&nbsp;</p>
    <p class="p_1">商品价格：</p>
    <p class="p_2"><strong><%= number_to_currency @sku.cost_aft_tax, :unit => "￥" %></strong></p>
    <p class="p_3">优惠价格：</p>
    <p class="p_4"><strong><%= number_to_currency @sku.cost_aft_tax, :unit => "￥" %></strong></p>
    <p class="p_1">为您节省：</p>
    <p><strong>￥0</strong></p>
    <p class="p_1 clear">库存：</p>
    <p>有</p>
    <p>（如果缺货，请咨询<em>400-630-5606</em>）</p>
    <p class="p_1 clear">商品信息：</p>
    <p><%= @sku.introduction %>（已有999999人评价）</p>
    <p class="p_1 clear">活动信息：</p>
    <ul id="sku_details_promotion">
      <li>促销项目描述九个字一促销项目描述九个字二促销项目描述九个字三促销项目描述九个字四</li>
      <li>促销项目描述九个字一促销项目描述九个字二促销项目描述九个字三促销项目描述九个字四</li>
      <li>促销项目描述九个字一促销项目描述九个字二促销项目描述九个字三促销项目描述九个字四</li>
      <li>促销项目描述九个字一促销项目描述九个字二促销项目描述九个字三促销项目描述九个字四</li>
    </ul>
    <!-- Start with cart in the SKU_Details page -->
    <div id="sku_details_cart">
        <%= hidden_field_tag :sku_id, @sku.id %>
        <label>我要买：</label>
        <button id="minus" type="button">-</button>
        <%= text_field_tag :quantity, 1, :id => "sku_quantity" %>
        <button id="plus" type="button">+</button>
        <div></div>
        <input type="button" class="add_to_cart" id="add_to_cart" value="添加到购物车"/>
        <button class="add_to_favorite"><%= image_tag "sku_details/add_to_favourite.png"%></button>
    </div>
    <!--添加购物车成功信息 开始-->
    <div class="successful">
      您选择的商品已经成功添加！
    </div>
    <!--添加购物车成功信息 结束-->
  </div>
  <div id="sku_information" class="sku_long">
    <h3>商品介绍</h3>
    <%=raw @sku.description %>
  </div>
  <div id="sku_browser_history" class="sku_long">
    <h3>浏览过的商品</h3>
  </div>
  <div id="sku_comments" class="sku_long">
    <h3>商品评论</h3>
  </div>
</div>
