<p id="notice"><%= notice %></p>

<p>
  <b>Procedure:</b>
  <%= @procedure_roleship.procedure_id %>
</p>

<p>
  <b>Role:</b>
  <%= @procedure_roleship.role_id %>
</p>


<%= link_to 'Edit', edit_procedure_roleship_path(@procedure_roleship) %> |
<%= link_to 'Back', procedure_roleships_path %>
