<div class="well">
  <a href="<%= edit_admin_sku_path(@sku) %>" class="btn btn-primary" id="update_tag">
    <i class="icon-edit"></i>
    <%= t('admin.actions.edit.menu') %>
  </a>

  <%= link_to "<i class='icon-arrow-left'></i> #{t('admin.misc.back')}".html_safe, admin_skus_path, :class => "btn pull-right" %>
</div>

<%= simple_form_for(@sku, :url => "#", :html => {:class => 'form-horizontal'}) do |f| %>
  <fieldset>
    <%= f.input :name, :disabled => true %>
    <%= f.input :product_category_name, :disabled => true %>
    <%= f.input :brand_chinese_name, :disabled => true %>
    <%= f.input :supplier_name, :disabled => true %>
    <%= f.input :weight, :disabled => true %>
    <%= f.input :place_of_origin, :disabled => true %>
    <%= f.input :unit, :disabled => true %>
    <%= f.input :model, :disabled => true %>
    <%= f.input :specifications, :disabled => true %>
    <%= f.input :dimensions, :disabled => true %>
    <%= f.input :cost_before_tax, :disabled => true %>
    <%= f.input :cost_after_tax, :disabled => true %>
    <%= f.input :delivery_days, :disabled => true %>
    <%= f.input :delivery_notice, :disabled => true %>
    <%= f.input :remarks, :input_html => { :rows => 5 }, :disabled => true %>
  </fieldset>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/product.number') %></th>
      <th><%= t('activerecord.attributes.taurus/product.name') %></th>
   </tr>
  </thead>
  <% @sku.products.each_with_index do |product,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to product.number, admin_product_path(product) %></td>
      <td><%= product.name %></td>
    </tr>
  <% end %>
</table>
