<h1>媒体商品分类列表</h1>

<table>
  <tr>
    <th><%= t('attributes.sku_category.number') %></th>
    <th><%= t('attributes.sku_category.name') %></th>
    <th><%= t('attributes.sku_category.is_show_in_navigation') %></th>
    <th><%= t('attributes.sku_category.is_show_in_column') %></th>
    <th><%= t('attributes.sku_category.description') %></th>
    <th><%= t('attributes.sku_category.updated_at') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sku_categories.each do |sku_category| %>
  <tr>
    <td><%= sku_category.number %></td>
    <td><%= sku_category.name %></td>
    <td><%= sku_category.is_show_in_navigation %></td>
    <td><%= sku_category.is_show_in_column %></td>
    <td><%= sku_category.description %></td>
    <td><%= sku_category.updated_at %></td>
    <td><%= link_to 'Show', admin_sku_category_path(sku_category) %></td>
    <td><%= link_to 'Edit', edit_admin_sku_category_path(sku_category) %></td>
    <td><%= link_to 'Destroy', admin_sku_category_path(sku_category), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建媒体商品分类', new_admin_sku_category_path %>
