<div id="show_info">
  <h1>媒体商品分类信息</h1>
  <ul>
    <li>
      <label>媒体分类编号：</label>
      <span class="red"><%= @sku_category.number %></span>
    </li>
    <li>
      <label>媒体分类名称：</label>
      <span><%= @sku_category.name %></span>
    </li>
    <li>
      <label>上级分类编号：</label>
      <span><%= @sku_category.parent.number %></span>
    </li>
    <li>
      <label>上级分类名称：</label>
      <span><%= @sku_category.parent.name %></span>
    </li>
    <li>
      <label>所属一级分类名称：</label>
      <span><%= @sku_category.root.name %></span>
      <hr />
    </li>
    <li>
      <label>首页导航显示：</label>
      <span><%= SkuCategory::IS_SHOW_IN_NAVIGATION[@sku_category.is_show_in_navigation] %></span>
    </li>
    <li>
      <label>首页栏目显示：</label>
      <span><%= SkuCategory::IS_SHOW_IN_COLUMN[@sku_category.is_show_in_column] %></span>
    </li>
    <li>
      <label>是否有效：</label>
      <span><%= SkuCategory::ACTIVE[@sku_category.active] %></span>
    </li>
    <li>
      <label>备注：</label>
      <span><%= @sku_category.description %></span>
    </li>
    <li>
      <br />
      <%= link_to "返回", admin_sku_categories_path, :class => "left20" %>
      <%= link_to "修改", edit_admin_sku_category_path(@sku_category) %>
    </li>
  </ul>
</div>
