<h1>组列表</h1>
<div class="grid_button">
  <%= link_to '新增组', new_admin_group_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>用户组代码</th>
      <th>名称</th>
      <th>描述</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @groups.each_with_index do |group,index| %>
    <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
      <td><%= index+1 %></td>
      <td><%= link_to group.number, admin_group_path(group) %></td>
      <td><%= group.name %></td>
      <td><%= group.desc %></td>
      <td><%= link_to '修改', edit_admin_group_path(group) %></td>
      <td><%= link_to '删除', admin_group_path(group), :confirm => "确认删除么？", :method => :delete %></td>
    </tr>
  <% end %>
</table>

