<div id="show_info">
  <h1>员工组信息查看</h1>
  <ul>
    <li>
      <label class="label40"><%= t 'attributes.group.number' %></label>
      <span><%= @group.number %></span>
    </li>
    <li>
      <label class="label40"><%= t 'attributes.group.name' %></label>
      <span><%= @group.name %></span>
    </li>
    <li>
      <label class="label40"><%= t 'attributes.group.desc' %></label>
      <span><%= @group.desc %></span>
    </li>
  </ul>
</div>








