<%= search_form_for [:admin,@search] do |f| %>
  <div id="show_info">
    <ul>
      <li>
        <label><%= t 'activerecord.attributes.sku.number' %></label>
        <%= f.text_field :sku_number_eq %>
      </li>
      <li>
        <label><%= t 'activerecord.attributes.sku.name' %></label>
        <%= f.text_field :sku_name_cont %>
        <%= f.submit t('admin.misc.search') %>
      </li>
    </ul>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.customer_rating.created_at' %></th>
      <th><%= t 'activerecord.attributes.sku.number' %></th>
      <th><%= t 'activerecord.attributes.sku.name' %></th>
      <th><%= t 'activerecord.attributes.customer_rating.user_id' %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @customer_ratings.each_with_index do |rating,index| %>
    <tr class="<%= cycle("odd","even") %>">
      <td><%= index+1 %></td>
      <td><%= rating.created_at %></td>
      <td><%= rating.sku.number %></td>
      <td><%= rating.sku.name %></td>
      <td><%= rating.user.name %></td>
      <td><%= link_to t('admin.actions.show.menu'), admin_customer_rating_path(rating), :target => "_blank" %></td>
      <td><%= link_to "回复", edit_admin_customer_rating_path(rating) %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7"><%= will_paginate @customer_ratings %></td>
    </tr>
  </tfoot>
</table>