<div id="show_info">
  <h1>评论信息</h1>
  <ul>
    <li>
      <label><%= t 'activerecord.attributes.sku.number' %></label>
      <span><%= @customer_rating.sku.number %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.sku.name' %></label>
      <span><%= @customer_rating.sku.name %></span>
      <hr />
    </li>
    <li>
      <label><%= t 'activerecord.attributes.user.number' %></label>
      <span><%= @customer_rating.user.number %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.user.name' %></label>
      <span><%= @customer_rating.user.name %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.rating' %></label>
      <span><%= @customer_rating.rating %>分</span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.comment' %></label>
      <span><%= @customer_rating.comment %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.created_at' %></label>
      <span><%= @customer_rating.created_at %></span>
      <hr />
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.administrator_id' %></label>
      <span><%= @customer_rating.administrator ? @customer_rating.administrator.name : "无" %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.reply' %></label>
      <span><%= @customer_rating.reply %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.updated_at' %></label>
      <span><%= @customer_rating.updated_at %></span>
    </li>
  </ul>
  <%= link_to "关闭页面", "#", :onclick => "window.close();", :class => "longbtn" %>
</div>