<div id="show_info">
  <h1>评论信息</h1>
  <ul>
    <li>
      <label><%= t 'activerecord.attributes.sku.number' %></label>
      <span><%= @customer_rating.sku.number %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.sku.name' %></label>
      <span><%= @customer_rating.sku.name %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.visibility' %></label>
      <span><%= format_boolean @customer_rating.visibility %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.is_reply' %></label>
      <span><%= @customer_rating.reply ? "是" : "否" %></span>
      <hr />
    </li>
    <li>
      <label><%= t 'activerecord.attributes.user.number' %></label>
      <span><%= @customer_rating.user.number %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.user.name' %></label>
      <span><%= @customer_rating.user.name %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.rating' %></label>
      <span><%= @customer_rating.rating %>分</span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.comment' %></label>
      <span><%= @customer_rating.comment %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.created_at' %></label>
      <span><%= @customer_rating.created_at %></span>
      <hr />
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.administrator_id' %></label>
      <span><%= @customer_rating.administrator ? @customer_rating.administrator.name : "无" %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.reply' %></label>
      <span><%= @customer_rating.reply %></span>
    </li>
    <li>
      <label><%= t 'activerecord.attributes.customer_rating.updated_at' %></label>
      <span><%= @customer_rating.updated_at %></span>
      <hr />
    </li>
    <li>
      <%= link_to "回复", edit_admin_customer_rating_path(@customer_rating) if can? :update, CustomerRating %>
      <%= link_to "关闭前台显示", close_admin_customer_rating_path(@customer_rating), :confirm => "是否关闭？",
                  :method => :put, :class => "longbtn" if can? :close, CustomerRating %>
      <%= link_to t('admin.actions.delete.menu'), admin_customer_rating_path(@customer_rating),
                  :confirm => t('admin.actions.delete.confirm'), :method => :delete if can? :destroy, CustomerRating %>
      <%= link_to "关闭页面", "#", :onclick => "window.close();", :class => "longbtn" %>
    </li>
  </ul>
</div>