<div id="show_info">
  <h1>素材商品分类信息</h1>
  <ul>
    <li>
      <label>素材分类编号：</label>
      <span class="red"><%= @product_category.number %></span>
    </li>
    <li>
      <label>素材分类名称：</label>
      <span><%= @product_category.name %></span>
    </li>
    <li>
      <label>上级分类编号：</label>
      <span><%= @product_category.parent.number %></span>
    </li>
    <li>
      <label>上级分类名称：</label>
      <span><%= @product_category.parent.name %></span>
    </li>
    <li>
      <label>备注：</label>
      <span><%= @product_category.description %></span>
    </li>
    <li>
      <br />
      <%= link_to "返回", admin_product_categories_path, :class => "left20" %>
      <%= link_to "修改", edit_admin_product_category_path(@product_category) if can? :update, ProductCategory %>
    </li>
  </ul>
</div>