<div class="row">
  <div class="span8">
    <div id="slider_bar" class="carousel slide">
      <div class="carousel-inner">
        <% @slider_bars.each_with_index do |slider_bar,index| %>
          <div class="<%= index == 0 ? "active item" : "item" %>">
            <a href="<%= slider_bar.href %>" target="_blank">
              <%= image_tag slider_bar.image.url(:normal) %>
            </a>
            <div class="carousel-caption">
              <h4><%= slider_bar.name %></h4>
              <p><%= slider_bar.description %></p>
            </div>
          </div>
        <% end %>
      </div>
      <a class="carousel-control left" href="#slider_bar" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#slider_bar" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span4">
    <div class="alert alert-info trk-right-padding-14">
      <a href="#" class="btn btn-primary btn-large"><i class="icon-cog"></i> 继续尝试后台管理界面</a>
      <div class="btn-group pull-right">
          <button class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown">了解更多 <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">访问采恪官方主页</a></li>
            <li><a href="#">进入采恪的Github</a></li>
            <li><a href="#">技术文档</a></li>
            <li class="divider"></li>
            <li><a href="#">付费技术服务</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="span4">
    <div class="well" style="height: 315px;">
      <%= render_cell :announcements, :display %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% @products.each do |product| %>
        <li class="span3">
          <div class="thumbnail">
            <%= image_tag product.main_image %>
            <div class="caption">
              <h5><%= product.name %></h5>
              <p></p>
              <p>
                <a href="<%= index_cart_product_line_items_path(:product_id => product.id) %>" 
                   data-method="post" class="btn btn-primary">加入购物车</a> 
                <a href="<%= index_product_path(product) %>" class="btn">详情</a>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

