<h1>流程规则维护</h1>

<%= form_tag(admin_station_procedureships_path,:method => :get) do  %>
    <%= select :station_procedureship, :procedure_id,
               Procedure.all.collect {|p| [ p.name, p.id ] },
               { :selected => session[:procedure_id] } %>
    <%= submit_tag '应用' %>
<% end %>
<div class="grid_button">
  <%= link_to '新建', new_admin_station_procedureship_path, :onclick => "return this.href+='?procedure_id='+$('#station_procedureship_procedure_id').val()" if can? :create, StationProcedureship %>
</div>
<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('attributes.station_procedureship.station_id') %></th>
      <th><%= t('attributes.station_procedureship.condition_id') %></th>
      <th><%= t('attributes.station_procedureship.next_station_id') %></th>
      <th><%= t('attributes.station_procedureship.business_function_id') %></th>
      <th><%= t('attributes.station_procedureship.sequence') %></th>
      <th></th>
    </tr>
  </thead>



<% 50.times.each do |k| %>
  <% flag = false %>
  <% @station_procedureships.each_with_index do |station_procedureship,index| %>
    <% if station_procedureship.sequence == k+1  %>
      <tr class="<%= set_odd_even_class(index) %>">
        <td><%= index+1 %></td>
        <td><%= station_procedureship.station.name %></td>
        <td><%= station_procedureship.condition.name %></td>
        <td><%= station_procedureship.next_station.name %></td>
        <td><% if station_procedureship.business_function != nil  %><%= station_procedureship.business_function.name %><% end %></td>
        <td><%= station_procedureship.sequence %></td>
        <td><%= link_to t('admin.actions.edit.menu'), edit_admin_station_procedureship_path(station_procedureship) if can? :update, StationProcedureship %></td>
      </tr>
      <% flag = true %>
    <% end %>
  <% end %>
  <% if flag == true %>
  <tr><td colspan="8" style="background: gray;height: 4px"></td></tr>
  <% else %>
      <% break %>
  <% end %>
<% end %>
</table>