<p id="notice"><%= notice %></p>

<p>
  <b>Procedure:</b>
  <%= @station_procedureship.procedure_id %>
</p>

<p>
  <b>Station:</b>
  <%= @station_procedureship.station_id %>
</p>

<p>
  <b>Condition:</b>
  <%= @station_procedureship.condition_id %>
</p>

<p>
  <b>Next station:</b>
  <%= @station_procedureship.next_station_id %>
</p>

<p>
  <b>Business function:</b>
  <%= @station_procedureship.business_function_id %>
</p>

<p>
  <b>Operate url:</b>
  <%= @station_procedureship.operate_url %>
</p>

<p>
  <b>Target:</b>
  <%= @station_procedureship.target %>
</p>

<p>
  <b>Width:</b>
  <%= @station_procedureship.width %>
</p>

<p>
  <b>Height:</b>
  <%= @station_procedureship.height %>
</p>

<p>
  <b>Active:</b>
  <%= @station_procedureship.active %>
</p>

<p>
  <b>Sequence:</b>
  <%= @station_procedureship.sequence %>
</p>

<p>
  <b>Sub sequence:</b>
  <%= @station_procedureship.sub_sequence %>
</p>


<%= link_to 'Edit', edit_admin_station_procedureship_path(@station_procedureship) %> |
<%= link_to 'Back', admin_station_procedureships_path %>
