<%= form_for([:admin,@sku_image],:html => {:multipart=>true}) do |f| %>
  <% if @sku_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', :count => @sku_image.errors.size, :model => t('models.sku_image')) %></h2>

      <ul>
      <% @sku_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><span class="red">*</span><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :image_description %><br />
    <%= f.text_area :image_description %>
  </div>
  <div class="field">
    <%= f.label :sort %><br />
    <%= f.text_field :sort %>
  </div>
  <div class="field">
    <%= f.label :is_main %><br />
    <%= f.check_box :is_main %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
