<%= simple_form_for @purchase_order, :url => preview_purchase_purchase_orders_path, :method => :get do |f| %>
  <div class="control_panel">
    <%= error_messages @purchase_order %>
    <%= f.label :po_id %>
    <p>(系统自动生成)</p>

    <%= f.label :created_at, :class => "clear_both" %>
    <p><%= Time.now.strftime('%Y-%m-%d') %></p>

    <%= f.label :administrator_id, :class => "clear_both" %>
    <p><%= current_administrator.name %></p>
  </div>
  <div class="control_panel">
    <%= f.input :ordering_company_id, :collection => OrderingCompany.all,
                    :label_method => :name, :value_method => :id, :as => :select %>

    <label class=""><%= t 'activerecord.attributes.supplier.supplier_id'%></label>
    <%= text_field_tag :supplier_id %>
    <button type="button" id="check_supplier_id">验证</button>
    <%= f.input :supplier_id, :as => :hidden %>

    <label class="clear_both" style="width: 120px;"><%= t 'activerecord.attributes.ordering_company.address' %></label>
    <span id="ordering_company_address" class="standard"></span>

    <label><%= t 'activerecord.attributes.supplier.name' %></label>
    <span id="supplier_name" class="standard"></span>

    <label class="clear_both"><%= t 'activerecord.attributes.ordering_company.phone' %></label>
    <span id="ordering_company_phone" class="standard"></span>

    <label><%= t 'activerecord.attributes.supplier.contact_way' %></label>
    <span id="supplier_contact_way" class="standard"></span>

    <label class="clear_both margin_l_395"><%= t 'activerecord.attributes.supplier.fax' %></label>
    <span id="supplier_fax" class="standard"></span>
  </div>
  <h4>采购列表</h4>
  <table id="po_products">
    <%= render "purchase/po_product_temp_lists/po_products" %>
  </table>

  <div id="search_control_panel">
    <label><%= t 'activerecord.attributes.product.product_id' %></label>
    <%= text_field :q, :product_id_start, :class => "float_l" %>
    <label><%= t 'activerecord.attributes.product.name' %></label>
    <%= text_field :q, :name_cont, :class => "float_l" %>
    <button type="button" id="product_search_button"><%= t 'admin.misc.search' %></button>
  </div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t 'activerecord.attributes.product.product_id' %></th>
        <th><%= t 'activerecord.attributes.product.name' %></th>
        <th><%= t 'activerecord.attributes.product.specification' %></th>
        <th><%= t 'activerecord.attributes.product.unit' %></th>
        <th><%= t 'activerecord.attributes.product.cost_aft_tax' %></th>
        <th><%= t 'activerecord.attributes.product.inventory' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="search_products">
      <%= render "products" %>
    </tbody>
  </table>

  <div id="purchase_delivery_date_control_panel">
    <%= f.input :po_time_of_delivery, :as => :date %>
    <%= f.input :po_remarks, :input_html => { :cols => 120, :rows => 5, :style => "float: left"} %>
    <%= f.submit t('admin.misc.preview', :model => t('activerecord.models.purchase_order')), :id => "purchase_order_submit", :style => "float: left; clear: both;" %>
  </div>
<% end %>
