<div class="alert alert-info">
  <button class="close action_close" data-dismiss="alert" data-id="<%= object.id %>">×</button>

  <div class="control-group decimal required">
  	<label class="decimal required control-label">
  		<%= object.action_type_name %>
  	</label>
		<div class="controls">
			<input class="numeric decimal required" name="category_discount" step="any" type="number" value="<%= object.discount %>">
		</div>
	</div>

  <table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= t('activerecord.attributes.taurus/product_category.number') %></th>
	      <th><%= t('activerecord.attributes.taurus/product_category.name') %></th>
	    </tr>
	  </thead>
	  <tbody id="category_list">
      <% object.promotion_action_categories.each do |promotion_action_category| %>
        <tr>
		      <td>
		      	<%= promotion_action_category.product_category.number %>
		      	<%= hidden_field_tag :'category_id[]', promotion_action_category.product_category_id %>
		      </td>
		      <td><%= promotion_action_category.product_category.name %></td>
		    </tr>
      <% end %>
	  </tbody>
	</table>

  <div class="control-group string required">
  	<label class="string required control-label">
  		<%= object.action_type_name %>
  	</label>
		<div class="controls">
			<%= autocomplete_field_tag 'name', '', autocomplete_product_category_name_admin_promotions_path, :id => "category_name" %>
		</div>
	</div>
</div>