<%= form_for([:admin,@supplier]) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%=I18n.t('activerecord.errors.template.header', :count => @supplier.errors.size, :model => I18n.t('models.supplier'))%></h2>

      <ul>
      <% @supplier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><span class="red">*</span><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :input_person %><span class="red">*</span><br />
    <%= f.text_field :input_person %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_way %><br />
    <%= f.text_field :contact_way %>
  </div>
  <div class="field">
    <%= f.label :terms_of_exchange %><br />
    <%= f.text_field :terms_of_exchange %>
  </div>
  <div class="field">
    <%= f.label :delivery %><br />
    <%= f.text_field :delivery %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.radio_button :active, '0', :checked => true %>
    <%= f.label '激活' %>
    <%= f.radio_button :active, '1' %>
    <%= f.label '关闭' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
