<h1>供应商列表</h1>

<table>
  <tr>
    <th><%= t('attributes.supplier.name') %></th>
    <th><%= t('attributes.supplier.input_person') %></th>
    <th><%= t('attributes.supplier.updated_at') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.name %></td>
    <td><%= supplier.input_person %></td>
    <td><%= supplier.updated_at %></td>
    <td><%= link_to 'Show', admin_supplier_path(supplier) %></td>
    <td><%= link_to 'Edit', edit_admin_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', admin_supplier_path(supplier), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建供应商', new_admin_supplier_path %>
