<h1>供应商列表</h1>

<div class="grid_button">
  <%= link_to '新增供应商', new_admin_supplier_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th><%= t('attributes.supplier.name') %></th>
      <th><%= t('attributes.supplier.input_person') %></th>
      <th><%= t('attributes.supplier.updated_at') %></th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
  </thead>
<% @suppliers.each_with_index do |supplier,index| %>
  <tr class="<%= set_odd_even_class index %>" group="<%= index %>">
    <td><%= index+1 %></td>
    <td><%= supplier.id %></td>
    <td><%= supplier.name %></td>
    <td><%= supplier.input_person %></td>
    <td><%= supplier.updated_at %></td>
    <td><%= link_to 'Show', admin_supplier_path(supplier) %></td>
    <td><%= link_to 'Edit', edit_admin_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', admin_supplier_path(supplier), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @suppliers %>

