<div id="show_info">
  <h1>供应商信息</h1>
  <ul>
    <li>
        <label>供应商编号：</label>
        <span class="red">001</span>
    </li>
    <li>
        <label>供应商名称：</label>
        <span><%= @supplier.name %></span>
    </li>
    <li>
        <label>登陆者姓名：</label>
        <span><%= @supplier.input_person %></span>
    </li>
    <li>
        <label>联系人：</label>
        <span><%= @supplier.contact_name %></span>
    </li>
    <li>
        <label>联系方式：</label>
        <span><%= @supplier.contact_way %></span>
    </li>
    <li>
        <label>交易条件：</label>
        <span><%= @supplier.terms_of_exchange %></span>
    </li>
    <li>
        <label>交货期：</label>
        <span><%= @supplier.delivery %></span>
    </li>
    <li>
        <label>级别：</label>
        <span><%= @supplier.level %></span>
    </li>
    <li>
        <label>状态：</label>
        <span><%= @supplier.active %></span>
    </li>

    <li class="margin_top_20">
      <a class="left20" href="">返回</a>
      <a href="">修改</a>
    </li>
  </ul>
</div>
