<h1>素材商品列表</h1>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('attributes.product.product_id') %></th>
      <th><%= t('attributes.product.name') %></th>
      <th><%= t('attributes.sku_productship.package_num') %></th>
      <th><%= t('attributes.sku_productship.package_name') %></th>
      <th><%= t('attributes.sku_productship.sales_bef_tax') %></th>
      <th><%= t('attributes.sku_productship.sales_aft_tax') %></th>
      <th><%= t('attributes.sku_productship.is_main') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="sku_productships">
    <% @sku_productships.each_with_index do |sku_productship,index| %>
      <tr class="<%= set_odd_even_class index  %>">
        <td><%= index+1 %></td>
        <td><%= sku_productship.product.product_id %></td>
        <td><%= sku_productship.product.name %></td>
        <td><input class="numeric integer optional package_num" id="<%= sku_productship.id %>"  step="any" type="number" value="<%= sku_productship.package_num %>" /></td>
        <td><%= text_field_tag 'package_name', sku_productship.package_name, :class => "package_name", :id => sku_productship.id %></td>
        <td><input class="numeric decimal optional sales_bef_tax" id="<%= sku_productship.id %>"  step="any" type="number" value="<%= sku_productship.sales_bef_tax %>" /></td>
        <td><input class="numeric decimal optional sales_aft_tax" id="<%= sku_productship.id %>"  step="any" type="number" value="<%= sku_productship.sales_aft_tax %>" /></td>
        <td><%= check_box_tag 'is_main', true, sku_productship.is_main %></td>
        <td><a href="#" class="destroy_sku_product" title="<%= sku_productship.id %>">删除</a></td>
      </tr>
    <% end %>
   <script type="text/javascript">
     jQuery(".destroy_sku_product").click(function(){
      jQuery.ajax({
        type: "delete",
        url: "/admin/sku_productships/"+jQuery(this).attr('title'),
        data: "",
        success: function(result){
         jQuery("#sku_productships").html(result);
        }
      });
     });

     jQuery(".package_num").change(function(){
       jQuery.ajax({
         type: "put",
         url: "/admin/sku_productships/"+jQuery(this).attr('id'),
         data: {"sku_productship[package_num]" : jQuery(this).val()},
         success: function(result){
          jQuery("#sku_productships").html(result);
         }
       });
     });

     jQuery(".package_name").change(function(){
       jQuery.ajax({
         type: "put",
         url: "/admin/sku_productships/"+jQuery(this).attr('id'),
         data: {"sku_productship[package_name]" : jQuery(this).val()},
         success: function(result){
          jQuery("#sku_productships").html(result);
         }
       });
     });

     jQuery(".sales_bef_tax").change(function(){
       jQuery.ajax({
         type: "put",
         url: "/admin/sku_productships/"+jQuery(this).attr('id'),
         data: {"sku_productship[sales_bef_tax]" : jQuery(this).val()},
         success: function(result){
          jQuery("#sku_productships").html(result);
         }
       });
     });

     jQuery(".sales_aft_tax").change(function(){
       jQuery.ajax({
         type: "put",
         url: "/admin/sku_productships/"+jQuery(this).attr('id'),
         data: {"sku_productship[sales_aft_tax]" : jQuery(this).val()},
         success: function(result){
          jQuery("#sku_productships").html(result);
         }
       });
     });


   </script>
  </tbody>
</table>
<hr />

<%= form_tag search_products_admin_sku_productships_path, :method => :get, :remote => true  do %>
  <div class="attributes">
    商品编号:<%= text_field_tag 'q[product_id_eq]' %>
    商品名称:<%= text_field_tag 'q[name_cont]' %>
    <%= submit_tag '查询' %>
  </div>
<% end %>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>商品编码</th>
      <th>商品名称</th>
      <th>规格</th>
      <th>型号</th>
      <th>单位</th>
      <th>添加</th>
    </tr>
  </thead>
  <tbody id="search_product"></tbody>
</table>

<%= link_to '下一步', admin_sku_images_path %>