function add_product_to_cart(id){
  jQuery.ajax({ type: 'post', //提交的类型
                url: '/admin/sku_productships',//提交地址
                data: 'product_id='+id,//参数
                success: function(msg){ //回调方法
                  $('#sku_productships').html(msg);
                }});
}


$("#search_product").html("<% @products.each_with_index do |product,index| %><tr class='<%= set_odd_even_class(index) %>' group='<%= index %>'><td><%= index+1 %></td><td><%= product.product_id %></td><td><%= product.name %></td><td><%= product.specification %></td><td><%= product.model %></td><td><%= product.unit %></td><td><a href='#' onclick='add_product_to_cart(<%= product.id %>)'>添加</a></td></tr> <% end %>");
