<h1>图片列表</h1>

<%= search_form_for @search, :url => admin_images_path, :html => { :id => "image_search" } do |f| %>
  <%= f.hidden_field :page_eq %>
  <button type="button" value="" class="page_button">全部</button>
  <button type="button" value="0" class="page_button">首页</button>
  <button type="button" value="1" class="page_button">OA PC用品</button>
  <button type="button" value="2" class="page_button">文具办公用品</button>
  <button type="button" value="3" class="page_button">生活用品</button>
  <button type="button" value="4" class="page_button">办公家具</button>
  <button type="button" value="5" class="page_button">生活家具</button>
  <button type="button" value="6" class="page_button">家居饰品</button>
<% end %>

<div class="grid_button">
  <%= link_to "新增图片", new_admin_image_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/image.page') %></th>
      <th><%= t 'activerecord.attributes.taurus/image.location' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @images.each_with_index do |image,index| %>
      <tr class="<%= set_odd_even_class index %>" >
        <td><%= index+1 %></td>
        <td><%= get_image_page image.page %></td>
        <td><%= get_image_location image.page, image.location %></td>
        <td><%= link_to '显示', admin_image_path(image) %></td>
        <td><%= link_to '编辑', edit_admin_image_path(image) %></td>
        <td><%= link_to '删除', admin_image_path(image), :confirm => '确定删除么?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">
        <%= will_paginate @images %>
      </td>
    </tr>
  </tfoot>
</table>