<div id="login">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <p>
      <%= f.label :login_no %>：
      <%= f.text_field :login_no %>
    </p>


    <p>
      <%= f.label :password %>：
      <%= f.password_field :password %>
    </p>

    <p>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, :class => "check" %> <label for="administrator_remember_me">记住我</label>
      <% end -%>
    </p>

    <p>
      <%= f.submit "登录", :class => "button" %>
    </p>
  <% end %>

  <% unless alert.nil? %>
    <div class="notification_area"><%= alert %></div>
  <% end %>
</div>

