<div id="show_info">
  <h1>高优先级</h1>

  <%= link_to "添加", promotion_online_promotion_promotion_priorities_path(@online_promotion,:priorities => "high"),
              :class => "add_priorities"  if @online_promotion.status == 0 %>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t 'activerecord.attributes.online_promotion.code' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.title' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.start' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.end' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.online_promotionable_type' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.promotion_type' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.status' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.progress' %></th>
        <th><%= t 'admin.misc.updated_at' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @high_priorities.each_with_index do |priority,index| %>
      <tr class="<%= cycle "odd","even" %>">
        <td><%= index+1 %></td>
        <td><%= priority.high.code %></td>
        <td><%= priority.high.title %></td>
        <td><%= priority.high.start %></td>
        <td><%= priority.high.end %></td>
        <td><%= OnlinePromotion::ONLINE_PROMOTIONABLE[priority.high.online_promotionable_type] %></td>
        <td><%= OnlinePromotion::PROMOTION_TYPE[priority.high.promotion_type] %></td>
        <td><%= OnlinePromotion::STATUS[priority.high.status] %></td>
        <td><%= OnlinePromotion::PROGRESS[priority.high.progress] %></td>
        <td><%= priority.high.updated_at %></td>
        <td><%= link_to t('admin.actions.delete.menu'),
                        promotion_online_promotion_promotion_priority_path(@online_promotion,priority),
                        :confirm => t('admin.actions.delete.confirm'), :method => :delete, :class => "link"  if @online_promotion.status == 0 %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <hr />
  <h1>低优先级</h1>

  <%= link_to "添加", promotion_online_promotion_promotion_priorities_path(@online_promotion,:priorities => "low"),
              :class => "add_priorities"  if @online_promotion.status == 0 %>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t 'activerecord.attributes.online_promotion.code' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.title' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.start' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.end' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.online_promotionable_type' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.promotion_type' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.status' %></th>
        <th><%= t 'activerecord.attributes.online_promotion.progress' %></th>
        <th><%= t 'admin.misc.updated_at' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @low_priorities.each_with_index do |priority,index| %>
      <tr class="<%= cycle "odd","even" %>">
        <td><%= index+1 %></td>
        <td><%= priority.low.code %></td>
        <td><%= priority.low.title %></td>
        <td><%= priority.low.start %></td>
        <td><%= priority.low.end %></td>
        <td><%= OnlinePromotion::ONLINE_PROMOTIONABLE[priority.low.online_promotionable_type] %></td>
        <td><%= OnlinePromotion::PROMOTION_TYPE[priority.low.promotion_type] %></td>
        <td><%= OnlinePromotion::STATUS[priority.low.status] %></td>
        <td><%= OnlinePromotion::PROGRESS[priority.low.progress] %></td>
        <td><%= priority.low.updated_at %></td>
        <td><%= link_to t('admin.actions.delete.menu'),
                        promotion_online_promotion_promotion_priority_path(@online_promotion,priority),
                        :confirm => t('admin.actions.delete.confirm'), :method => :delete, :class => "link"  if @online_promotion.status == 0 %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>