<h1>
  <%= t 'admin.actions.index.title', :model => t('activerecord.models.slider_bar') %>
</h1>

<div class="grid_button">
  <%= link_to '添加', new_content_slider_bar_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.slider_bar.name' %></th>
      <th><%= t 'activerecord.attributes.slider_bar.href' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @slider_bars.each_with_index do |bar,index| %>
  <tr class="<%= set_odd_even_class index %>">
    <td><%= index+1 %></td>
    <td><%= bar.name %></td>
    <td><%= bar.href %></td>
    <td><%= link_to t('admin.actions.show.menu'), content_slider_bar_path(bar) %></td>
    <td><%= link_to t('admin.actions.edit.menu'), edit_content_slider_bar_path(bar) %></td>
    <td><%= link_to t('admin.actions.delete.menu'), content_slider_bar_path(bar), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


