<p id="notice"><%= notice %></p>

<p>
  <b>名称:</b>
  <%= @slider_bar.name %>
</p>

<p>
  <b>链接:</b>
  <%= @slider_bar.href %>
</p>

<p>
  <b>图片:</b>
  <%= image_tag @slider_bar.image.url %>
</p>


<%= link_to 'Edit', edit_admin_slider_bar_path(@slider_bar) %> |
<%= link_to 'Back', admin_slider_bars_path %>
