<p id="notice"><%= notice %></p>

<p>
  <b>Person no:</b>
  <%= @person_extend.person_no %>
</p>

<p>
  <b>Role no:</b>
  <%= @person_extend.role_no %>
</p>

<p>
  <b>Email:</b>
  <%= @person_extend.email %>
</p>

<p>
  <b>Name:</b>
  <%= @person_extend.name %>
</p>

<p>
  <b>Sex:</b>
  <%= @person_extend.sex %>
</p>

<p>
  <b>Birth:</b>
  <%= @person_extend.birth %>
</p>

<p>
  <b>District no:</b>
  <%= @person_extend.district_no %>
</p>

<p>
  <b>Phone:</b>
  <%= @person_extend.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @person_extend.address %>
</p>

<p>
  <b>Post:</b>
  <%= @person_extend.post %>
</p>

<p>
  <b>Created by:</b>
  <%= @person_extend.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @person_extend.updated_by %>
</p>


<%= link_to 'Edit', edit_person_extend_path(@person_extend) %> |
<%= link_to 'Back', person_extends_path %>
