<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a href="/">首页</a> 
    <span class="divider">/</span>
  </li>
  <li class="active">
    用户中心
  </li>
</ul>

<div class="row">
  <%= render :partial => "taurus/index/shared/user_center_nav_list" %>  

  <div class="span10">
    <div class="well">
      <%= search_form_for [:admin,@search], :class => "form-inline" do |f| %>
        <%= f.text_field :number_cont, :placeholder => t('activerecord.attributes.taurus/order.number'), :class => "trk-non-inline-margin" %>
        <%= f.submit t('admin.misc.search'), :class => "btn btn-primary trk-btn-inline" %>
      <% end %>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th><%= t('activerecord.attributes.taurus/order.number') %></th>
          <th><%= t('activerecord.attributes.taurus/order.customer_name') %></th>
          <th><%= t('activerecord.attributes.taurus/order.total') %></th>
          <th><%= t('activerecord.attributes.taurus/order.state') %></th>
          <th><%= t('activerecord.attributes.taurus/order.created_at') %></th>
          <th><%= t('admin.misc.operation') %></th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each_with_index do |order,index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= link_to order.number, index_order_path(order) %></td>
          <td><%= order.customer_name %></td>
          <td><%= format_price order.total %></td>
          <td><%= format_order_state order.state %></td>
          <td><%= order.created_at %></td>
          <td><%= order_customer_operations(order, "trk-btn-short") %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan='7'>
            <%= will_paginate @orders, :renderer => BootstrapPagination::Rails %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>