<h1>公告列表</h1>

<div class="grid_button">
  <%= link_to "新增公告", new_admin_announcement_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>标题</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @announcements.each_with_index do |announcement,index| %>
      <tr class="<%= set_odd_even_class index %>" >
        <td><%= index+1 %></td>
        <td><%= announcement.title %></td>
        <td><%= link_to '显示', admin_announcement_path(announcement) %></td>
        <td><%= link_to '编辑', edit_admin_announcement_path(announcement) %></td>
        <td><%= link_to '删除', admin_announcement_path(announcement), :confirm => '确定删除么?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>