<ul class="order_price_info" id="order_price_info">
  <li>
    <%= symbol_label '商品总价' %>
    <%= cny @order.promotion_sku_price %>
  </li>
  <li>
    <%= symbol_label '安装费' %>
    <%= cny @order.promotion_installation_cost %>
  </li>
  <li>
    <%= symbol_label '组装费' %>
    <%= cny @order.promotion_assembling_fee %>
  </li>
  <li>
    <%= symbol_label '其他费用' %>
    <% if can? :other_cost, Order %>
      <input type="number" value="<%= @order.other_cost %>" id="other_cost" />
      <input type="button" value="修改其他费用" id="other_cost_update" />
    <% else %>
      <%= cny @order.other_cost %>
    <% end %>
  </li>
  <li id="left_li" class="border_bottom">
    <%= symbol_label '标准运费' %>
    <%= cny @order.promotion_carriage_cost %>
  </li>
  <li class="border_bottom">
    <%= symbol_label '调整后运费' %>
    <% if can? :carriage_adjustment, Order %>
      <input type="number" value="<%= @order.promotion_carriage_adjustment %>" id="carriage_adjustment" />
      <input type="button" value="修改运费" id="carriage_adjustment_update" />
    <% else %>
      <%= cny @order.promotion_carriage_adjustment %>
    <% end %>
  </li>
  <li class="red">
    <%= symbol_label '合计', :class => "red" %>
    <%= cny @order.promotion_price %>
  </li>
</ul>