<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.user.number' %></th>
      <th><%= t 'activerecord.attributes.user.login_no' %></th>
      <th><%= t 'activerecord.attributes.user.name' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @promotion_member_temps.each_with_index do |temp,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= temp.user.number %></td>
      <td><%= temp.user.login_no %></td>
      <td><%= temp.user.name %></td>
      <td><%= link_to t('admin.actions.delete.menu'), promotion_promotion_member_temp_path(temp),
                      :confirm => t('admin.actions.delete.confirm'), :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div id="show_info">
  <%= search_form_for @search, :url => promotion_promotion_member_temps_path do |f| %>
    <%= hidden_field_tag :member_type, @member_type %>
    <ul>
      <li>
        <%= f.label :number %>
        <%= f.text_field :person_extend_person_no_or_company_extend_company_no_eq %>
      </li>
      <li>
        <%= f.label :login_no %>
        <%= f.text_field :login_no_cont %>
      </li>
      <li>
        <%= f.label :name %>
        <%= f.text_field :person_extend_name_or_company_extend_company_name_cont %>
        <%= f.submit t('admin.misc.search') %>
      </li>
    </ul>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.user.number' %></th>
      <th><%= t 'activerecord.attributes.user.login_no' %></th>
      <th><%= t 'activerecord.attributes.user.name' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= user.number %></td>
      <td><%= user.login_no %></td>
      <td><%= user.name %></td>
      <td>
        <%= link_to t('admin.misc.add_new'),
                    promotion_promotion_member_temps_path(:member_info => user.id, :member_type => @member_type),
                    :method => :post %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <%= will_paginate @users %>
      </td>
    </tr>
  </tfoot>
</table>

<input type="button" value="确定" onclick="window.close();">
