<table>
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.role.number' %></th>
      <th><%= t 'activerecord.attributes.user.name' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @promotion_member_temps.each_with_index do |temp,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= temp.role.number %></td>
      <td><%= temp.role.name %></td>
      <td><%= link_to t('admin.actions.delete.menu'), promotion_promotion_member_temp_path(temp),
                      :confirm => t('admin.actions.delete.confirm'), :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<table style="margin-top: 40px;">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'activerecord.attributes.role.number' %></th>
      <th><%= t 'activerecord.attributes.role.name' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @roles.each_with_index do |role,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= role.number %></td>
      <td><%= role.name %></td>
      <td>
        <%= link_to t('admin.misc.add_new'),
                    promotion_promotion_member_temps_path(:member_info => role.id, :member_type => @member_type),
                    :method => :post %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<input type="button" value="确定" onclick="window.close();">
