<div class="help_left_menu">
  <%= render "home/help/menu" %>
</div>

<div class="width_766 help_content">

  <h2>忘记密码？</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <p>
        <%= f.label :email %>:
        <%= f.text_field :email %>
      </p>
    </div>

    <%= f.submit "发送到我的注册邮箱" %>
  <% end %>
</div>