<h1>流程列表</h1>

<div class="grid_button">
  <%= link_to '新建流程', new_admin_procedure_path %>
</div>

<table class="grid">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('attributes.procedure.name') %></th>
      <th><%= t('attributes.procedure.display_name') %></th>
      <th><%= t('attributes.procedure.active') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @procedures.each_with_index do |procedure,index| %>
  <tr class="<%= set_odd_even_class(index) %>">
    <td><%= index+1 %></td>
    <td><%= procedure.name %></td>
    <td><%= procedure.display_name %></td>
    <td><%= format_boolean(procedure.active) %></td>
    <td><%= link_to 'Show', admin_procedure_path(procedure) %></td>
    <td><%= link_to 'Edit', edit_admin_procedure_path(procedure) %></td>
    <td><%= link_to 'Destroy', admin_procedure_path(procedure), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

