<!DOCTYPE html>
<html>
<head>
  <title>Ebiz</title>
  <%= stylesheet_link_tag 'application','scaffold','jquery-laylout','smoothness/jquery-ui-1.8.16.custom'%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min.js' %>
  <%= javascript_include_tag 'jquery.layout-latest.js','jqgrid/i18n/grid.locale-cn.js','jqgrid/jquery.jqGrid.min.js' %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= javascript_include_tag "ckeditor/ckeditor" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    $(document).ready(function () {
      $('body').layout({
          north__closable:false,
          north__resizable:false
      });

      $("[group]").hover(function(){
        $("[group='"+$(this).attr('group')+"']").addClass("highlight");
      },function(){
        $("[group='"+$(this).attr('group')+"']").removeClass("highlight");
      });
      <%= yield(:ready) %> //动态加载js
    });
  </script>

</head>
<body>
  <div class="ui-layout-north">
    <% if administrator_signed_in? %>
       登录用户:<%= current_administrator.name %>
      <%= link_to "退出", destroy_administrator_session_path, :method => :delete %>
    <% else %>
      <%= link_to "登录", new_administrator_session_path %>
    <% end %>
  </div>

  <div class="ui-layout-center">
     <%= yield %>
  </div>

  <div class="ui-layout-west">
    <div id="left_menu">
      <%= raw functions %>
    </div>
  </div>
</body>
</html>
