<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>壹美壹家</title>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.16.custom-jimmy.css', 'public' %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag 'layouts/home' %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tag %>
  <script>
    jQuery(document).ready(function(){
      <%= yield(:ready) %> //动态加载js
    });
  </script>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <%= image_tag "/assets/templates/header/logo.GIF", :id => "logo" %>
      <div id="tool_bar">
        <ul>
          <li><%= link_to "我的账户", user_user_centers_path %></li>
          <li>|</li>
          <li><%= link_to "联系客服", contact_sd_home_index_path %></li>
          <li>|</li>
          <li><a href="#">收藏本站</a></li>
          <li>|</li>
          <li><a href="#">订阅信息</a></li>
          <li>|</li>
          <li><a href="#">索取目录</a></li>
        </ul>
      </div>
      <div id="welcome">
        <p>
          <%= link_to "登录", new_user_session_path, :title => "登录" %>
          或
          <%= link_to "免费注册，享受会员服务", new_user_session_path, :title => "注册" %>
        </p>
      </div>
      <div id="cart">
        <p style="width: 100px; line-height:28px; vertical-align:middle; margin: 0px; padding: 0 0 0 32px;">
          购物车：
          <strong id="total_items">0</strong>
          件
        </p>
        <div style="position: absolute; top: 6px; right: 18px">
          <a href="<%= cart_cart_skuships_path %>" style="color: #ffffff;">去结算</a>
        </div>
      </div>
      <div id="share_bar">
        <a href="http://t.sina.com.cn/emehome">
          <%= image_tag "/assets/templates/header/sina.png", :id => "sina", :width => "32", :height => "32"%>
        </a>
        <a href="http://www.kaixin001.com/emehome">
          <%= image_tag "/assets/templates/header/kaixin.png", :id => "kaixin", :width => "32", :height => "32"%>
        </a>
      </div>
      <%= image_tag "/assets/templates/header/headPhone_144_26.png", :id => "service_phone" %>
      <%= image_tag "/assets/templates/header/ServiceOL_77_26.png", :id => "service_ol" %>
      <div id="search_bar">
        <%= form_tag commodity_index_skus_path, :method => :get, :id => "sku_search_form"  do%>
          <%= text_field :q, :name_cont, :value => @keywords, :size => "30", :maxlength => "50" %>
          <%= link_to "搜索", "#", :style => "clear:left;", :id => "sku_search" %>
        <% end %>
      </div>
      <div id="search_hot">
        <ul class="h_ul">
          <li class="h_li"><a href="#" id="copy_paper">复印纸</a></li>
          <li class="h_li"><a href="#" id="gel_pen">中性笔</a></li>
          <li class="h_li"><a href="#" id="rolls">卷纸</a></li>
        </ul>
      </div>
      <div id="h_main_menu">
        <ul class="h_ul">
          <li class="h_li"><a href="/">首页</a></li>
          <li class="h_li"><%= link_to "OA PC用品", oa_pc_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "文具办公用品", office_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "生活用品", daily_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "办公家具", off_fur_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "生活家具", liv_fur_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "家居饰品", fur_jew_commodity_categories_path %></li>
        </ul>
      </div>
      <!-- 2012/01/10 after discussion with Lucy, Homepage new horizontal menu ends here -->
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer">
      <div id="brand-corperate">
        <h2 class="bar_image_1000">合作品牌</h2>
        <ul>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_1.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_2.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_3.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_4.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_5.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_6.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_7.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_8.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_9.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_10.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_11.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_12.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_13.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_14.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_15.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "/assets/templates/footer/brand/brand_img_110_57_16.png", :width => "115px", :height => "57px" %></li>
        </ul>
      </div>
      <div id="footer_contact_bar">
        <ul class="h_ul">
          <li class="h_li"><a href="#">联系我们</a></li>
          <li class="h_li"><a href="#">集团介绍</a></li>
          <li class="h_li"><a href="#">壹美网络科技</a></li>
          <li class="h_li"><a href="#">网站联盟</a></li>
        </ul>
      </div>
      <div id="corp-info">
        <div>
          <h3>公司介绍</h3>
          <ul  class="corp_info_li_line_height">
            <li><%= link_to "我们是谁", who_am_i_home_index_path %></li>
            <li><%= link_to "集团伙伴", group_partner_home_index_path %></li>
            <li><%= link_to "媒体报道", media_report_home_index_path %></li>
            <li><%= link_to "加入我们", join_us_home_index_path %></li>
            <!--<li><a href="#" title="">申请成为供应商</a></li>-->
          </ul>
          <%= image_tag "/assets/templates/footer/logo_corp_info_1.png" %>
        </div>
        <div>
          <h3>我的订单</h3>
          <ul class="corp_info_li_line_height">
            <li><%= link_to "注册会员", registration_help_home_index_path %></li>
            <li><%= link_to "如何下单", how_to_buy_home_index_path %></li>
            <li><%= link_to "查询订单", how_to_query_order_home_index_path %></li>
          </ul>
          <%= image_tag "/assets/templates/footer/logo_corp_info_2.png" %>
        </div>
        <div>
          <h3>关于配送</h3>
          <ul class="corp_info_li_line_height">
            <li><%= link_to "配送范围", deliver_area_help_home_index_path %></li>
            <li><%= link_to "收费标准", deliver_fee_help_home_index_path %></li>
            <li><%= link_to "配送时间", deliver_time_help_home_index_path %></li>
          </ul>
          <%= image_tag "/assets/templates/footer/logo_corp_info_3.png" %>
        </div>
        <div>
          <h3>关于支付</h3>
          <ul class="corp_info_li_line_height">
            <li><%= link_to "支付方式", payment_method_help_home_index_path %></li>
            <li><%= link_to "月结用户", monthly_check_help_home_index_path %></li>
            <li><%= link_to "购物券说明", coupon_help_home_index_path %></li>
          </ul>
          <%= image_tag "/assets/templates/footer/logo_corp_info_4.png" %>
        </div>
        <div>
          <h3>服务说明</h3>
          <ul class="corp_info_li_line_height">
            <li><%= link_to "退换货原则", refund_principle_home_index_path %></li>
            <li><%= link_to "投诉与建议", complaints_suggestion_help_home_index_path %></li>
            <li><%= link_to "客户使用条款", users_terms_home_index_path %></li>
          </ul>
          <%= image_tag "/assets/templates/footer/logo_corp_info_5.png" %>
        </div>
        <div>
          <h3>帮助中心</h3>
          <ul class="corp_info_li_line_height">
            <li><%= link_to "忘记密码", forget_password_home_index_path %></li>
            <li><%= link_to "常见问题", faq_home_index_path %></li>
            <li><%= link_to "联系客服", contact_sd_home_index_path %></li>
          </ul>
          <%= image_tag "/assets/templates/footer/logo_corp_info_6.png" %>
        </div>
      </div>
      <ul class="h_ul clear footer_warranty">
        <li class="h_li"><%= image_tag "/assets/templates/footer/baozhang1.jpg" %></li>
        <li class="h_li"><%= image_tag "/assets/templates/footer/baozhang2.jpg" %></li>
        <li class="h_li"><%= image_tag "/assets/templates/footer/baozhang3.jpg" %></li>
        <li class="h_li"><%= image_tag "/assets/templates/footer/baozhang4.jpg" %></li>
      </ul>
      <ul class="h_ul clear footer_title">
        <li class="h_li">|</li>
        <li class="h_li">宁波网商协会副会长单位</li>
        <li class="h_li">|</li>
        <li class="h_li">宁波市信息化试点单位</li>
        <li class="h_li">|</li>
        <li class="h_li">象山县政府指定采购单位</li>
        <li class="h_li">|</li>
      </ul>
      <div id="copyright">
        <p>ICP备案编号：浙ICP备10210687号 <a href="#">营业执照</a></p>
        <p>copyright&copy;壹美壹家网上商城2010-2012 宁波壹美壹家贸易有限公司版权所有</p>
        <p>客服热线:400-630-5006 客服邮箱:cs@emehome.cn 技术支持:宁波壹美网络科技有限公司</p>
      </div>
      <div id="link_certificates">
        <ul class="h_ul">
          <li class="h_li"><%= image_tag "/assets/templates/footer/wang_luo_gong_shang.gif" %></li>
          <li class="h_li"><%= image_tag "/assets/templates/footer/alipay.gif" %></li>
          <li class="h_li"><%= image_tag "/assets/templates/footer/kxwz.gif" %></li>
          <li class="h_li"><%= image_tag "/assets/templates/footer/wljc.gif" %></li>
          <li class="h_li"><%= image_tag "/assets/templates/footer/xs.gif" %></li>
          <li class="h_li"><%= image_tag "/assets/templates/footer/yltysh.jpg" %></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>