<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>壹美壹家</title>
    <%= stylesheet_link_tag 'index/home/home','smoothness/jquery-ui-1.8.16.custom-jimmy' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'jquery','jquery-ui-1.8.16.custom.min','player' %>
    <%= javascript_include_tag params[:controller] %>
	<script>
	  //Homepage Sort List
	  jQuery(document).ready(function(){
        <%= yield(:ready) %> //动态加载js
	  });
    </script>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <%= image_tag "logo.GIF", :id => "logo" %>
      <div id="tool_bar">
        <ul>
          <li><a href="#">我的账户</a></li>
          <li>|</li>
          <li><a href="#">客服中心</a></li>
          <li>|</li>
          <li><a href="#">收藏本站</a></li>
          <li>|</li>
          <li><a href="#">订阅信息</a></li>
          <li>|</li>
          <li><a href="#">索取目录</a></li>
        </ul>
      </div>
      <div id="welcome">
        <p><a href="#" title="登陆">登陆</a> 或 <a href="#" title="注册">免费注册，享受会员服务</a></p>
      </div>
      <div id="cart">
        <p style="width: 100px; line-height:28px; vertical-align:middle; margin: 0px; padding: 0 0 0 32px;">购物车：<strong>999</strong> 件</p>
        <div style="position: absolute; top: 6px; right: 18px"><a href="#" style="color: #ffffff;">去结算</a></div>
      </div>
      <div id="share_bar">
        <%= image_tag "sina.png", :id => "sina", :width => "32", :height => "32"%>
        <%= image_tag "kaixin.png", :id => "kaixin", :width => "32", :height => "32"%>
      </div>
      <%= image_tag "headpic/headpic/headPhone_144_26.png", :id => "service_phone" %>
      <%= image_tag "headpic/headpic/ServiceOL_77_26.png", :id => "service_ol" %>
      <div id="search_bar">
        <form>
          <input type="text" name="keywords" size="30" maxlength="50" value="商品……">
          <a href="#" style="clear: left;">搜索</a>
        </form>
      </div>
      <div id="search_hot">
        <ul class="h_ul">
          <li class="h_li"><a href="#">复印纸</a></li>
          <li class="h_li"><a href="#">中性笔</a></li>
          <li class="h_li"><a href="#">卷纸</a></li>
        </ul>
      </div>
      <div id="h_main_menu">
        <ul class="h_ul">
          <li class="h_li"><a href="/">首页</a></li>
          <li class="h_li"><%= link_to "OA PC用品", oa_pc_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "文具办公用品", office_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "生活用品", daily_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "办公家具", off_fur_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "生活家具", liv_fur_commodity_categories_path %></li>
          <li class="h_li"><%= link_to "家居饰品", fur_jew_commodity_categories_path %></li>
        </ul>
      </div>
      <!-- 2012/01/10 after discussion with Lucy, Homepage new horizontal menu ends here -->
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer">
      <div id="brand-corperate">
        <h2 class="bar_image_1000">合作品牌</h2>
        <ul>
          <li><%= image_tag "brand/brand_img_110_57_1.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_2.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_3.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_4.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_5.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_6.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_7.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_8.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_9.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_10.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_11.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_12.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_13.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_14.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_15.png", :width => "115px", :height => "57px" %></li>
          <li><%= image_tag "brand/brand_img_110_57_16.png", :width => "115px", :height => "57px" %></li>
        </ul>
      </div>
      <div id="footer_contact_bar">
        <ul class="h_ul">
          <li class="h_li"><a href="#">联系我们</a></li>
          <li class="h_li"><a href="#">集团介绍</a></li>
          <li class="h_li"><a href="#">壹美网络科技</a></li>
          <li class="h_li"><a href="#">网站联盟</a></li>
        </ul>
      </div>
      <div id="corp-info">
        <div>
          <h3>公司介绍</h3>
          <ul  class="corp_info_li_line_height"> <!-- 修改了class 2012/01/12 -->
            <li><a href="#" title="">我们是谁</a></li>
            <li><a href="#" title="">集团伙伴</a></li>
            <li><a href="#" title="">媒体报道</a></li>
            <li><a href="#" title="">加入我们</a></li>
            <li><a href="#" title="">申请成为供应商</a></li>
          </ul>
          <%= image_tag "logo_corp_info_1.png" %>
        </div>
        <div>
          <h3>我的订单</h3>
          <ul class="corp_info_li_line_height"> <!-- 修改了class 2012/01/12 -->
            <li><a href="#" title="">注册会员</a></li>
            <li><a href="#" title="">如何下单</a></li>
            <li><a href="#" title="">查询订单</a></li>
          </ul>
          <%= image_tag "logo_corp_info_2.png" %>
        </div>
        <div>
          <h3>关于配送</h3>
          <ul class="corp_info_li_line_height"> <!-- 修改了class 2012/01/12 -->
            <li><a href="#" title="">配送范围</a></li>
            <li><a href="#" title="">收费标准</a></li>
            <li><a href="#" title="">配送时间</a></li>
          </ul>
          <%= image_tag "logo_corp_info_3.png" %>
        </div>
        <div>
          <h3>关于支付</h3>
          <ul class="corp_info_li_line_height"> <!-- 修改了class 2012/01/12 -->
            <li><a href="#" title="">支付方式</a></li>
            <li><a href="#" title="">月结用户</a></li>
            <li><a href="#" title="">购物券说明</a></li>
          </ul>
          <%= image_tag "logo_corp_info_4.png" %>
        </div>
        <div>
          <h3>服务说明</h3>
          <ul class="corp_info_li_line_height"> <!-- 修改了class 2012/01/12 -->
            <li><a href="#" title="">退换货原则</a></li>
            <li><a href="#" title="">投诉与建议</a></li>
            <li><a href="#" title="">客户使用条款</a></li>
          </ul>
          <%= image_tag "logo_corp_info_5.png" %>
        </div>
        <div>
          <h3>帮助中心</h3>
          <ul class="corp_info_li_line_height"> <!-- 修改了class 2012/01/12 -->
            <li><a href="#" title="">忘记密码</a></li>
            <li><a href="#" title="">常见问题</a></li>
            <li><a href="#" title="">联系客服</a></li>
          </ul>
          <%= image_tag "logo_corp_info_6.png" %>
        </div>
      </div>
      <ul class="h_ul clear footer_warranty">
        <li class="h_li"><%= image_tag "baozhang1.jpg" %></li>
        <li class="h_li"><%= image_tag "baozhang2.jpg" %></li>
        <li class="h_li"><%= image_tag "baozhang3.jpg" %></li>
        <li class="h_li"><%= image_tag "baozhang4.jpg" %></li>
      </ul>
      <ul class="h_ul clear footer_title">
        <li class="h_li">|</li>
        <li class="h_li">宁波网商协会副会长单位</li>
        <li class="h_li">|</li>
        <li class="h_li">宁波市信息化试点单位</li>
        <li class="h_li">|</li>
        <li class="h_li">象山县政府指定采购单位</li>
        <li class="h_li">|</li>
      </ul>
      <div id="copyright">
        <p>ICP备案编号：浙ICP备10210687号 <a href="#">营业执照</a></p>
        <p>copyright&copy;壹美壹家网上商城2010-2012 宁波壹美壹家贸易有限公司版权所有</p>
        <p>客服热线:400-630-5006 客服邮箱:cs@emehome.cn 技术支持:宁波壹美网络科技有限公司</p>
      </div>
      <div id="link_certificates">
        <ul class="h_ul">
          <li class="h_li"><%= image_tag "wang_luo_gong_shang.gif" %></li>
          <li class="h_li"><%= image_tag "alipay.gif" %></li>
          <li class="h_li"><%= image_tag "kxwz.gif" %></li>
          <li class="h_li"><%= image_tag "wljc.gif" %></li>
          <li class="h_li"><%= image_tag "xs.gif" %></li>
          <li class="h_li"><%= image_tag "yltysh.jpg" %></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>