<div class="well">
  <%= link_to "#{content_tag(:i, '', :class => 'icon-plus-sign')} #{t('admin.actions.new.title', :model => t('activerecord.models.taurus/group'))}".html_safe, new_admin_group_path, :class => "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.taurus/group.name') %></th>
      <th><%= t('activerecord.attributes.taurus/group.description') %></th>
      <th><%= t('admin.misc.operation') %></th>
    </tr>
  </thead>
  <% @groups.each_with_index do |group,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= link_to group.name, admin_group_path(group) %></td>
      <td><%= group.description %></td>
      <td><%= link_to t('admin.actions.edit.menu'), edit_admin_group_path(group), :class => "btn btn-primary trk-btn-short" %></td>
    </tr>
  <% end %>
  <tfoot>
    <tr><td colspan="4"><%= will_paginate @groups, :renderer => BootstrapPagination::Rails %></td></tr>
  </tfoot>
</table>