<div class="well">
  <a href="<%= edit_admin_group_path(@group) %>" class="btn btn-primary" id="update_tag">
    <i class="icon-edit"></i>
    <%= t('admin.actions.edit.menu') %>
  </a>
  
  <%= link_to "<i class='icon-arrow-left'></i> #{t('admin.misc.back')}".html_safe, admin_groups_path, 
              :class => "btn pull-right" %>
</div>

<%= flash_messages %>

<%= simple_form_for(@group, :url => "#", :html => {:class => 'form-horizontal'}) do |f| %>
  <fieldset>
    <%= f.input :name, :disabled => true %>
    <%= f.input :description, :disabled => true %>
  </fieldset>
<% end %>